openapi: 3.0.3
info:
  title: 'API Documentation'
  description: 'This documentation aims to provide all the information you need to work with the API and data for trovster.com.'
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
tags:
  -
    name: Intro
    description: ''
  -
    name: Activities
    description: ''
  -
    name: Avatars
    description: ''
  -
    name: Blog
    description: ''
  -
    name: Books
    description: ''
  -
    name: Health
    description: ''
  -
    name: 'Links & Articles'
    description: ''
  -
    name: Movies
    description: ''
  -
    name: Music
    description: ''
  -
    name: 'Music Events'
    description: ''
  -
    name: Statistics
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'API tokens are provided on request.'
security:
  -
    default: []
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: 'This endpoint provides links to the main available API endpoints.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    music: 'http://api.trovster.com/music'
                    photos: 'http://api.trovster.com/photos'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      music:
                        type: string
                        example: 'http://api.trovster.com/music'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: 'List All Activities'
      operationId: listAllActivities
      description: "This endpoint allows you to list all activities.\nEach entry contains basic activity information, such as title, date, summary, speed,\ndistance, moving time and type.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2993
                      title: 'dolorum ut repudiandae'
                      date: '2025-02-15T08:47:02+00:00'
                      summary: 'ed for 9 seconds on 15th February 2025.'
                      speed: 62.3882566
                      distance: 0
                      timeMoving: 0.15
                      type: ''
                      links:
                        self: 'http://api.trovster.com/activities/529234'
                        permalink: 'http://www.trovster.com/activities/529234'
                    -
                      id: 2994
                      title: 'consequatur est velit'
                      date: '2025-02-19T07:30:59+00:00'
                      summary: 'ed for 6 seconds on 19th February 2025.'
                      speed: 77.5323404
                      distance: 0
                      timeMoving: 0.1
                      type: ''
                      links:
                        self: 'http://api.trovster.com/activities/0'
                        permalink: 'http://www.trovster.com/activities/0'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2993
                        title: 'dolorum ut repudiandae'
                        date: '2025-02-15T08:47:02+00:00'
                        summary: 'ed for 9 seconds on 15th February 2025.'
                        speed: 62.3882566
                        distance: 0
                        timeMoving: 0.15
                        type: ''
                        links:
                          self: 'http://api.trovster.com/activities/529234'
                          permalink: 'http://www.trovster.com/activities/529234'
                      -
                        id: 2994
                        title: 'consequatur est velit'
                        date: '2025-02-19T07:30:59+00:00'
                        summary: 'ed for 6 seconds on 19th February 2025.'
                        speed: 77.5323404
                        distance: 0
                        timeMoving: 0.1
                        type: ''
                        links:
                          self: 'http://api.trovster.com/activities/0'
                          permalink: 'http://www.trovster.com/activities/0'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2993
                        title:
                          type: string
                          example: 'dolorum ut repudiandae'
                        date:
                          type: string
                          example: '2025-02-15T08:47:02+00:00'
                        summary:
                          type: string
                          example: 'ed for 9 seconds on 15th February 2025.'
                        speed:
                          type: number
                          example: 62.3882566
                        distance:
                          type: integer
                          example: 0
                        timeMoving:
                          type: number
                          example: 0.15
                        type:
                          type: string
                          example: ''
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/529234'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/529234'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: 'Get an Activity'
      operationId: getAnActivity
      description: "This endpoint allows you to get a specific activity, based on the Strava ID.\nThe entry contains the same information provided in the listing, but also includes\nany extra text and the polyline representation. The type is an object which includes\nthe ID as well as the type name.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The polyline can be used with mapping software to show the route.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2995
                    title: 'asperiores consequuntur quis'
                    date: '2025-02-15T23:52:05+00:00'
                    summary: 'Cycled for 2 seconds on 15th February 2025.'
                    speed: 26.8209106
                    distance: 0
                    timeMoving: 0.033333333333333
                    html: "<p>Nam nobis corporis eius voluptatum et quae et autem. Sed odit odio voluptatem sequi neque voluptas. Dolorem incidunt deserunt laborum ut deleniti et vel. Quam harum sit error.</p>\n"
                    polyline: 9c672aec-c591-3ac7-a1bb-8a4360fedcb7
                    type:
                      id: 19
                      name: 'E-Bike Ride'
                    links:
                      self: 'http://api.trovster.com/activities/3089'
                      permalink: 'http://www.trovster.com/activities/3089'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2995
                      title:
                        type: string
                        example: 'asperiores consequuntur quis'
                      date:
                        type: string
                        example: '2025-02-15T23:52:05+00:00'
                      summary:
                        type: string
                        example: 'Cycled for 2 seconds on 15th February 2025.'
                      speed:
                        type: number
                        example: 26.8209106
                      distance:
                        type: integer
                        example: 0
                      timeMoving:
                        type: number
                        example: 0.033333333333333
                      html:
                        type: string
                        example: "<p>Nam nobis corporis eius voluptatum et quae et autem. Sed odit odio voluptatem sequi neque voluptas. Dolorem incidunt deserunt laborum ut deleniti et vel. Quam harum sit error.</p>\n"
                      polyline:
                        type: string
                        example: 9c672aec-c591-3ac7-a1bb-8a4360fedcb7
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 19
                          name:
                            type: string
                            example: 'E-Bike Ride'
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/3089'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/3089'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: 'List All Avatars'
      operationId: listAllAvatars
      description: "This endpoint allows you to list all avatars.\nEach entry contains basic avatar information, such as the alt (name), URL and size.\nIt also notes which is the \"current\" avatar.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 16
                      current: true
                      size: 0
                      slug: itaque-quia-nobis-et-quae-tempore-exercitationem
                      url: /storage/example.jpg
                      alt: 'Low Poly'
                      height: null
                      width: null
                      links:
                        self: 'http://api.trovster.com/avatars/itaque-quia-nobis-et-quae-tempore-exercitationem'
                    -
                      version: 16
                      current: true
                      size: 0
                      slug: nesciunt-nam-aperiam-qui-quaerat-non-in-ipsam
                      url: /storage/example.jpg
                      alt: 'Low Poly'
                      height: null
                      width: null
                      links:
                        self: 'http://api.trovster.com/avatars/nesciunt-nam-aperiam-qui-quaerat-non-in-ipsam'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 16
                        current: true
                        size: 0
                        slug: itaque-quia-nobis-et-quae-tempore-exercitationem
                        url: /storage/example.jpg
                        alt: 'Low Poly'
                        height: null
                        width: null
                        links:
                          self: 'http://api.trovster.com/avatars/itaque-quia-nobis-et-quae-tempore-exercitationem'
                      -
                        version: 16
                        current: true
                        size: 0
                        slug: nesciunt-nam-aperiam-qui-quaerat-non-in-ipsam
                        url: /storage/example.jpg
                        alt: 'Low Poly'
                        height: null
                        width: null
                        links:
                          self: 'http://api.trovster.com/avatars/nesciunt-nam-aperiam-qui-quaerat-non-in-ipsam'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 16
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 0
                        slug:
                          type: string
                          example: itaque-quia-nobis-et-quae-tempore-exercitationem
                        url:
                          type: string
                          example: /storage/example.jpg
                        alt:
                          type: string
                          example: 'Low Poly'
                        height:
                          type: string
                          example: null
                        width:
                          type: string
                          example: null
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/avatars/itaque-quia-nobis-et-quae-tempore-exercitationem'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: 'Get an Avatar'
      operationId: getAnAvatar
      description: "This endpoint allows you to get a specific avatar, based on the slug.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 16
                    current: true
                    size: 0
                    slug: dolorum-eligendi-dolor-eos-facilis-consequatur-illo-neque-optio
                    url: /storage/example.jpg
                    alt: 'Low Poly'
                    height: null
                    width: null
                    links:
                      self: 'http://api.trovster.com/avatars/dolorum-eligendi-dolor-eos-facilis-consequatur-illo-neque-optio'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 16
                      current:
                        type: boolean
                        example: true
                      size:
                        type: integer
                        example: 0
                      slug:
                        type: string
                        example: dolorum-eligendi-dolor-eos-facilis-consequatur-illo-neque-optio
                      url:
                        type: string
                        example: /storage/example.jpg
                      alt:
                        type: string
                        example: 'Low Poly'
                      height:
                        type: string
                        example: null
                      width:
                        type: string
                        example: null
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/avatars/dolorum-eligendi-dolor-eos-facilis-consequatur-illo-neque-optio'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: 'List All Blog Posts'
      operationId: listAllBlogPosts
      description: "This endpoint allows you to list all blog posts.\nEach entry contains basic post information, such as title, date, summary,\nword count and an array of categories.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 441
                      title: 'Eaque rem eum et earum cum voluptate ut ab.'
                      date: '2025-02-19T03:21:32+00:00'
                      summary: 'Quasi tenetur expedita soluta ut. Ratione ut corrupti optio dolorum cupiditate vel inventore. Molestiae consequatur et perspiciatis delectus saepe et fuga. Et tempore et similique aut rerum…'
                      wordCount: 224
                      categories:
                        - dolorem
                      links:
                        self: 'http://api.trovster.com/blog/eaque-rem-eum-et-earum-cum-voluptate-ut-ab'
                        permalink: 'http://www.trovster.com/blog/2025/02/eaque-rem-eum-et-earum-cum-voluptate-ut-ab'
                    -
                      id: 442
                      title: 'Quis hic est ea temporibus sit velit.'
                      date: '2025-02-19T03:29:25+00:00'
                      summary: 'Repellat quo optio excepturi facilis repellendus dolorem repudiandae. Sed explicabo voluptas ea doloribus officia aut et. Ea ad quibusdam iure et aliquid corporis ut. Autem laudantium maiore…'
                      wordCount: 204
                      categories:
                        - quis
                      links:
                        self: 'http://api.trovster.com/blog/quis-hic-est-ea-temporibus-sit-velit'
                        permalink: 'http://www.trovster.com/blog/2025/02/quis-hic-est-ea-temporibus-sit-velit'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 441
                        title: 'Eaque rem eum et earum cum voluptate ut ab.'
                        date: '2025-02-19T03:21:32+00:00'
                        summary: 'Quasi tenetur expedita soluta ut. Ratione ut corrupti optio dolorum cupiditate vel inventore. Molestiae consequatur et perspiciatis delectus saepe et fuga. Et tempore et similique aut rerum…'
                        wordCount: 224
                        categories:
                          - dolorem
                        links:
                          self: 'http://api.trovster.com/blog/eaque-rem-eum-et-earum-cum-voluptate-ut-ab'
                          permalink: 'http://www.trovster.com/blog/2025/02/eaque-rem-eum-et-earum-cum-voluptate-ut-ab'
                      -
                        id: 442
                        title: 'Quis hic est ea temporibus sit velit.'
                        date: '2025-02-19T03:29:25+00:00'
                        summary: 'Repellat quo optio excepturi facilis repellendus dolorem repudiandae. Sed explicabo voluptas ea doloribus officia aut et. Ea ad quibusdam iure et aliquid corporis ut. Autem laudantium maiore…'
                        wordCount: 204
                        categories:
                          - quis
                        links:
                          self: 'http://api.trovster.com/blog/quis-hic-est-ea-temporibus-sit-velit'
                          permalink: 'http://www.trovster.com/blog/2025/02/quis-hic-est-ea-temporibus-sit-velit'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 441
                        title:
                          type: string
                          example: 'Eaque rem eum et earum cum voluptate ut ab.'
                        date:
                          type: string
                          example: '2025-02-19T03:21:32+00:00'
                        summary:
                          type: string
                          example: 'Quasi tenetur expedita soluta ut. Ratione ut corrupti optio dolorum cupiditate vel inventore. Molestiae consequatur et perspiciatis delectus saepe et fuga. Et tempore et similique aut rerum…'
                        wordCount:
                          type: integer
                          example: 224
                        categories:
                          type: array
                          example:
                            - dolorem
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/eaque-rem-eum-et-earum-cum-voluptate-ut-ab'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2025/02/eaque-rem-eum-et-earum-cum-voluptate-ut-ab'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{Safe}':
    get:
      summary: 'Get a Blog Post'
      operationId: getABlogPost
      description: "This endpoint allows you to get a specific blog post, based on the ID.\nThe entry contains the full blog post information, including the full html.\nThe category array contains objects of category ID and name."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 443
                    title: 'Sit illum nulla consequatur sed aperiam quia.'
                    date: '2025-02-15T08:51:56+00:00'
                    summary: 'Et mollitia veritatis voluptates. Beatae sunt mollitia a. Ut quas fugiat voluptatem aut. Cum et mollitia ut voluptatem aut quibusdam dolor. Optio consequatur dolore aut dignissimos occaecati…'
                    wordCount: 202
                    html: "<p>Et mollitia veritatis voluptates. Beatae sunt mollitia a. Ut quas fugiat voluptatem aut.</p>\n<p>Cum et mollitia ut voluptatem aut quibusdam dolor. Optio consequatur dolore aut dignissimos occaecati. Magni dolorem consequatur voluptas doloribus recusandae rerum quo.</p>\n<p>Placeat eum aut nobis consequuntur quis. Cum laborum velit assumenda nemo itaque dolorem. Non fugit similique et adipisci quis quo. Occaecati non error autem.</p>\n<p>Culpa non ullam molestiae animi sed neque. Similique et quo at corrupti veritatis aut et. Ratione hic alias et repudiandae debitis voluptatibus. Expedita esse magni provident et tempora qui nihil.</p>\n<p>In eos odio aut voluptas. Optio qui rerum est aut quod dicta maxime. Esse est ut accusantium et.</p>\n<p>Recusandae dolore cum ut nesciunt nemo. Vel et commodi excepturi molestiae rem non. Ad doloremque facilis praesentium.</p>\n<p>Omnis dolor voluptatem eos voluptate ea sint veritatis. Omnis tempore officia eum. Quaerat dolorum voluptatibus delectus temporibus molestiae maxime id. Eveniet officia debitis debitis pariatur.</p>\n<p>Explicabo nulla repellendus est a impedit quia maiores. Reiciendis alias cupiditate adipisci eos. Sit fugit in aut impedit modi est sunt.</p>\n<p>Quisquam quaerat eveniet consectetur rerum molestias. Ut et accusamus repellat quidem qui aperiam vel.</p>\n<p>Cupiditate sunt non sunt. Aut nemo facilis dolor consectetur distinctio iste. Et occaecati quia dolores nemo non eius.</p>\n"
                    categories:
                      -
                        id: 138
                        name: blanditiis
                    links:
                      self: 'http://api.trovster.com/blog/sit-illum-nulla-consequatur-sed-aperiam-quia'
                      permalink: 'http://www.trovster.com/blog/2025/02/sit-illum-nulla-consequatur-sed-aperiam-quia'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 443
                      title:
                        type: string
                        example: 'Sit illum nulla consequatur sed aperiam quia.'
                      date:
                        type: string
                        example: '2025-02-15T08:51:56+00:00'
                      summary:
                        type: string
                        example: 'Et mollitia veritatis voluptates. Beatae sunt mollitia a. Ut quas fugiat voluptatem aut. Cum et mollitia ut voluptatem aut quibusdam dolor. Optio consequatur dolore aut dignissimos occaecati…'
                      wordCount:
                        type: integer
                        example: 202
                      html:
                        type: string
                        example: "<p>Et mollitia veritatis voluptates. Beatae sunt mollitia a. Ut quas fugiat voluptatem aut.</p>\n<p>Cum et mollitia ut voluptatem aut quibusdam dolor. Optio consequatur dolore aut dignissimos occaecati. Magni dolorem consequatur voluptas doloribus recusandae rerum quo.</p>\n<p>Placeat eum aut nobis consequuntur quis. Cum laborum velit assumenda nemo itaque dolorem. Non fugit similique et adipisci quis quo. Occaecati non error autem.</p>\n<p>Culpa non ullam molestiae animi sed neque. Similique et quo at corrupti veritatis aut et. Ratione hic alias et repudiandae debitis voluptatibus. Expedita esse magni provident et tempora qui nihil.</p>\n<p>In eos odio aut voluptas. Optio qui rerum est aut quod dicta maxime. Esse est ut accusantium et.</p>\n<p>Recusandae dolore cum ut nesciunt nemo. Vel et commodi excepturi molestiae rem non. Ad doloremque facilis praesentium.</p>\n<p>Omnis dolor voluptatem eos voluptate ea sint veritatis. Omnis tempore officia eum. Quaerat dolorum voluptatibus delectus temporibus molestiae maxime id. Eveniet officia debitis debitis pariatur.</p>\n<p>Explicabo nulla repellendus est a impedit quia maiores. Reiciendis alias cupiditate adipisci eos. Sit fugit in aut impedit modi est sunt.</p>\n<p>Quisquam quaerat eveniet consectetur rerum molestias. Ut et accusamus repellat quidem qui aperiam vel.</p>\n<p>Cupiditate sunt non sunt. Aut nemo facilis dolor consectetur distinctio iste. Et occaecati quia dolores nemo non eius.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 138
                            name: blanditiis
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 138
                            name:
                              type: string
                              example: blanditiis
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/sit-illum-nulla-consequatur-sed-aperiam-quia'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2025/02/sit-illum-nulla-consequatur-sed-aperiam-quia'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: Safe
        description: ''
        example: at-et-iste-ut-alias-sequi-odit
        required: true
        schema:
          type: string
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: 'List All Books'
      operationId: listAllBooks
      description: "This endpoint allows you to list all books.\nEach entry contains basic book information, such as title, ISBN, summary,\nand page count.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 206
                      isbn: '9784846885328'
                      title: 'Consequatur sapiente quis numquam atque sint velit perspiciatis.'
                      summary: 'Vel doloremque voluptas dicta ex culpa voluptatem dolores. A ut quo accusamus culpa.'
                      pageCount: 5
                      links:
                        self: 'http://api.trovster.com/books/9784846885328'
                        permalink: 'http://www.trovster.com/books/9784846885328/ipsa-praesentium-qui-consequuntur-ea'
                    -
                      id: 207
                      isbn: '9783315967688'
                      title: 'Atque ipsa quae quo tempore eaque beatae.'
                      summary: 'Dolorum iusto est hic dolorum et vitae necessitatibus. Quia sit accusamus reiciendis ipsa quam possimus. Tempora labore nesciunt eum molestias aliquam rem. Voluptas nihil velit id.'
                      pageCount: 4
                      links:
                        self: 'http://api.trovster.com/books/9783315967688'
                        permalink: 'http://www.trovster.com/books/9783315967688/laboriosam-voluptatem-a-est-dolor-facere-iure-officia'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 206
                        isbn: '9784846885328'
                        title: 'Consequatur sapiente quis numquam atque sint velit perspiciatis.'
                        summary: 'Vel doloremque voluptas dicta ex culpa voluptatem dolores. A ut quo accusamus culpa.'
                        pageCount: 5
                        links:
                          self: 'http://api.trovster.com/books/9784846885328'
                          permalink: 'http://www.trovster.com/books/9784846885328/ipsa-praesentium-qui-consequuntur-ea'
                      -
                        id: 207
                        isbn: '9783315967688'
                        title: 'Atque ipsa quae quo tempore eaque beatae.'
                        summary: 'Dolorum iusto est hic dolorum et vitae necessitatibus. Quia sit accusamus reiciendis ipsa quam possimus. Tempora labore nesciunt eum molestias aliquam rem. Voluptas nihil velit id.'
                        pageCount: 4
                        links:
                          self: 'http://api.trovster.com/books/9783315967688'
                          permalink: 'http://www.trovster.com/books/9783315967688/laboriosam-voluptatem-a-est-dolor-facere-iure-officia'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 206
                        isbn:
                          type: string
                          example: '9784846885328'
                        title:
                          type: string
                          example: 'Consequatur sapiente quis numquam atque sint velit perspiciatis.'
                        summary:
                          type: string
                          example: 'Vel doloremque voluptas dicta ex culpa voluptatem dolores. A ut quo accusamus culpa.'
                        pageCount:
                          type: integer
                          example: 5
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9784846885328'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9784846885328/ipsa-praesentium-qui-consequuntur-ea'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: 'Get a Book'
      operationId: getABook
      description: "This endpoint allows you to get a specific book, based on the ISBN.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 208
                    isbn: '9789558069745'
                    title: 'Sunt quia repellat molestiae quidem eveniet.'
                    summary: 'Et assumenda iusto quisquam ut quas magni impedit. Eius quia incidunt exercitationem. Quia dolorem ipsa a molestiae consequatur id id.'
                    pageCount: 6
                    links:
                      self: 'http://api.trovster.com/books/9789558069745'
                      permalink: 'http://www.trovster.com/books/9789558069745/temporibus-omnis-et-quis-velit-dolorum-dolores-ipsa'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 208
                      isbn:
                        type: string
                        example: '9789558069745'
                      title:
                        type: string
                        example: 'Sunt quia repellat molestiae quidem eveniet.'
                      summary:
                        type: string
                        example: 'Et assumenda iusto quisquam ut quas magni impedit. Eius quia incidunt exercitationem. Quia dolorem ipsa a molestiae consequatur id id.'
                      pageCount:
                        type: integer
                        example: 6
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9789558069745'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9789558069745/temporibus-omnis-et-quis-velit-dolorum-dolores-ipsa'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: 'Read a Book'
      operationId: readABook
      description: "This endpoint allows you to <strong>mark a book as read</strong>.\nThis requires the book ISBN13 and the date read.\nA rating between 1 and 10 is <em>optional</em>."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2025-02-20T00:00:00.000000Z'
                    rating: 9
                    book:
                      id: 205
                      isbn: '9789260937509'
                      title: 'Sed repellat ducimus ex quaerat reprehenderit officia animi vel.'
                      summary: 'Sunt aut ipsam in autem soluta et incidunt. Neque unde aut placeat ad est. Eveniet non cumque alias totam rerum distinctio. Voluptatum eius dolorem nemo omnis accusantium rerum.'
                      pageCount: 2
                      links:
                        self: 'http://api.trovster.com/books/9789260937509'
                        permalink: 'http://www.trovster.com/books/9789260937509/praesentium-est-quia-voluptas-officiis'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2025-02-20T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 9
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 205
                          isbn:
                            type: string
                            example: '9789260937509'
                          title:
                            type: string
                            example: 'Sed repellat ducimus ex quaerat reprehenderit officia animi vel.'
                          summary:
                            type: string
                            example: 'Sunt aut ipsam in autem soluta et incidunt. Neque unde aut placeat ad est. Eveniet non cumque alias totam rerum distinctio. Voluptatum eius dolorem nemo omnis accusantium rerum.'
                          pageCount:
                            type: integer
                            example: 2
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9789260937509'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9789260937509/praesentium-est-quia-voluptas-officiis'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2013-02-18'
                  nullable: false
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 1
                  nullable: true
                isbn:
                  type: string
                  description: 'Must be 13 digits.'
                  example: 9781451648539
                  nullable: false
              required:
                - date
                - isbn
  /fitness:
    get:
      summary: 'List All Fitness Data'
      operationId: listAllFitnessData
      description: "This endpoint allows you to list all the fitness data.\nEach entry contains basic fitness information, such as date, summary, steps,\ndistance and flights.\nThere are objects for move, exercise and stand data. These include the total, goal,\npercent and whether the item was completed.\n<strong>The summary is a useful sentence describing the information.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 504
                      date: '1977-05-10T00:00:00+00:00'
                      summary: 'I took 9 steps, walked 0.00 miles and climbed 1 flights on 10/05/1977.'
                      steps: 9
                      distance: 8
                      flights: 1
                      move:
                        total: 5
                        goal: 5
                        percent: 100
                        complete: true
                      exercise:
                        total: 1
                        goal: 2
                        percent: 50
                        complete: false
                      stand:
                        total: 4
                        goal: 9
                        percent: 44
                        complete: false
                      links:
                        self: 'http://api.trovster.com/fitness/1977-05-10'
                        permalink: 'http://www.trovster.com/activities/1977-05-10'
                    -
                      id: 505
                      date: '1977-10-10T00:00:00+00:00'
                      summary: 'I took 4 steps, walked 0.00 miles and climbed 5 flights on 10/10/1977.'
                      steps: 4
                      distance: 6
                      flights: 5
                      move:
                        total: 9
                        goal: 4
                        percent: 225
                        complete: true
                      exercise:
                        total: 4
                        goal: 3
                        percent: 133
                        complete: true
                      stand:
                        total: 2
                        goal: 1
                        percent: 200
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/1977-10-10'
                        permalink: 'http://www.trovster.com/activities/1977-10-10'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 504
                        date: '1977-05-10T00:00:00+00:00'
                        summary: 'I took 9 steps, walked 0.00 miles and climbed 1 flights on 10/05/1977.'
                        steps: 9
                        distance: 8
                        flights: 1
                        move:
                          total: 5
                          goal: 5
                          percent: 100
                          complete: true
                        exercise:
                          total: 1
                          goal: 2
                          percent: 50
                          complete: false
                        stand:
                          total: 4
                          goal: 9
                          percent: 44
                          complete: false
                        links:
                          self: 'http://api.trovster.com/fitness/1977-05-10'
                          permalink: 'http://www.trovster.com/activities/1977-05-10'
                      -
                        id: 505
                        date: '1977-10-10T00:00:00+00:00'
                        summary: 'I took 4 steps, walked 0.00 miles and climbed 5 flights on 10/10/1977.'
                        steps: 4
                        distance: 6
                        flights: 5
                        move:
                          total: 9
                          goal: 4
                          percent: 225
                          complete: true
                        exercise:
                          total: 4
                          goal: 3
                          percent: 133
                          complete: true
                        stand:
                          total: 2
                          goal: 1
                          percent: 200
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/1977-10-10'
                          permalink: 'http://www.trovster.com/activities/1977-10-10'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 504
                        date:
                          type: string
                          example: '1977-05-10T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 9 steps, walked 0.00 miles and climbed 1 flights on 10/05/1977.'
                        steps:
                          type: integer
                          example: 9
                        distance:
                          type: integer
                          example: 8
                        flights:
                          type: integer
                          example: 1
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 5
                            goal:
                              type: integer
                              example: 5
                            percent:
                              type: integer
                              example: 100
                            complete:
                              type: boolean
                              example: true
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 1
                            goal:
                              type: integer
                              example: 2
                            percent:
                              type: integer
                              example: 50
                            complete:
                              type: boolean
                              example: false
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 4
                            goal:
                              type: integer
                              example: 9
                            percent:
                              type: integer
                              example: 44
                            complete:
                              type: boolean
                              example: false
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/1977-05-10'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/1977-05-10'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
    post:
      summary: 'Store Fitness Data'
      operationId: storeFitnessData
      description: "This endpoint allows you to store fitness data.\nIt required a date and basic health data, such as active energy, step count,\ndistance and flights climbed. The total for movie, exercise and stand are also\nrequired."
      parameters: []
      responses: {  }
      tags:
        - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '1996-10-24'
                  nullable: false
                active_energy:
                  type: number
                  description: ''
                  example: 7600.0
                  nullable: false
                step_count:
                  type: number
                  description: ''
                  example: 7500.0
                  nullable: false
                distance:
                  type: number
                  description: ''
                  example: 5000.0
                  nullable: false
                flights_climbed:
                  type: number
                  description: ''
                  example: 10.0
                  nullable: false
                move_total:
                  type: number
                  description: ''
                  example: 650.0
                  nullable: false
                exercise_total:
                  type: number
                  description: ''
                  example: 30.0
                  nullable: false
                stand_total:
                  type: number
                  description: ''
                  example: 12.0
                  nullable: false
              required:
                - date
                - active_energy
                - step_count
                - distance
                - flights_climbed
                - move_total
                - exercise_total
                - stand_total
  '/fitness/{health_date}':
    get:
      summary: 'Get Fitness Data'
      operationId: getFitnessData
      description: "This endpoint allows you to get fitness data, based on the date.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 506
                    date: '1985-01-15T00:00:00+00:00'
                    summary: 'I took 6 steps, walked 0.00 miles and climbed 7 flights on 15/01/1985.'
                    steps: 6
                    distance: 3
                    flights: 7
                    move:
                      total: 2
                      goal: 2
                      percent: 100
                      complete: true
                    exercise:
                      total: 6
                      goal: 1
                      percent: 600
                      complete: true
                    stand:
                      total: 6
                      goal: 1
                      percent: 600
                      complete: true
                    links:
                      self: 'http://api.trovster.com/fitness/1985-01-15'
                      permalink: 'http://www.trovster.com/activities/1985-01-15'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 506
                      date:
                        type: string
                        example: '1985-01-15T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 6 steps, walked 0.00 miles and climbed 7 flights on 15/01/1985.'
                      steps:
                        type: integer
                        example: 6
                      distance:
                        type: integer
                        example: 3
                      flights:
                        type: integer
                        example: 7
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          goal:
                            type: integer
                            example: 2
                          percent:
                            type: integer
                            example: 100
                          complete:
                            type: boolean
                            example: true
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 6
                          goal:
                            type: integer
                            example: 1
                          percent:
                            type: integer
                            example: 600
                          complete:
                            type: boolean
                            example: true
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 6
                          goal:
                            type: integer
                            example: 1
                          percent:
                            type: integer
                            example: 600
                          complete:
                            type: boolean
                            example: true
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/1985-01-15'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/1985-01-15'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /links:
    get:
      summary: 'List All Links'
      operationId: listAllLinks
      description: "This endpoint allows you to list all links.\nEach entry contains basic link information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2121
                      title: 'Sed assumenda inventore aut assumenda delectus voluptatem.'
                      date: '2025-02-16T15:21:26+00:00'
                      summary: 'Sequi et perspiciatis ad quidem est deserunt voluptatibus. Voluptatum assumenda deserunt quidem ullam accusamus. Consequuntur sit unde soluta animi expedita. Corporis quam nisi voluptatum est et.'
                      url: 'http://www.edwards.org/'
                      links:
                        self: 'http://api.trovster.com/links/2121'
                        permalink: 'http://www.edwards.org/'
                    -
                      id: 2122
                      title: 'Dicta quasi alias pariatur est sunt animi et.'
                      date: '2025-02-14T21:41:03+00:00'
                      summary: 'Soluta ut voluptatem sunt qui. Dolores nulla magni consectetur doloribus. Adipisci dolor asperiores ut mollitia eum consequatur. Consequatur quia nihil reiciendis quod.'
                      url: 'http://www.anderson.biz/consequatur-repellat-consequuntur-dolorem-sequi-sit-sint-occaecati'
                      links:
                        self: 'http://api.trovster.com/links/2122'
                        permalink: 'http://www.anderson.biz/consequatur-repellat-consequuntur-dolorem-sequi-sit-sint-occaecati'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2121
                        title: 'Sed assumenda inventore aut assumenda delectus voluptatem.'
                        date: '2025-02-16T15:21:26+00:00'
                        summary: 'Sequi et perspiciatis ad quidem est deserunt voluptatibus. Voluptatum assumenda deserunt quidem ullam accusamus. Consequuntur sit unde soluta animi expedita. Corporis quam nisi voluptatum est et.'
                        url: 'http://www.edwards.org/'
                        links:
                          self: 'http://api.trovster.com/links/2121'
                          permalink: 'http://www.edwards.org/'
                      -
                        id: 2122
                        title: 'Dicta quasi alias pariatur est sunt animi et.'
                        date: '2025-02-14T21:41:03+00:00'
                        summary: 'Soluta ut voluptatem sunt qui. Dolores nulla magni consectetur doloribus. Adipisci dolor asperiores ut mollitia eum consequatur. Consequatur quia nihil reiciendis quod.'
                        url: 'http://www.anderson.biz/consequatur-repellat-consequuntur-dolorem-sequi-sit-sint-occaecati'
                        links:
                          self: 'http://api.trovster.com/links/2122'
                          permalink: 'http://www.anderson.biz/consequatur-repellat-consequuntur-dolorem-sequi-sit-sint-occaecati'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2121
                        title:
                          type: string
                          example: 'Sed assumenda inventore aut assumenda delectus voluptatem.'
                        date:
                          type: string
                          example: '2025-02-16T15:21:26+00:00'
                        summary:
                          type: string
                          example: 'Sequi et perspiciatis ad quidem est deserunt voluptatibus. Voluptatum assumenda deserunt quidem ullam accusamus. Consequuntur sit unde soluta animi expedita. Corporis quam nisi voluptatum est et.'
                        url:
                          type: string
                          example: 'http://www.edwards.org/'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/links/2121'
                            permalink:
                              type: string
                              example: 'http://www.edwards.org/'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save a Link'
      operationId: saveALink
      description: "This endpoint allows you to <strong>save a new link</strong>.\nThis requires the URL, a title, a description and a date."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2123
                    title: 'Quis id suscipit aut suscipit mollitia est.'
                    date: '2025-02-15T07:45:42+00:00'
                    summary: 'Velit omnis nam quisquam nihil ipsam quia error. Enim temporibus non error occaecati rerum et. Fuga beatae harum quia adipisci fuga alias.'
                    url: 'http://www.cook.com/numquam-dolor-placeat-ducimus-suscipit-ipsum-ut-sed-natus'
                    html: "<p>Velit omnis nam quisquam nihil ipsam quia error. Enim temporibus non error occaecati rerum et. Fuga beatae harum quia adipisci fuga alias.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/2123'
                      permalink: 'http://www.cook.com/numquam-dolor-placeat-ducimus-suscipit-ipsum-ut-sed-natus'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2123
                      title:
                        type: string
                        example: 'Quis id suscipit aut suscipit mollitia est.'
                      date:
                        type: string
                        example: '2025-02-15T07:45:42+00:00'
                      summary:
                        type: string
                        example: 'Velit omnis nam quisquam nihil ipsam quia error. Enim temporibus non error occaecati rerum et. Fuga beatae harum quia adipisci fuga alias.'
                      url:
                        type: string
                        example: 'http://www.cook.com/numquam-dolor-placeat-ducimus-suscipit-ipsum-ut-sed-natus'
                      html:
                        type: string
                        example: "<p>Velit omnis nam quisquam nihil ipsam quia error. Enim temporibus non error occaecati rerum et. Fuga beatae harum quia adipisci fuga alias.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/2123'
                          permalink:
                            type: string
                            example: 'http://www.cook.com/numquam-dolor-placeat-ducimus-suscipit-ipsum-ut-sed-natus'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2025-02-21T16:40:46'
                  nullable: false
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                  nullable: false
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                  nullable: false
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                  nullable: false
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://will.com/ullam-ut-aliquam-odit-quia.html'
                  nullable: false
              required:
                - date
                - url
                - title
                - description
  '/links/{id}':
    get:
      summary: 'Get a Link'
      operationId: getALink
      description: "This endpoint allows you to get a specific link, based on the ID.\nThe entry contains the full link information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2124
                    title: 'Quaerat aut tenetur eum est similique qui odio.'
                    date: '2025-02-15T21:08:09+00:00'
                    summary: 'Nihil harum voluptas quisquam totam qui deleniti. Enim tenetur et delectus quo voluptate a ducimus. Rerum mollitia et velit quos reprehenderit et.'
                    url: 'http://www.hughes.co.uk/omnis-velit-molestias-inventore-quas'
                    html: "<p>Nihil harum voluptas quisquam totam qui deleniti. Enim tenetur et delectus quo voluptate a ducimus. Rerum mollitia et velit quos reprehenderit et.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/2124'
                      permalink: 'http://www.hughes.co.uk/omnis-velit-molestias-inventore-quas'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2124
                      title:
                        type: string
                        example: 'Quaerat aut tenetur eum est similique qui odio.'
                      date:
                        type: string
                        example: '2025-02-15T21:08:09+00:00'
                      summary:
                        type: string
                        example: 'Nihil harum voluptas quisquam totam qui deleniti. Enim tenetur et delectus quo voluptate a ducimus. Rerum mollitia et velit quos reprehenderit et.'
                      url:
                        type: string
                        example: 'http://www.hughes.co.uk/omnis-velit-molestias-inventore-quas'
                      html:
                        type: string
                        example: "<p>Nihil harum voluptas quisquam totam qui deleniti. Enim tenetur et delectus quo voluptate a ducimus. Rerum mollitia et velit quos reprehenderit et.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/2124'
                          permalink:
                            type: string
                            example: 'http://www.hughes.co.uk/omnis-velit-molestias-inventore-quas'
      tags:
        - 'Links & Articles'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the link.'
        example: 1
        required: true
        schema:
          type: integer
  /articles:
    get:
      summary: 'List All Articles'
      operationId: listAllArticles
      description: "This endpoint allows you to list all articles.\nEach entry contains basic article information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2125
                      title: 'Aut ratione nihil omnis distinctio doloremque totam doloribus.'
                      date: '2025-02-16T02:37:39+00:00'
                      summary: 'Iste saepe rerum blanditiis exercitationem voluptatem. Laboriosam unde nihil qui nihil numquam nobis. Dolorem quia aut eos vel provident quasi dolor. Natus ut animi vero impedit libero voluptatem.'
                      url: 'http://www.walker.com/numquam-et-minus-voluptatem-quia-incidunt-rerum-nesciunt.html'
                      links:
                        self: 'http://api.trovster.com/articles/2125'
                        permalink: 'http://www.walker.com/numquam-et-minus-voluptatem-quia-incidunt-rerum-nesciunt.html'
                    -
                      id: 2126
                      title: 'Facilis et ex sunt ut sed earum.'
                      date: '2025-02-18T10:40:41+00:00'
                      summary: 'Voluptatum harum et alias culpa minus. Animi deserunt distinctio et alias assumenda eos. Dolorum quisquam ut voluptatibus impedit tempore rem consequatur.'
                      url: 'https://roberts.com/suscipit-unde-nihil-vel-omnis-id-optio-voluptas.html'
                      links:
                        self: 'http://api.trovster.com/articles/2126'
                        permalink: 'https://roberts.com/suscipit-unde-nihil-vel-omnis-id-optio-voluptas.html'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2125
                        title: 'Aut ratione nihil omnis distinctio doloremque totam doloribus.'
                        date: '2025-02-16T02:37:39+00:00'
                        summary: 'Iste saepe rerum blanditiis exercitationem voluptatem. Laboriosam unde nihil qui nihil numquam nobis. Dolorem quia aut eos vel provident quasi dolor. Natus ut animi vero impedit libero voluptatem.'
                        url: 'http://www.walker.com/numquam-et-minus-voluptatem-quia-incidunt-rerum-nesciunt.html'
                        links:
                          self: 'http://api.trovster.com/articles/2125'
                          permalink: 'http://www.walker.com/numquam-et-minus-voluptatem-quia-incidunt-rerum-nesciunt.html'
                      -
                        id: 2126
                        title: 'Facilis et ex sunt ut sed earum.'
                        date: '2025-02-18T10:40:41+00:00'
                        summary: 'Voluptatum harum et alias culpa minus. Animi deserunt distinctio et alias assumenda eos. Dolorum quisquam ut voluptatibus impedit tempore rem consequatur.'
                        url: 'https://roberts.com/suscipit-unde-nihil-vel-omnis-id-optio-voluptas.html'
                        links:
                          self: 'http://api.trovster.com/articles/2126'
                          permalink: 'https://roberts.com/suscipit-unde-nihil-vel-omnis-id-optio-voluptas.html'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2125
                        title:
                          type: string
                          example: 'Aut ratione nihil omnis distinctio doloremque totam doloribus.'
                        date:
                          type: string
                          example: '2025-02-16T02:37:39+00:00'
                        summary:
                          type: string
                          example: 'Iste saepe rerum blanditiis exercitationem voluptatem. Laboriosam unde nihil qui nihil numquam nobis. Dolorem quia aut eos vel provident quasi dolor. Natus ut animi vero impedit libero voluptatem.'
                        url:
                          type: string
                          example: 'http://www.walker.com/numquam-et-minus-voluptatem-quia-incidunt-rerum-nesciunt.html'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/articles/2125'
                            permalink:
                              type: string
                              example: 'http://www.walker.com/numquam-et-minus-voluptatem-quia-incidunt-rerum-nesciunt.html'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save an Article'
      operationId: saveAnArticle
      description: "This endpoint allows you to <strong>save a new article</strong>.\nThis requires the URL, a title, a description and a date.\n<aside>The description should be a <strong>quote</strong> from the article.</aside>"
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2127
                    title: 'Perspiciatis non alias minima aliquid in.'
                    date: '2025-02-15T14:13:57+00:00'
                    summary: 'Possimus ipsum quia vel est sed aut. Ratione optio laudantium id eveniet et aut voluptatem. Delectus quia odit nihil perspiciatis est. Similique omnis facilis cumque impedit deleniti.'
                    url: 'http://www.phillips.net/esse-sint-non-consequuntur-provident-officiis-expedita.html'
                    html: "<p>Possimus ipsum quia vel est sed aut. Ratione optio laudantium id eveniet et aut voluptatem. Delectus quia odit nihil perspiciatis est. Similique omnis facilis cumque impedit deleniti.</p>\n"
                    links:
                      self: 'http://api.trovster.com/articles/2127'
                      permalink: 'http://www.phillips.net/esse-sint-non-consequuntur-provident-officiis-expedita.html'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2127
                      title:
                        type: string
                        example: 'Perspiciatis non alias minima aliquid in.'
                      date:
                        type: string
                        example: '2025-02-15T14:13:57+00:00'
                      summary:
                        type: string
                        example: 'Possimus ipsum quia vel est sed aut. Ratione optio laudantium id eveniet et aut voluptatem. Delectus quia odit nihil perspiciatis est. Similique omnis facilis cumque impedit deleniti.'
                      url:
                        type: string
                        example: 'http://www.phillips.net/esse-sint-non-consequuntur-provident-officiis-expedita.html'
                      html:
                        type: string
                        example: "<p>Possimus ipsum quia vel est sed aut. Ratione optio laudantium id eveniet et aut voluptatem. Delectus quia odit nihil perspiciatis est. Similique omnis facilis cumque impedit deleniti.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/articles/2127'
                          permalink:
                            type: string
                            example: 'http://www.phillips.net/esse-sint-non-consequuntur-provident-officiis-expedita.html'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2025-02-21T16:40:46'
                  nullable: false
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                  nullable: false
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                  nullable: false
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                  nullable: false
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.kuhlman.com/sit-nostrum-culpa-illo-soluta-aut.html'
                  nullable: false
              required:
                - date
                - url
                - title
                - description
  '/articles/{id}':
    get:
      summary: 'Get an Article'
      operationId: getAnArticle
      description: "This endpoint allows you to get a specific article, based on the ID.\nThe entry contains the full article information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2128
                    title: 'Ea iusto quam reprehenderit vel.'
                    date: '2025-02-16T17:26:34+00:00'
                    summary: 'Quidem et est non ea voluptatibus nemo error voluptates. Consequatur sed itaque aut expedita occaecati ut et. Sed beatae saepe odio temporibus. Assumenda consequuntur ut repellat ipsam aut quibusdam.'
                    url: 'http://www.jackson.info/'
                    html: "<p>Quidem et est non ea voluptatibus nemo error voluptates. Consequatur sed itaque aut expedita occaecati ut et. Sed beatae saepe odio temporibus. Assumenda consequuntur ut repellat ipsam aut quibusdam.</p>\n"
                    links:
                      self: 'http://api.trovster.com/articles/2128'
                      permalink: 'http://www.jackson.info/'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2128
                      title:
                        type: string
                        example: 'Ea iusto quam reprehenderit vel.'
                      date:
                        type: string
                        example: '2025-02-16T17:26:34+00:00'
                      summary:
                        type: string
[...]
