openapi: 3.0.3
info:
  title: 'API Documentation'
  description: 'This documentation aims to provide all the information you need to work with the API and data for trovster.com.'
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: 'This endpoint provides links to the main available API endpoints.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    music: 'http://api.trovster.com/music'
                    photos: 'http://api.trovster.com/photos'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      music:
                        type: string
                        example: 'http://api.trovster.com/music'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: 'List All Activities'
      operationId: listAllActivities
      description: "This endpoint allows you to list all activities.\nEach entry contains basic activity information, such as title, date, summary, speed,\ndistance, moving time and type.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2975
                      title: 'quidem dolorum est'
                      date: '2024-08-23T07:29:16+00:00'
                      summary: 'Cycled for 9 seconds on 23rd August 2024.'
                      speed: 2.8185444
                      distance: 0.003728227152
                      timeMoving: 0.15
                      type: 'E-Bike Ride'
                      links:
                        self: 'http://api.trovster.com/activities/717'
                        permalink: 'http://www.trovster.com/activities/717'
                    -
                      id: 2976
                      title: 'expedita quasi dolores'
                      date: '2024-08-20T17:56:15+00:00'
                      summary: 'Walked for 3 seconds on 20th August 2024.'
                      speed: 110.1245562
                      distance: 0.000621371192
                      timeMoving: 0.05
                      type: Walk
                      links:
                        self: 'http://api.trovster.com/activities/80'
                        permalink: 'http://www.trovster.com/activities/80'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2975
                        title: 'quidem dolorum est'
                        date: '2024-08-23T07:29:16+00:00'
                        summary: 'Cycled for 9 seconds on 23rd August 2024.'
                        speed: 2.8185444
                        distance: 0.003728227152
                        timeMoving: 0.15
                        type: 'E-Bike Ride'
                        links:
                          self: 'http://api.trovster.com/activities/717'
                          permalink: 'http://www.trovster.com/activities/717'
                      -
                        id: 2976
                        title: 'expedita quasi dolores'
                        date: '2024-08-20T17:56:15+00:00'
                        summary: 'Walked for 3 seconds on 20th August 2024.'
                        speed: 110.1245562
                        distance: 0.000621371192
                        timeMoving: 0.05
                        type: Walk
                        links:
                          self: 'http://api.trovster.com/activities/80'
                          permalink: 'http://www.trovster.com/activities/80'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2975
                        title:
                          type: string
                          example: 'quidem dolorum est'
                        date:
                          type: string
                          example: '2024-08-23T07:29:16+00:00'
                        summary:
                          type: string
                          example: 'Cycled for 9 seconds on 23rd August 2024.'
                        speed:
                          type: number
                          example: 2.8185444
                        distance:
                          type: number
                          example: 0.003728227152
                        timeMoving:
                          type: number
                          example: 0.15
                        type:
                          type: string
                          example: 'E-Bike Ride'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/717'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/717'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: 'Get an Activity'
      operationId: getAnActivity
      description: "This endpoint allows you to get a specific activity, based on the Strava ID.\nThe entry contains the same information provided in the listing, but also includes\nany extra text and the polyline representation. The type is an object which includes\nthe ID as well as the type name.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The polyline can be used with mapping software to show the route.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2977
                    title: 'eum et ullam'
                    date: '2024-08-22T01:59:18+00:00'
                    summary: 'Walked for 5 seconds on 22nd August 2024.'
                    speed: 98.7832704
                    distance: 0.00310685596
                    timeMoving: 0.083333333333333
                    html: "<p>Quisquam ullam repudiandae necessitatibus harum in aut dolorem eius. Deleniti sunt et earum officia qui. Eum corrupti quam et deleniti. Consequatur deserunt quis qui.</p>\n"
                    polyline: ''
                    type:
                      id: 190
                      name: Walk
                    links:
                      self: 'http://api.trovster.com/activities/60495727'
                      permalink: 'http://www.trovster.com/activities/60495727'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2977
                      title:
                        type: string
                        example: 'eum et ullam'
                      date:
                        type: string
                        example: '2024-08-22T01:59:18+00:00'
                      summary:
                        type: string
                        example: 'Walked for 5 seconds on 22nd August 2024.'
                      speed:
                        type: number
                        example: 98.7832704
                      distance:
                        type: number
                        example: 0.00310685596
                      timeMoving:
                        type: number
                        example: 0.083333333333333
                      html:
                        type: string
                        example: "<p>Quisquam ullam repudiandae necessitatibus harum in aut dolorem eius. Deleniti sunt et earum officia qui. Eum corrupti quam et deleniti. Consequatur deserunt quis qui.</p>\n"
                      polyline:
                        type: string
                        example: ''
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 190
                          name:
                            type: string
                            example: Walk
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/60495727'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/60495727'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: 'List All Avatars'
      operationId: listAllAvatars
      description: "This endpoint allows you to list all avatars.\nEach entry contains basic avatar information, such as the alt (name), URL and size.\nIt also notes which is the \"current\" avatar.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: neque-at-modi-similique-est-esse-quidem
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/neque-at-modi-similique-est-esse-quidem'
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: qui-cupiditate-nam-non-nulla-eaque-dolorem-modi-accusantium
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/qui-cupiditate-nam-non-nulla-eaque-dolorem-modi-accusantium'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: neque-at-modi-similique-est-esse-quidem
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/neque-at-modi-similique-est-esse-quidem'
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: qui-cupiditate-nam-non-nulla-eaque-dolorem-modi-accusantium
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/qui-cupiditate-nam-non-nulla-eaque-dolorem-modi-accusantium'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 15
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 2120
                        slug:
                          type: string
                          example: neque-at-modi-similique-est-esse-quidem
                        url:
                          type: string
                          example: /storage/example.jpg
                        alt:
                          type: string
                          example: Blended
                        height:
                          type: integer
                          example: 73
                        width:
                          type: integer
                          example: 73
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/avatars/neque-at-modi-similique-est-esse-quidem'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: 'Get an Avatar'
      operationId: getAnAvatar
      description: "This endpoint allows you to get a specific avatar, based on the slug.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 15
                    current: true
                    size: 2120
                    slug: tenetur-modi-ut-soluta-ea-architecto-omnis-aspernatur-quia
                    url: /storage/example.jpg
                    alt: Blended
                    height: 73
                    width: 73
                    links:
                      self: 'http://api.trovster.com/avatars/tenetur-modi-ut-soluta-ea-architecto-omnis-aspernatur-quia'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 15
                      current:
                        type: boolean
                        example: true
                      size:
                        type: integer
                        example: 2120
                      slug:
                        type: string
                        example: tenetur-modi-ut-soluta-ea-architecto-omnis-aspernatur-quia
                      url:
                        type: string
                        example: /storage/example.jpg
                      alt:
                        type: string
                        example: Blended
                      height:
                        type: integer
                        example: 73
                      width:
                        type: integer
                        example: 73
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/avatars/tenetur-modi-ut-soluta-ea-architecto-omnis-aspernatur-quia'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: 'List All Blog Posts'
      operationId: listAllBlogPosts
      description: "This endpoint allows you to list all blog posts.\nEach entry contains basic post information, such as title, date, summary,\nword count and an array of categories.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 595
                      title: 'Nemo dolorum et quis nihil velit.'
                      date: '2024-08-23T04:28:57+00:00'
                      summary: 'Voluptatem cumque voluptas ipsam et culpa iusto. Excepturi sunt in eveniet quod expedita. Omnis in et quibusdam ut amet. Impedit non commodi nemo rerum et. Eligendi odio cumque eos vero labo…'
                      wordCount: 247
                      categories:
                        - ipsam
                      links:
                        self: 'http://api.trovster.com/blog/595'
                        permalink: 'http://www.trovster.com/blog/2024/08/nemo-dolorum-et-quis-nihil-velit'
                    -
                      id: 596
                      title: 'Quia corporis aspernatur consequatur consequatur nam velit animi animi.'
                      date: '2024-08-20T04:34:14+00:00'
                      summary: 'Tenetur cupiditate voluptatibus distinctio occaecati ad. Vitae earum doloremque ipsam ut vitae debitis culpa. Excepturi expedita maiores deleniti fugiat incidunt suscipit. Iusto magni except…'
                      wordCount: 264
                      categories:
                        - earum
                      links:
                        self: 'http://api.trovster.com/blog/596'
                        permalink: 'http://www.trovster.com/blog/2024/08/quia-corporis-aspernatur-consequatur-consequatur-nam-velit-animi-animi'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 595
                        title: 'Nemo dolorum et quis nihil velit.'
                        date: '2024-08-23T04:28:57+00:00'
                        summary: 'Voluptatem cumque voluptas ipsam et culpa iusto. Excepturi sunt in eveniet quod expedita. Omnis in et quibusdam ut amet. Impedit non commodi nemo rerum et. Eligendi odio cumque eos vero labo…'
                        wordCount: 247
                        categories:
                          - ipsam
                        links:
                          self: 'http://api.trovster.com/blog/595'
                          permalink: 'http://www.trovster.com/blog/2024/08/nemo-dolorum-et-quis-nihil-velit'
                      -
                        id: 596
                        title: 'Quia corporis aspernatur consequatur consequatur nam velit animi animi.'
                        date: '2024-08-20T04:34:14+00:00'
                        summary: 'Tenetur cupiditate voluptatibus distinctio occaecati ad. Vitae earum doloremque ipsam ut vitae debitis culpa. Excepturi expedita maiores deleniti fugiat incidunt suscipit. Iusto magni except…'
                        wordCount: 264
                        categories:
                          - earum
                        links:
                          self: 'http://api.trovster.com/blog/596'
                          permalink: 'http://www.trovster.com/blog/2024/08/quia-corporis-aspernatur-consequatur-consequatur-nam-velit-animi-animi'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 595
                        title:
                          type: string
                          example: 'Nemo dolorum et quis nihil velit.'
                        date:
                          type: string
                          example: '2024-08-23T04:28:57+00:00'
                        summary:
                          type: string
                          example: 'Voluptatem cumque voluptas ipsam et culpa iusto. Excepturi sunt in eveniet quod expedita. Omnis in et quibusdam ut amet. Impedit non commodi nemo rerum et. Eligendi odio cumque eos vero labo…'
                        wordCount:
                          type: integer
                          example: 247
                        categories:
                          type: array
                          example:
                            - ipsam
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/595'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2024/08/nemo-dolorum-et-quis-nihil-velit'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{ID}':
    get:
      summary: 'Get a Blog Post'
      operationId: getABlogPost
      description: "This endpoint allows you to get a specific blog post, based on the ID.\nThe entry contains the full blog post information, including the full html.\nThe category array contains objects of category ID and name."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 597
                    title: 'Velit fuga cumque minima qui animi optio nemo.'
                    date: '2024-08-23T19:51:14+00:00'
                    summary: 'Sequi qui occaecati dolorum maiores quis ut molestiae. A dignissimos aliquid nemo officia. Quia non optio neque non aut iusto. Consequatur aut aut numquam possimus exercitationem et beatae a…'
                    wordCount: 227
                    html: "<p>Sequi qui occaecati dolorum maiores quis ut molestiae. A dignissimos aliquid nemo officia. Quia non optio neque non aut iusto. Consequatur aut aut numquam possimus exercitationem et beatae aliquid.</p>\n<p>Fugiat et voluptatem asperiores voluptatem exercitationem. Voluptas quod et dolor fuga alias.</p>\n<p>Quas laboriosam voluptate ducimus. Temporibus qui laudantium beatae magni ut minima. Vel autem ipsa nulla modi officia praesentium. Pariatur inventore quisquam quas ipsum autem.</p>\n<p>Dolorem dolor quasi necessitatibus corrupti. Ut distinctio sed assumenda veritatis. Dolores ex odit et adipisci velit.</p>\n<p>Voluptates et excepturi aut eligendi. Qui fuga necessitatibus et quas ea qui. Ducimus aut natus ipsum mollitia aut provident fugit.</p>\n<p>Ipsa et perspiciatis eius aperiam. Nobis consequatur aut voluptas. Vel facilis ratione earum voluptates quia dolorem. Inventore fugiat qui quidem.</p>\n<p>Non impedit qui fugit repudiandae. Sit est fugiat vero necessitatibus modi. Temporibus aliquam facere rem eos qui vel. Quis iusto qui non assumenda voluptatem quo cumque.</p>\n<p>Molestiae fugiat itaque est mollitia fuga similique. Cumque voluptatibus illum animi debitis id autem. Officia ducimus quasi mollitia. Et atque necessitatibus minus mollitia deserunt illum occaecati. Quidem ex voluptas cumque consequatur.</p>\n<p>Officia et ea veritatis eveniet. Qui laboriosam fugit doloribus voluptatibus aut facilis. Magnam culpa rerum doloremque aut maxime natus. Molestias ea blanditiis tenetur fugiat.</p>\n<p>At qui sed nisi. Inventore magnam eum sed ut doloremque rerum ratione. Reiciendis quam itaque laboriosam exercitationem voluptatibus minima illo. Vel et delectus dolore quis.</p>\n"
                    categories:
                      -
                        id: 307
                        name: quos
                    links:
                      self: 'http://api.trovster.com/blog/597'
                      permalink: 'http://www.trovster.com/blog/2024/08/velit-fuga-cumque-minima-qui-animi-optio-nemo'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 597
                      title:
                        type: string
                        example: 'Velit fuga cumque minima qui animi optio nemo.'
                      date:
                        type: string
                        example: '2024-08-23T19:51:14+00:00'
                      summary:
                        type: string
                        example: 'Sequi qui occaecati dolorum maiores quis ut molestiae. A dignissimos aliquid nemo officia. Quia non optio neque non aut iusto. Consequatur aut aut numquam possimus exercitationem et beatae a…'
                      wordCount:
                        type: integer
                        example: 227
                      html:
                        type: string
                        example: "<p>Sequi qui occaecati dolorum maiores quis ut molestiae. A dignissimos aliquid nemo officia. Quia non optio neque non aut iusto. Consequatur aut aut numquam possimus exercitationem et beatae aliquid.</p>\n<p>Fugiat et voluptatem asperiores voluptatem exercitationem. Voluptas quod et dolor fuga alias.</p>\n<p>Quas laboriosam voluptate ducimus. Temporibus qui laudantium beatae magni ut minima. Vel autem ipsa nulla modi officia praesentium. Pariatur inventore quisquam quas ipsum autem.</p>\n<p>Dolorem dolor quasi necessitatibus corrupti. Ut distinctio sed assumenda veritatis. Dolores ex odit et adipisci velit.</p>\n<p>Voluptates et excepturi aut eligendi. Qui fuga necessitatibus et quas ea qui. Ducimus aut natus ipsum mollitia aut provident fugit.</p>\n<p>Ipsa et perspiciatis eius aperiam. Nobis consequatur aut voluptas. Vel facilis ratione earum voluptates quia dolorem. Inventore fugiat qui quidem.</p>\n<p>Non impedit qui fugit repudiandae. Sit est fugiat vero necessitatibus modi. Temporibus aliquam facere rem eos qui vel. Quis iusto qui non assumenda voluptatem quo cumque.</p>\n<p>Molestiae fugiat itaque est mollitia fuga similique. Cumque voluptatibus illum animi debitis id autem. Officia ducimus quasi mollitia. Et atque necessitatibus minus mollitia deserunt illum occaecati. Quidem ex voluptas cumque consequatur.</p>\n<p>Officia et ea veritatis eveniet. Qui laboriosam fugit doloribus voluptatibus aut facilis. Magnam culpa rerum doloremque aut maxime natus. Molestias ea blanditiis tenetur fugiat.</p>\n<p>At qui sed nisi. Inventore magnam eum sed ut doloremque rerum ratione. Reiciendis quam itaque laboriosam exercitationem voluptatibus minima illo. Vel et delectus dolore quis.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 307
                            name: quos
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 307
                            name:
                              type: string
                              example: quos
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/597'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2024/08/velit-fuga-cumque-minima-qui-animi-optio-nemo'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: 'List All Books'
      operationId: listAllBooks
      description: "This endpoint allows you to list all books.\nEach entry contains basic book information, such as title, ISBN, summary,\nand page count.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 362
                      isbn: '9789115068433'
                      title: 'Aut ut odit dolorem recusandae harum ipsam repudiandae.'
                      summary: 'Deserunt voluptatibus suscipit dolor quia. Quo reprehenderit consequatur quis sequi voluptas et ut ut. Et unde cupiditate voluptatem ad occaecati ea. Repudiandae molestiae hic aperiam rem.'
                      pageCount: 3
                      links:
                        self: 'http://api.trovster.com/books/9789115068433'
                        permalink: 'http://www.trovster.com/books/9789115068433/expedita-sint-iste-voluptatem-qui-explicabo'
                    -
                      id: 363
                      isbn: '9783826533495'
                      title: 'Nisi minima aliquid in officia non suscipit earum velit.'
                      summary: 'Cumque molestiae beatae velit et nulla corporis necessitatibus. Exercitationem recusandae recusandae eos earum qui voluptate reiciendis atque. Ut autem voluptate ipsum consequatur et tenetur. Ut magni soluta odio quisquam esse.'
                      pageCount: 3
                      links:
                        self: 'http://api.trovster.com/books/9783826533495'
                        permalink: 'http://www.trovster.com/books/9783826533495/molestiae-ut-ut-qui-harum'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 362
                        isbn: '9789115068433'
                        title: 'Aut ut odit dolorem recusandae harum ipsam repudiandae.'
                        summary: 'Deserunt voluptatibus suscipit dolor quia. Quo reprehenderit consequatur quis sequi voluptas et ut ut. Et unde cupiditate voluptatem ad occaecati ea. Repudiandae molestiae hic aperiam rem.'
                        pageCount: 3
                        links:
                          self: 'http://api.trovster.com/books/9789115068433'
                          permalink: 'http://www.trovster.com/books/9789115068433/expedita-sint-iste-voluptatem-qui-explicabo'
                      -
                        id: 363
                        isbn: '9783826533495'
                        title: 'Nisi minima aliquid in officia non suscipit earum velit.'
                        summary: 'Cumque molestiae beatae velit et nulla corporis necessitatibus. Exercitationem recusandae recusandae eos earum qui voluptate reiciendis atque. Ut autem voluptate ipsum consequatur et tenetur. Ut magni soluta odio quisquam esse.'
                        pageCount: 3
                        links:
                          self: 'http://api.trovster.com/books/9783826533495'
                          permalink: 'http://www.trovster.com/books/9783826533495/molestiae-ut-ut-qui-harum'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 362
                        isbn:
                          type: string
                          example: '9789115068433'
                        title:
                          type: string
                          example: 'Aut ut odit dolorem recusandae harum ipsam repudiandae.'
                        summary:
                          type: string
                          example: 'Deserunt voluptatibus suscipit dolor quia. Quo reprehenderit consequatur quis sequi voluptas et ut ut. Et unde cupiditate voluptatem ad occaecati ea. Repudiandae molestiae hic aperiam rem.'
                        pageCount:
                          type: integer
                          example: 3
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9789115068433'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9789115068433/expedita-sint-iste-voluptatem-qui-explicabo'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: 'Get a Book'
      operationId: getABook
      description: "This endpoint allows you to get a specific book, based on the ISBN.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 364
                    isbn: '9799267051269'
                    title: 'Vero deserunt et et quibusdam consequuntur aliquid esse.'
                    summary: 'Aut similique deserunt ab soluta velit optio. Ut occaecati molestias consequatur qui laboriosam illo est illum. Voluptates occaecati voluptatem fugiat eum ullam omnis et dolorem. Quod quasi quia dolorem.'
                    pageCount: 3
                    links:
                      self: 'http://api.trovster.com/books/9799267051269'
                      permalink: 'http://www.trovster.com/books/9799267051269/laborum-aut-possimus-et-vel-aut-perferendis-fugiat-excepturi'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 364
                      isbn:
                        type: string
                        example: '9799267051269'
                      title:
                        type: string
                        example: 'Vero deserunt et et quibusdam consequuntur aliquid esse.'
                      summary:
                        type: string
                        example: 'Aut similique deserunt ab soluta velit optio. Ut occaecati molestias consequatur qui laboriosam illo est illum. Voluptates occaecati voluptatem fugiat eum ullam omnis et dolorem. Quod quasi quia dolorem.'
                      pageCount:
                        type: integer
                        example: 3
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9799267051269'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9799267051269/laborum-aut-possimus-et-vel-aut-perferendis-fugiat-excepturi'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: 'Read a Book'
      operationId: readABook
      description: "This endpoint allows you to <strong>mark a book as read</strong>.\nThis requires the book ISBN13 and the date read.\nA rating between 1 and 10 is <em>optional</em>."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2024-08-18T00:00:00.000000Z'
                    rating: 9
                    book:
                      id: 361
                      isbn: '9795180576599'
                      title: 'Ut tempore corrupti recusandae unde velit eligendi ut.'
                      summary: 'Consequuntur sunt et adipisci itaque voluptatibus. Voluptatem adipisci ullam at non quaerat. Est quidem doloremque facilis est ipsam.'
                      pageCount: 3
                      links:
                        self: 'http://api.trovster.com/books/9795180576599'
                        permalink: 'http://www.trovster.com/books/9795180576599/totam-sint-odio-accusantium-fuga-est'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2024-08-18T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 9
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 361
                          isbn:
                            type: string
                            example: '9795180576599'
                          title:
                            type: string
                            example: 'Ut tempore corrupti recusandae unde velit eligendi ut.'
                          summary:
                            type: string
                            example: 'Consequuntur sunt et adipisci itaque voluptatibus. Voluptatem adipisci ullam at non quaerat. Est quidem doloremque facilis est ipsam.'
                          pageCount:
                            type: integer
                            example: 3
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9795180576599'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9795180576599/totam-sint-odio-accusantium-fuga-est'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2001-09-13'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 9
                isbn:
                  type: string
                  description: 'Must be 13 digits.'
                  example: 9781451648539
              required:
                - date
                - isbn
  /fitness:
    get:
      summary: 'List All Fitness Data'
      operationId: listAllFitnessData
      description: "This endpoint allows you to list all the fitness data.\nEach entry contains basic fitness information, such as date, summary, steps,\ndistance and flights.\nThere are objects for move, exercise and stand data. These include the total, goal,\npercent and whether the item was completed.\n<strong>The summary is a useful sentence describing the information.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 475
                      date: '2000-11-21T00:00:00+00:00'
                      summary: 'I took 1 steps, walked 0.01 miles and climbed 3 flights on 21/11/2000'
                      steps: 1
                      distance: 9
                      flights: 3
                      move:
                        total: 1
                        goal: 4
                        percent: 25
                        complete: false
                      exercise:
                        total: 9
                        goal: 9
                        percent: 100
                        complete: true
                      stand:
                        total: 4
                        goal: 9
                        percent: 44
                        complete: false
                      links:
                        self: 'http://api.trovster.com/fitness/2000-11-21'
                        permalink: 'http://www.trovster.com/activities/2000-11-21'
                    -
                      id: 476
                      date: '1975-04-12T00:00:00+00:00'
                      summary: 'I took 4 steps, walked 0.00 miles and climbed 3 flights on 12/04/1975'
                      steps: 4
                      distance: 4
                      flights: 3
                      move:
                        total: 1
                        goal: 8
                        percent: 13
                        complete: false
                      exercise:
                        total: 6
                        goal: 4
                        percent: 150
                        complete: true
                      stand:
                        total: 5
                        goal: 9
                        percent: 56
                        complete: false
                      links:
                        self: 'http://api.trovster.com/fitness/1975-04-12'
                        permalink: 'http://www.trovster.com/activities/1975-04-12'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 475
                        date: '2000-11-21T00:00:00+00:00'
                        summary: 'I took 1 steps, walked 0.01 miles and climbed 3 flights on 21/11/2000'
                        steps: 1
                        distance: 9
                        flights: 3
                        move:
                          total: 1
                          goal: 4
                          percent: 25
                          complete: false
                        exercise:
                          total: 9
                          goal: 9
                          percent: 100
                          complete: true
                        stand:
                          total: 4
                          goal: 9
                          percent: 44
                          complete: false
                        links:
                          self: 'http://api.trovster.com/fitness/2000-11-21'
                          permalink: 'http://www.trovster.com/activities/2000-11-21'
                      -
                        id: 476
                        date: '1975-04-12T00:00:00+00:00'
                        summary: 'I took 4 steps, walked 0.00 miles and climbed 3 flights on 12/04/1975'
                        steps: 4
                        distance: 4
                        flights: 3
                        move:
                          total: 1
                          goal: 8
                          percent: 13
                          complete: false
                        exercise:
                          total: 6
                          goal: 4
                          percent: 150
                          complete: true
                        stand:
                          total: 5
                          goal: 9
                          percent: 56
                          complete: false
                        links:
                          self: 'http://api.trovster.com/fitness/1975-04-12'
                          permalink: 'http://www.trovster.com/activities/1975-04-12'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 475
                        date:
                          type: string
                          example: '2000-11-21T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 1 steps, walked 0.01 miles and climbed 3 flights on 21/11/2000'
                        steps:
                          type: integer
                          example: 1
                        distance:
                          type: integer
                          example: 9
                        flights:
                          type: integer
                          example: 3
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 1
                            goal:
                              type: integer
                              example: 4
                            percent:
                              type: integer
                              example: 25
                            complete:
                              type: boolean
                              example: false
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 9
                            goal:
                              type: integer
                              example: 9
                            percent:
                              type: integer
                              example: 100
                            complete:
                              type: boolean
                              example: true
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 4
                            goal:
                              type: integer
                              example: 9
                            percent:
                              type: integer
                              example: 44
                            complete:
                              type: boolean
                              example: false
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/2000-11-21'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/2000-11-21'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
    post:
      summary: 'Store Fitness Data'
      operationId: storeFitnessData
      description: "This endpoint allows you to store fitness data.\nIt required a date and basic health data, such as active energy, step count,\ndistance and flights climbed. The total for movie, exercise and stand are also\nrequired."
      parameters: []
      responses: {  }
      tags:
        - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2014-08-22'
                active_energy:
                  type: number
                  description: ''
                  example: 7600.0
                step_count:
                  type: number
                  description: ''
                  example: 7500.0
                distance:
                  type: number
                  description: ''
                  example: 5000.0
                flights_climbed:
                  type: number
                  description: ''
                  example: 10.0
                move_total:
                  type: number
                  description: ''
                  example: 650.0
                exercise_total:
                  type: number
                  description: ''
                  example: 30.0
                stand_total:
                  type: number
                  description: ''
                  example: 12.0
              required:
                - date
                - active_energy
                - step_count
                - distance
                - flights_climbed
                - move_total
                - exercise_total
                - stand_total
  '/fitness/{health_date}':
    get:
      summary: 'Get Fitness Data'
      operationId: getFitnessData
      description: "This endpoint allows you to get fitness data, based on the date.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 477
                    date: '1977-08-27T00:00:00+00:00'
                    summary: 'I took 2 steps, walked 0.01 miles and climbed 7 flights on 27/08/1977'
                    steps: 2
                    distance: 9
                    flights: 7
                    move:
                      total: 9
                      goal: 1
                      percent: 900
                      complete: true
                    exercise:
                      total: 1
                      goal: 5
                      percent: 20
                      complete: false
                    stand:
                      total: 5
                      goal: 2
                      percent: 250
                      complete: true
                    links:
                      self: 'http://api.trovster.com/fitness/1977-08-27'
                      permalink: 'http://www.trovster.com/activities/1977-08-27'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 477
                      date:
                        type: string
                        example: '1977-08-27T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 2 steps, walked 0.01 miles and climbed 7 flights on 27/08/1977'
                      steps:
                        type: integer
                        example: 2
                      distance:
                        type: integer
                        example: 9
                      flights:
                        type: integer
                        example: 7
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 9
                          goal:
                            type: integer
                            example: 1
                          percent:
                            type: integer
                            example: 900
                          complete:
                            type: boolean
                            example: true
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          goal:
                            type: integer
                            example: 5
                          percent:
                            type: integer
                            example: 20
                          complete:
                            type: boolean
                            example: false
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 5
                          goal:
                            type: integer
                            example: 2
                          percent:
                            type: integer
                            example: 250
                          complete:
                            type: boolean
                            example: true
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/1977-08-27'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/1977-08-27'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /links:
    get:
      summary: 'List All Links'
      operationId: listAllLinks
      description: "This endpoint allows you to list all links.\nEach entry contains basic link information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2470
                      title: 'Molestiae ad quo explicabo necessitatibus voluptatum tempore.'
                      date: '2024-08-21T02:03:24+00:00'
                      summary: 'Perspiciatis itaque est mollitia. Repudiandae odit quis eveniet asperiores libero. Accusantium sequi sint dolores. Quos consectetur quo et officia non sint quo.'
                      url: 'http://robertson.net/deleniti-velit-est-aut-eligendi'
                      links:
                        self: 'http://api.trovster.com/links/2470'
                        permalink: 'http://robertson.net/deleniti-velit-est-aut-eligendi'
                    -
                      id: 2471
                      title: 'Est dolorem porro doloremque.'
                      date: '2024-08-20T02:43:10+00:00'
                      summary: 'Est a dolores est laborum officia. Voluptatum sint laborum recusandae culpa ratione. Et eveniet et voluptatem. Libero quas odit dicta ut. Cupiditate aspernatur eveniet incidunt quas.'
                      url: 'http://rose.net/'
                      links:
                        self: 'http://api.trovster.com/links/2471'
                        permalink: 'http://rose.net/'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2470
                        title: 'Molestiae ad quo explicabo necessitatibus voluptatum tempore.'
                        date: '2024-08-21T02:03:24+00:00'
                        summary: 'Perspiciatis itaque est mollitia. Repudiandae odit quis eveniet asperiores libero. Accusantium sequi sint dolores. Quos consectetur quo et officia non sint quo.'
                        url: 'http://robertson.net/deleniti-velit-est-aut-eligendi'
                        links:
                          self: 'http://api.trovster.com/links/2470'
                          permalink: 'http://robertson.net/deleniti-velit-est-aut-eligendi'
                      -
                        id: 2471
                        title: 'Est dolorem porro doloremque.'
                        date: '2024-08-20T02:43:10+00:00'
                        summary: 'Est a dolores est laborum officia. Voluptatum sint laborum recusandae culpa ratione. Et eveniet et voluptatem. Libero quas odit dicta ut. Cupiditate aspernatur eveniet incidunt quas.'
                        url: 'http://rose.net/'
                        links:
                          self: 'http://api.trovster.com/links/2471'
                          permalink: 'http://rose.net/'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2470
                        title:
                          type: string
                          example: 'Molestiae ad quo explicabo necessitatibus voluptatum tempore.'
                        date:
                          type: string
                          example: '2024-08-21T02:03:24+00:00'
                        summary:
                          type: string
                          example: 'Perspiciatis itaque est mollitia. Repudiandae odit quis eveniet asperiores libero. Accusantium sequi sint dolores. Quos consectetur quo et officia non sint quo.'
                        url:
                          type: string
                          example: 'http://robertson.net/deleniti-velit-est-aut-eligendi'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/links/2470'
                            permalink:
                              type: string
                              example: 'http://robertson.net/deleniti-velit-est-aut-eligendi'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save a Link'
      operationId: saveALink
      description: "This endpoint allows you to <strong>save a new link</strong>.\nThis requires the URL, a title, a description and a date."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2472
                    title: 'Asperiores vel quod non sed consectetur tenetur molestiae.'
                    date: '2024-08-20T12:08:21+00:00'
                    summary: 'Quis quis facere assumenda dolore. Sed aut deserunt aliquid laboriosam consequatur sint libero. Quo sed vel laborum consequatur. Minima dolore maxime voluptas vel.'
                    url: 'http://smith.com/minus-occaecati-porro-perferendis-nihil'
                    html: "<p>Quis quis facere assumenda dolore. Sed aut deserunt aliquid laboriosam consequatur sint libero. Quo sed vel laborum consequatur. Minima dolore maxime voluptas vel.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/2472'
                      permalink: 'http://smith.com/minus-occaecati-porro-perferendis-nihil'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2472
                      title:
                        type: string
                        example: 'Asperiores vel quod non sed consectetur tenetur molestiae.'
                      date:
                        type: string
                        example: '2024-08-20T12:08:21+00:00'
                      summary:
                        type: string
                        example: 'Quis quis facere assumenda dolore. Sed aut deserunt aliquid laboriosam consequatur sint libero. Quo sed vel laborum consequatur. Minima dolore maxime voluptas vel.'
                      url:
                        type: string
                        example: 'http://smith.com/minus-occaecati-porro-perferendis-nihil'
                      html:
                        type: string
                        example: "<p>Quis quis facere assumenda dolore. Sed aut deserunt aliquid laboriosam consequatur sint libero. Quo sed vel laborum consequatur. Minima dolore maxime voluptas vel.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/2472'
                          permalink:
                            type: string
                            example: 'http://smith.com/minus-occaecati-porro-perferendis-nihil'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-08-25T12:47:29'
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://stehr.com/nesciunt-dolorem-numquam-sit-ad.html'
              required:
                - date
                - url
                - title
                - description
  '/links/{id}':
    get:
      summary: 'Get a Link'
      operationId: getALink
      description: "This endpoint allows you to get a specific link, based on the ID.\nThe entry contains the full link information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2473
                    title: 'Tempore similique quaerat sit sequi dolor beatae delectus dolorum.'
                    date: '2024-08-21T10:40:19+00:00'
                    summary: 'Dignissimos rem et qui qui quos veritatis adipisci quae. Et quia blanditiis minus. Minus vitae et ut. Et mollitia modi aliquid dolor. Eum voluptas consequatur quibusdam in est eligendi sit.'
                    url: 'https://www.harrison.com/cupiditate-omnis-expedita-impedit-natus-nostrum-ipsam-hic'
                    html: "<p>Dignissimos rem et qui qui quos veritatis adipisci quae. Et quia blanditiis minus. Minus vitae et ut. Et mollitia modi aliquid dolor. Eum voluptas consequatur quibusdam in est eligendi sit.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/2473'
                      permalink: 'https://www.harrison.com/cupiditate-omnis-expedita-impedit-natus-nostrum-ipsam-hic'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2473
                      title:
                        type: string
                        example: 'Tempore similique quaerat sit sequi dolor beatae delectus dolorum.'
                      date:
                        type: string
                        example: '2024-08-21T10:40:19+00:00'
                      summary:
                        type: string
                        example: 'Dignissimos rem et qui qui quos veritatis adipisci quae. Et quia blanditiis minus. Minus vitae et ut. Et mollitia modi aliquid dolor. Eum voluptas consequatur quibusdam in est eligendi sit.'
                      url:
                        type: string
                        example: 'https://www.harrison.com/cupiditate-omnis-expedita-impedit-natus-nostrum-ipsam-hic'
                      html:
                        type: string
                        example: "<p>Dignissimos rem et qui qui quos veritatis adipisci quae. Et quia blanditiis minus. Minus vitae et ut. Et mollitia modi aliquid dolor. Eum voluptas consequatur quibusdam in est eligendi sit.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/2473'
                          permalink:
                            type: string
                            example: 'https://www.harrison.com/cupiditate-omnis-expedita-impedit-natus-nostrum-ipsam-hic'
      tags:
        - 'Links & Articles'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the link.'
        example: 1
        required: true
        schema:
          type: integer
  /articles:
    get:
      summary: 'List All Articles'
      operationId: listAllArticles
      description: "This endpoint allows you to list all articles.\nEach entry contains basic article information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2474
                      title: 'Eos eligendi accusantium corporis incidunt odio labore.'
                      date: '2024-08-23T07:51:00+00:00'
                      summary: 'Dolore non inventore vero quaerat neque corrupti qui. Et iusto porro quidem sint et. Esse aperiam esse blanditiis aut iure maiores. Iusto voluptas eligendi a explicabo modi dolores.'
                      url: 'http://www.parker.com/'
                      links:
                        self: 'http://api.trovster.com/articles/2474'
                        permalink: 'http://www.parker.com/'
                    -
                      id: 2475
                      title: 'At in laudantium quaerat aspernatur autem dolore ut.'
                      date: '2024-08-21T23:42:41+00:00'
                      summary: 'Sunt amet inventore qui. Hic labore vero labore. Impedit ab reprehenderit sint reiciendis nihil quia commodi et.'
                      url: 'http://www.graham.com/laudantium-aut-autem-modi'
                      links:
                        self: 'http://api.trovster.com/articles/2475'
                        permalink: 'http://www.graham.com/laudantium-aut-autem-modi'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2474
                        title: 'Eos eligendi accusantium corporis incidunt odio labore.'
                        date: '2024-08-23T07:51:00+00:00'
                        summary: 'Dolore non inventore vero quaerat neque corrupti qui. Et iusto porro quidem sint et. Esse aperiam esse blanditiis aut iure maiores. Iusto voluptas eligendi a explicabo modi dolores.'
                        url: 'http://www.parker.com/'
                        links:
                          self: 'http://api.trovster.com/articles/2474'
                          permalink: 'http://www.parker.com/'
                      -
                        id: 2475
                        title: 'At in laudantium quaerat aspernatur autem dolore ut.'
                        date: '2024-08-21T23:42:41+00:00'
                        summary: 'Sunt amet inventore qui. Hic labore vero labore. Impedit ab reprehenderit sint reiciendis nihil quia commodi et.'
                        url: 'http://www.graham.com/laudantium-aut-autem-modi'
                        links:
                          self: 'http://api.trovster.com/articles/2475'
                          permalink: 'http://www.graham.com/laudantium-aut-autem-modi'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2474
                        title:
                          type: string
                          example: 'Eos eligendi accusantium corporis incidunt odio labore.'
                        date:
                          type: string
                          example: '2024-08-23T07:51:00+00:00'
                        summary:
                          type: string
                          example: 'Dolore non inventore vero quaerat neque corrupti qui. Et iusto porro quidem sint et. Esse aperiam esse blanditiis aut iure maiores. Iusto voluptas eligendi a explicabo modi dolores.'
                        url:
                          type: string
                          example: 'http://www.parker.com/'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/articles/2474'
                            permalink:
                              type: string
                              example: 'http://www.parker.com/'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save an Article'
      operationId: saveAnArticle
      description: "This endpoint allows you to <strong>save a new article</strong>.\nThis requires the URL, a title, a description and a date.\n<aside>The description should be a <strong>quote</strong> from the article.</aside>"
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2476
                    title: 'Aspernatur amet vel dicta nihil deserunt et quia maxime.'
                    date: '2024-08-21T17:24:38+00:00'
                    summary: 'Velit est qui aut cum minus. Quis ut quasi quasi ducimus. Repellendus occaecati qui est totam et in a.'
                    url: 'http://www.shaw.net/qui-libero-tempora-sunt-iste-maxime-sit.html'
                    html: "<p>Velit est qui aut cum minus. Quis ut quasi quasi ducimus. Repellendus occaecati qui est totam et in a.</p>\n"
                    links:
                      self: 'http://api.trovster.com/articles/2476'
                      permalink: 'http://www.shaw.net/qui-libero-tempora-sunt-iste-maxime-sit.html'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2476
                      title:
                        type: string
                        example: 'Aspernatur amet vel dicta nihil deserunt et quia maxime.'
                      date:
                        type: string
                        example: '2024-08-21T17:24:38+00:00'
                      summary:
                        type: string
                        example: 'Velit est qui aut cum minus. Quis ut quasi quasi ducimus. Repellendus occaecati qui est totam et in a.'
                      url:
                        type: string
                        example: 'http://www.shaw.net/qui-libero-tempora-sunt-iste-maxime-sit.html'
                      html:
                        type: string
                        example: "<p>Velit est qui aut cum minus. Quis ut quasi quasi ducimus. Repellendus occaecati qui est totam et in a.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/articles/2476'
                          permalink:
                            type: string
                            example: 'http://www.shaw.net/qui-libero-tempora-sunt-iste-maxime-sit.html'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-08-25T12:47:29'
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.grant.com/'
              required:
                - date
                - url
                - title
                - description
  '/articles/{id}':
    get:
      summary: 'Get an Article'
      operationId: getAnArticle
      description: "This endpoint allows you to get a specific article, based on the ID.\nThe entry contains the full article information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2477
                    title: 'Rerum a dignissimos velit quia tempora.'
                    date: '2024-08-24T07:32:03+00:00'
                    summary: 'Eum dolor consequatur ea delectus deleniti. Accusantium doloremque rem laborum quisquam architecto. Et sed facere quam est dolores laudantium.'
                    url: 'http://scott.com/'
                    html: "<p>Eum dolor consequatur ea delectus deleniti. Accusantium doloremque rem laborum quisquam architecto. Et sed facere quam est dolores laudantium.</p>\n"
                    links:
                      self: 'http://api.trovster.com/articles/2477'
                      permalink: 'http://scott.com/'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2477
                      title:
                        type: string
                        example: 'Rerum a dignissimos velit quia tempora.'
                      date:
                        type: string
                        example: '2024-08-24T07:32:03+00:00'
                      summary:
                        type: string
                        example: 'Eum dolor consequatur ea delectus deleniti. Accusantium doloremque rem laborum quisquam architecto. Et sed facere quam est dolores laudantium.'
                      url:
                        type: string
                        example: 'http://scott.com/'
                      html:
                        type: string
                        example: "<p>Eum dolor consequatur ea delectus deleniti. Accusantium doloremque rem laborum quisquam architecto. Et sed facere quam est dolores laudantium.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/articles/2477'
                          permalink:
                            type: string
                            example: 'http://scott.com/'
      tags:
        - 'Links & Articles'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the article.'
        example: 1
        required: true
        schema:
          type: integer
  /movies:
    get:
      summary: 'List All Movies'
      operationId: listAllMovies
      description: "This endpoint allows you to list all movies.\nEach entry contains basic movie information, such as title, summary, tagline,\nyear released and runtime.\nThere are also links to external services.\nThe rating and watched count is also included.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 4119
                      title: 'ad ut culpa'
[...]
