openapi: 3.0.3
info:
  title: 'API Documentation'
  description: 'This documentation aims to provide all the information you need to work with the API and data for trovster.com.'
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
tags:
  -
    name: Intro
    description: ''
  -
    name: Activities
    description: ''
  -
    name: Avatars
    description: ''
  -
    name: Blog
    description: ''
  -
    name: Books
    description: ''
  -
    name: Health
    description: ''
  -
    name: 'Links & Articles'
    description: ''
  -
    name: Movies
    description: ''
  -
    name: Music
    description: ''
  -
    name: 'Music Events'
    description: ''
  -
    name: Statistics
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'API tokens are provided on request.'
security:
  -
    default: []
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: 'This endpoint provides links to the main available API endpoints.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    music: 'http://api.trovster.com/music'
                    photos: 'http://api.trovster.com/photos'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      music:
                        type: string
                        example: 'http://api.trovster.com/music'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: 'List All Activities'
      operationId: listAllActivities
      description: "This endpoint allows you to list all activities.\nEach entry contains basic activity information, such as title, date, summary, speed,\ndistance, moving time and type.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 3368
                      stravaId: 8
                      title: 'ut dolores culpa'
                      date: '2026-01-14T05:51:19+00:00'
                      summary: 'Walked for 8 seconds on 14th January 2026.'
                      speed: 83.2365374
                      distance: 0
                      timeMoving: 0.13333333333333
                      type: Walk
                      links:
                        self: 'http://api.trovster.com/activities/8'
                        permalink: 'http://www.trovster.com/activities/8'
                        strava: 'https://www.strava.com/activities/8'
                    -
                      id: 3369
                      stravaId: 6
                      title: 'modi delectus ut'
                      date: '2026-01-14T16:10:01+00:00'
                      summary: 'Cycled for 4 seconds on 14th January 2026.'
                      speed: 35.8357788
                      distance: 0
                      timeMoving: 0.066666666666667
                      type: 'E-Bike Ride'
                      links:
                        self: 'http://api.trovster.com/activities/6'
                        permalink: 'http://www.trovster.com/activities/6'
                        strava: 'https://www.strava.com/activities/6'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 3368
                        stravaId: 8
                        title: 'ut dolores culpa'
                        date: '2026-01-14T05:51:19+00:00'
                        summary: 'Walked for 8 seconds on 14th January 2026.'
                        speed: 83.2365374
                        distance: 0
                        timeMoving: 0.13333333333333
                        type: Walk
                        links:
                          self: 'http://api.trovster.com/activities/8'
                          permalink: 'http://www.trovster.com/activities/8'
                          strava: 'https://www.strava.com/activities/8'
                      -
                        id: 3369
                        stravaId: 6
                        title: 'modi delectus ut'
                        date: '2026-01-14T16:10:01+00:00'
                        summary: 'Cycled for 4 seconds on 14th January 2026.'
                        speed: 35.8357788
                        distance: 0
                        timeMoving: 0.066666666666667
                        type: 'E-Bike Ride'
                        links:
                          self: 'http://api.trovster.com/activities/6'
                          permalink: 'http://www.trovster.com/activities/6'
                          strava: 'https://www.strava.com/activities/6'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 3368
                        stravaId:
                          type: integer
                          example: 8
                        title:
                          type: string
                          example: 'ut dolores culpa'
                        date:
                          type: string
                          example: '2026-01-14T05:51:19+00:00'
                        summary:
                          type: string
                          example: 'Walked for 8 seconds on 14th January 2026.'
                        speed:
                          type: number
                          example: 83.2365374
                        distance:
                          type: integer
                          example: 0
                        timeMoving:
                          type: number
                          example: 0.13333333333333
                        type:
                          type: string
                          example: Walk
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/8'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/8'
                            strava:
                              type: string
                              example: 'https://www.strava.com/activities/8'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: 'Get an Activity'
      operationId: getAnActivity
      description: "This endpoint allows you to get a specific activity, based on the Strava ID.\nThe entry contains the same information provided in the listing, but also includes\nany extra text and the polyline representation. The type is an object which includes\nthe ID as well as the type name.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The polyline can be used with mapping software to show the route.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3370
                    stravaId: 70068
                    title: 'ducimus incidunt nisi'
                    date: '2026-01-14T08:05:42+00:00'
                    summary: 'Cycled for 7 seconds on 14th January 2026.'
                    speed: 94.3541292
                    distance: 0
                    timeMoving: 0.11666666666667
                    html: "<p>Ducimus et et qui qui aut cum. Occaecati in blanditiis voluptatem omnis quis consequatur quod. Sunt suscipit pariatur ut et quia voluptate repudiandae. Ea velit velit ipsam et unde quos.</p>\n"
                    polyline: e3968ccb-a5f4-3699-92a5-03bd6cf9b85f
                    type:
                      id: 15
                      name: 'E-Bike Ride'
                    links:
                      self: 'http://api.trovster.com/activities/70068'
                      permalink: 'http://www.trovster.com/activities/70068'
                      strava: 'https://www.strava.com/activities/70068'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3370
                      stravaId:
                        type: integer
                        example: 70068
                      title:
                        type: string
                        example: 'ducimus incidunt nisi'
                      date:
                        type: string
                        example: '2026-01-14T08:05:42+00:00'
                      summary:
                        type: string
                        example: 'Cycled for 7 seconds on 14th January 2026.'
                      speed:
                        type: number
                        example: 94.3541292
                      distance:
                        type: integer
                        example: 0
                      timeMoving:
                        type: number
                        example: 0.11666666666667
                      html:
                        type: string
                        example: "<p>Ducimus et et qui qui aut cum. Occaecati in blanditiis voluptatem omnis quis consequatur quod. Sunt suscipit pariatur ut et quia voluptate repudiandae. Ea velit velit ipsam et unde quos.</p>\n"
                      polyline:
                        type: string
                        example: e3968ccb-a5f4-3699-92a5-03bd6cf9b85f
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 15
                          name:
                            type: string
                            example: 'E-Bike Ride'
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/70068'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/70068'
                          strava:
                            type: string
                            example: 'https://www.strava.com/activities/70068'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: 'List All Avatars'
      operationId: listAllAvatars
      description: "This endpoint allows you to list all avatars.\nEach entry contains basic avatar information, such as the alt (name), URL and size.\nIt also notes which is the \"current\" avatar.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 16
                      current: true
                      size: 24230
                      slug: low-poly
                      url: 'https://www.trovster.com/img/avatars/avatar16-lowpoly-blue.png'
                      alt: 'Low Poly'
                      height: 512
                      width: 512
                      links:
                        self: 'https://api.trovster.com/avatars/low-poly'
                    -
                      version: 15
                      current: false
                      size: 306542
                      slug: blendmode
                      url: 'https://www.trovster.com/img/avatars/avatar15-blue.png'
                      alt: Blended
                      height: 640
                      width: 640
                      links:
                        self: 'https://api.trovster.com/avatars/blendmode'
                    -
                      version: 14
                      current: false
                      size: 260460
                      slug: graffiti-halo
                      url: 'https://www.trovster.com/img/avatars/avatar14.jpg'
                      alt: 'Graffiti Halo'
                      height: 1024
                      width: 1024
                      links:
                        self: 'https://api.trovster.com/avatars/graffiti-halo'
                    -
                      version: 13
                      current: false
                      size: 156274
                      slug: newprofilepic
                      url: 'https://www.trovster.com/img/avatars/avatar13.png'
                      alt: NewProfilePic
                      height: 415
                      width: 415
                      links:
                        self: 'https://api.trovster.com/avatars/newprofilepic'
                    -
                      version: 12
                      current: false
                      size: 196871
                      slug: graffiti
                      url: 'https://www.trovster.com/img/avatars/avatar12.jpg'
                      alt: Graffiti
                      height: 750
                      width: 750
                      links:
                        self: 'https://api.trovster.com/avatars/graffiti'
                    -
                      version: 11
                      current: false
                      size: 140058
                      slug: hypnosis
                      url: 'https://www.trovster.com/img/avatars/avatar11.jpg'
                      alt: Hypnosis
                      height: 750
                      width: 750
                      links:
                        self: 'https://api.trovster.com/avatars/hypnosis'
                    -
                      version: 10
                      current: false
                      size: 129573
                      slug: watercolour
                      url: 'https://www.trovster.com/img/avatars/avatar10.jpg'
                      alt: Watercolour
                      height: 750
                      width: 750
                      links:
                        self: 'https://api.trovster.com/avatars/watercolour'
                    -
                      version: 9
                      current: false
                      size: 56718
                      slug: passport
                      url: 'https://www.trovster.com/img/avatars/avatar9.jpg'
                      alt: 'Passport Photo'
                      height: 960
                      width: 960
                      links:
                        self: 'https://api.trovster.com/avatars/passport'
                    -
                      version: 8
                      current: false
                      size: 241475
                      slug: adventurer
                      url: 'https://www.trovster.com/img/avatars/avatar8.jpg'
                      alt: Adventurer
                      height: 450
                      width: 450
                      links:
                        self: 'https://api.trovster.com/avatars/adventurer'
                    -
                      version: 7
                      current: false
                      size: 345233
                      slug: cycling
                      url: 'https://www.trovster.com/img/avatars/avatar7.jpg'
                      alt: Cycling
                      height: 960
                      width: 960
                      links:
                        self: 'https://api.trovster.com/avatars/cycling'
                    -
                      version: 6
                      current: false
                      size: 145704
                      slug: checkered
                      url: 'https://www.trovster.com/img/avatars/avatar6.jpg'
                      alt: 'Checkered Shirt'
                      height: 500
                      width: 500
                      links:
                        self: 'https://api.trovster.com/avatars/checkered'
                    -
                      version: 5
                      current: false
                      size: 33915
                      slug: instagram-alt
                      url: 'https://www.trovster.com/img/avatars/avatar5.jpg'
                      alt: 'Blurred Instagram'
                      height: 500
                      width: 500
                      links:
                        self: 'https://api.trovster.com/avatars/instagram-alt'
                    -
                      version: 4
                      current: false
                      size: 23538
                      slug: instagram
                      url: 'https://www.trovster.com/img/avatars/avatar4.jpg'
                      alt: Instagram
                      height: 318
                      width: 320
                      links:
                        self: 'https://api.trovster.com/avatars/instagram'
                    -
                      version: 3
                      current: false
                      size: 2120
                      slug: glasses
                      url: 'https://www.trovster.com/img/avatars/avatar3.jpg'
                      alt: Glasses
                      height: 73
                      width: 73
                      links:
                        self: 'https://api.trovster.com/avatars/glasses'
                    -
                      version: 2
                      current: false
                      size: 6857
                      slug: creation
                      url: 'https://www.trovster.com/img/avatars/avatar2.gif'
                      alt: Creation
                      height: 108
                      width: 108
                      links:
                        self: 'https://api.trovster.com/avatars/creation'
                    -
                      version: 1
                      current: false
                      size: 6021
                      slug: magical-trevor
                      url: 'https://www.trovster.com/img/avatars/avatar1.jpg'
                      alt: 'Magical Trevor '
                      height: 100
                      width: 100
                      links:
                        self: 'https://api.trovster.com/avatars/magical-trevor'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 16
                        current: true
                        size: 24230
                        slug: low-poly
                        url: 'https://www.trovster.com/img/avatars/avatar16-lowpoly-blue.png'
                        alt: 'Low Poly'
                        height: 512
                        width: 512
                        links:
                          self: 'https://api.trovster.com/avatars/low-poly'
                      -
                        version: 15
                        current: false
                        size: 306542
                        slug: blendmode
                        url: 'https://www.trovster.com/img/avatars/avatar15-blue.png'
                        alt: Blended
                        height: 640
                        width: 640
                        links:
                          self: 'https://api.trovster.com/avatars/blendmode'
                      -
                        version: 14
                        current: false
                        size: 260460
                        slug: graffiti-halo
                        url: 'https://www.trovster.com/img/avatars/avatar14.jpg'
                        alt: 'Graffiti Halo'
                        height: 1024
                        width: 1024
                        links:
                          self: 'https://api.trovster.com/avatars/graffiti-halo'
                      -
                        version: 13
                        current: false
                        size: 156274
                        slug: newprofilepic
                        url: 'https://www.trovster.com/img/avatars/avatar13.png'
                        alt: NewProfilePic
                        height: 415
                        width: 415
                        links:
                          self: 'https://api.trovster.com/avatars/newprofilepic'
                      -
                        version: 12
                        current: false
                        size: 196871
                        slug: graffiti
                        url: 'https://www.trovster.com/img/avatars/avatar12.jpg'
                        alt: Graffiti
                        height: 750
                        width: 750
                        links:
                          self: 'https://api.trovster.com/avatars/graffiti'
                      -
                        version: 11
                        current: false
                        size: 140058
                        slug: hypnosis
                        url: 'https://www.trovster.com/img/avatars/avatar11.jpg'
                        alt: Hypnosis
                        height: 750
                        width: 750
                        links:
                          self: 'https://api.trovster.com/avatars/hypnosis'
                      -
                        version: 10
                        current: false
                        size: 129573
                        slug: watercolour
                        url: 'https://www.trovster.com/img/avatars/avatar10.jpg'
                        alt: Watercolour
                        height: 750
                        width: 750
                        links:
                          self: 'https://api.trovster.com/avatars/watercolour'
                      -
                        version: 9
                        current: false
                        size: 56718
                        slug: passport
                        url: 'https://www.trovster.com/img/avatars/avatar9.jpg'
                        alt: 'Passport Photo'
                        height: 960
                        width: 960
                        links:
                          self: 'https://api.trovster.com/avatars/passport'
                      -
                        version: 8
                        current: false
                        size: 241475
                        slug: adventurer
                        url: 'https://www.trovster.com/img/avatars/avatar8.jpg'
                        alt: Adventurer
                        height: 450
                        width: 450
                        links:
                          self: 'https://api.trovster.com/avatars/adventurer'
                      -
                        version: 7
                        current: false
                        size: 345233
                        slug: cycling
                        url: 'https://www.trovster.com/img/avatars/avatar7.jpg'
                        alt: Cycling
                        height: 960
                        width: 960
                        links:
                          self: 'https://api.trovster.com/avatars/cycling'
                      -
                        version: 6
                        current: false
                        size: 145704
                        slug: checkered
                        url: 'https://www.trovster.com/img/avatars/avatar6.jpg'
                        alt: 'Checkered Shirt'
                        height: 500
                        width: 500
                        links:
                          self: 'https://api.trovster.com/avatars/checkered'
                      -
                        version: 5
                        current: false
                        size: 33915
                        slug: instagram-alt
                        url: 'https://www.trovster.com/img/avatars/avatar5.jpg'
                        alt: 'Blurred Instagram'
                        height: 500
                        width: 500
                        links:
                          self: 'https://api.trovster.com/avatars/instagram-alt'
                      -
                        version: 4
                        current: false
                        size: 23538
                        slug: instagram
                        url: 'https://www.trovster.com/img/avatars/avatar4.jpg'
                        alt: Instagram
                        height: 318
                        width: 320
                        links:
                          self: 'https://api.trovster.com/avatars/instagram'
                      -
                        version: 3
                        current: false
                        size: 2120
                        slug: glasses
                        url: 'https://www.trovster.com/img/avatars/avatar3.jpg'
                        alt: Glasses
                        height: 73
                        width: 73
                        links:
                          self: 'https://api.trovster.com/avatars/glasses'
                      -
                        version: 2
                        current: false
                        size: 6857
                        slug: creation
                        url: 'https://www.trovster.com/img/avatars/avatar2.gif'
                        alt: Creation
                        height: 108
                        width: 108
                        links:
                          self: 'https://api.trovster.com/avatars/creation'
                      -
                        version: 1
                        current: false
                        size: 6021
                        slug: magical-trevor
                        url: 'https://www.trovster.com/img/avatars/avatar1.jpg'
                        alt: 'Magical Trevor '
                        height: 100
                        width: 100
                        links:
                          self: 'https://api.trovster.com/avatars/magical-trevor'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 16
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 24230
                        slug:
                          type: string
                          example: low-poly
                        url:
                          type: string
                          example: 'https://www.trovster.com/img/avatars/avatar16-lowpoly-blue.png'
                        alt:
                          type: string
                          example: 'Low Poly'
                        height:
                          type: integer
                          example: 512
                        width:
                          type: integer
                          example: 512
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'https://api.trovster.com/avatars/low-poly'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: 'Get an Avatar'
      operationId: getAnAvatar
      description: "This endpoint allows you to get a specific avatar, based on the slug.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 1
                    current: false
                    size: 6021
                    slug: magical-trevor
                    url: 'https://www.trovster.com/img/avatars/avatar1.jpg'
                    alt: 'Magical Trevor '
                    height: 100
                    width: 100
                    links:
                      self: 'https://api.trovster.com/avatars/magical-trevor'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 1
                      current:
                        type: boolean
                        example: false
                      size:
                        type: integer
                        example: 6021
                      slug:
                        type: string
                        example: magical-trevor
                      url:
                        type: string
                        example: 'https://www.trovster.com/img/avatars/avatar1.jpg'
                      alt:
                        type: string
                        example: 'Magical Trevor '
                      height:
                        type: integer
                        example: 100
                      width:
                        type: integer
                        example: 100
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'https://api.trovster.com/avatars/magical-trevor'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: 'List All Blog Posts'
      operationId: listAllBlogPosts
      description: "This endpoint allows you to list all blog posts.\nEach entry contains basic post information, such as title, date, summary,\nword count and an array of categories.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 458
                      title: 'Magni tenetur autem aut deserunt eligendi porro eum.'
                      date: '2026-01-14T10:45:04+00:00'
                      summary: 'Sit nesciunt voluptatem aut est. Aspernatur deleniti et omnis itaque nulla ut labore. Qui laudantium et laudantium aut.'
                      wordCount: 206
                      categories:
                        - molestias
                      links:
                        self: 'http://api.trovster.com/blog/458'
                        permalink: 'http://www.trovster.com/blog/2026/01/magni-tenetur-autem-aut-deserunt-eligendi-porro-eum'
                    -
                      id: 459
                      title: 'Id occaecati sapiente dolores quidem qui et et.'
                      date: '2026-01-16T12:03:03+00:00'
                      summary: 'Ut unde earum magnam ut amet non assumenda. Delectus minima dolorem explicabo accusamus velit rerum. Est possimus rerum blanditiis est ut et error. Dolor non architecto ut ut est.'
                      wordCount: 218
                      categories:
                        - placeat
                      links:
                        self: 'http://api.trovster.com/blog/459'
                        permalink: 'http://www.trovster.com/blog/2026/01/id-occaecati-sapiente-dolores-quidem-qui-et-et'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 458
                        title: 'Magni tenetur autem aut deserunt eligendi porro eum.'
                        date: '2026-01-14T10:45:04+00:00'
                        summary: 'Sit nesciunt voluptatem aut est. Aspernatur deleniti et omnis itaque nulla ut labore. Qui laudantium et laudantium aut.'
                        wordCount: 206
                        categories:
                          - molestias
                        links:
                          self: 'http://api.trovster.com/blog/458'
                          permalink: 'http://www.trovster.com/blog/2026/01/magni-tenetur-autem-aut-deserunt-eligendi-porro-eum'
                      -
                        id: 459
                        title: 'Id occaecati sapiente dolores quidem qui et et.'
                        date: '2026-01-16T12:03:03+00:00'
                        summary: 'Ut unde earum magnam ut amet non assumenda. Delectus minima dolorem explicabo accusamus velit rerum. Est possimus rerum blanditiis est ut et error. Dolor non architecto ut ut est.'
                        wordCount: 218
                        categories:
                          - placeat
                        links:
                          self: 'http://api.trovster.com/blog/459'
                          permalink: 'http://www.trovster.com/blog/2026/01/id-occaecati-sapiente-dolores-quidem-qui-et-et'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 458
                        title:
                          type: string
                          example: 'Magni tenetur autem aut deserunt eligendi porro eum.'
                        date:
                          type: string
                          example: '2026-01-14T10:45:04+00:00'
                        summary:
                          type: string
                          example: 'Sit nesciunt voluptatem aut est. Aspernatur deleniti et omnis itaque nulla ut labore. Qui laudantium et laudantium aut.'
                        wordCount:
                          type: integer
                          example: 206
                        categories:
                          type: array
                          example:
                            - molestias
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/458'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2026/01/magni-tenetur-autem-aut-deserunt-eligendi-porro-eum'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{ID}':
    get:
      summary: 'Get a Blog Post'
      operationId: getABlogPost
      description: "This endpoint allows you to get a specific blog post, based on the ID.\nThe entry contains the full blog post information, including the full html.\nThe category array contains objects of category ID and name."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 460
                    title: 'Et consequuntur eum iure.'
                    date: '2026-01-14T13:43:54+00:00'
                    summary: 'Ipsam aut ducimus minus non sunt impedit. Et qui magni ut voluptate.'
                    wordCount: 236
                    html: "<p>Voluptatem consequatur maiores vel modi. Sit dolores et molestias et perferendis quasi. Minus quia amet quisquam nostrum cum quo vero. Et reprehenderit autem et molestiae modi error.</p>\n<p>Rerum ut placeat atque nulla. Deleniti molestiae similique cum sequi. Impedit sit est minus consequatur est. Dolore officiis natus qui autem nihil voluptates.</p>\n<p>Praesentium harum dolorem eligendi et hic. Rerum sed animi mollitia eius et ut reiciendis consequatur. Sed corporis similique incidunt sit nulla. Sunt similique voluptatem mollitia delectus saepe deserunt beatae.</p>\n<p>Ex rerum dolorem quasi tempora commodi quaerat minima. Recusandae suscipit molestias quis repellat nemo. Explicabo eum accusamus aut velit qui minus.</p>\n<p>Ut perferendis delectus dolorem fuga. Voluptas quibusdam eligendi est blanditiis quis. Ex sit cumque nesciunt id. Eius tempora quae sequi odit voluptate.</p>\n<p>Aliquam earum provident quis consequatur. Repellendus impedit nulla beatae eligendi veniam. Ducimus accusamus dolores cupiditate illum.</p>\n<p>Quia omnis perferendis quo et et sunt vero. Accusamus aut explicabo corrupti nam voluptatibus sint laborum. Enim porro est laudantium velit aliquid. Eius dolor suscipit magni quo excepturi magnam ut ut.</p>\n<p>Aut doloribus veritatis maiores odio corrupti veniam. Veniam voluptatem in unde animi velit nesciunt. Culpa corporis et eos quod sit et facere ut.</p>\n<p>Voluptates et quia ex vel veniam. Explicabo dolor fugit adipisci doloremque illum. Et ullam unde voluptates fuga.</p>\n<p>Incidunt at enim eligendi nam est suscipit. Illo numquam a quam quia fugit delectus quia. Harum dicta minima libero voluptas vel. Fuga placeat aliquid blanditiis accusantium ipsum.</p>\n"
                    categories:
                      -
                        id: 751
                        name: tenetur
                    links:
                      self: 'http://api.trovster.com/blog/460'
                      permalink: 'http://www.trovster.com/blog/2026/01/et-consequuntur-eum-iure'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 460
                      title:
                        type: string
                        example: 'Et consequuntur eum iure.'
                      date:
                        type: string
                        example: '2026-01-14T13:43:54+00:00'
                      summary:
                        type: string
                        example: 'Ipsam aut ducimus minus non sunt impedit. Et qui magni ut voluptate.'
                      wordCount:
                        type: integer
                        example: 236
                      html:
                        type: string
                        example: "<p>Voluptatem consequatur maiores vel modi. Sit dolores et molestias et perferendis quasi. Minus quia amet quisquam nostrum cum quo vero. Et reprehenderit autem et molestiae modi error.</p>\n<p>Rerum ut placeat atque nulla. Deleniti molestiae similique cum sequi. Impedit sit est minus consequatur est. Dolore officiis natus qui autem nihil voluptates.</p>\n<p>Praesentium harum dolorem eligendi et hic. Rerum sed animi mollitia eius et ut reiciendis consequatur. Sed corporis similique incidunt sit nulla. Sunt similique voluptatem mollitia delectus saepe deserunt beatae.</p>\n<p>Ex rerum dolorem quasi tempora commodi quaerat minima. Recusandae suscipit molestias quis repellat nemo. Explicabo eum accusamus aut velit qui minus.</p>\n<p>Ut perferendis delectus dolorem fuga. Voluptas quibusdam eligendi est blanditiis quis. Ex sit cumque nesciunt id. Eius tempora quae sequi odit voluptate.</p>\n<p>Aliquam earum provident quis consequatur. Repellendus impedit nulla beatae eligendi veniam. Ducimus accusamus dolores cupiditate illum.</p>\n<p>Quia omnis perferendis quo et et sunt vero. Accusamus aut explicabo corrupti nam voluptatibus sint laborum. Enim porro est laudantium velit aliquid. Eius dolor suscipit magni quo excepturi magnam ut ut.</p>\n<p>Aut doloribus veritatis maiores odio corrupti veniam. Veniam voluptatem in unde animi velit nesciunt. Culpa corporis et eos quod sit et facere ut.</p>\n<p>Voluptates et quia ex vel veniam. Explicabo dolor fugit adipisci doloremque illum. Et ullam unde voluptates fuga.</p>\n<p>Incidunt at enim eligendi nam est suscipit. Illo numquam a quam quia fugit delectus quia. Harum dicta minima libero voluptas vel. Fuga placeat aliquid blanditiis accusantium ipsum.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 751
                            name: tenetur
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 751
                            name:
                              type: string
                              example: tenetur
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/460'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2026/01/et-consequuntur-eum-iure'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: 'List All Books'
      operationId: listAllBooks
      description: "This endpoint allows you to list all books.\nEach entry contains basic book information, such as title, ISBN, summary,\nand page count.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 342
                      isbn: '9799215094287'
                      title: 'Nam voluptate aut minima laboriosam.'
                      summary: 'Fugit earum maiores fugit eaque consequatur. Hic et suscipit enim est dignissimos numquam necessitatibus. Quo aut qui omnis veniam blanditiis. Eius similique facere nostrum aperiam ad nostrum nostrum.'
                      pageCount: 8
                      links:
                        self: 'http://api.trovster.com/books/9799215094287'
                        permalink: 'http://www.trovster.com/books/9799215094287/totam-qui-ut-ut-quis-modi'
                    -
                      id: 343
                      isbn: '9780912610832'
                      title: 'Esse quod molestiae dolore qui est officiis.'
                      summary: 'Alias aspernatur repellendus recusandae repellat at sit distinctio. Ratione qui neque quibusdam. Iste repellat ut et porro tenetur delectus. Consequatur iure a laborum enim omnis ea quisquam.'
                      pageCount: 7
                      links:
                        self: 'http://api.trovster.com/books/9780912610832'
                        permalink: 'http://www.trovster.com/books/9780912610832/recusandae-ad-ea-doloribus-ipsam-doloribus-at'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 342
                        isbn: '9799215094287'
                        title: 'Nam voluptate aut minima laboriosam.'
                        summary: 'Fugit earum maiores fugit eaque consequatur. Hic et suscipit enim est dignissimos numquam necessitatibus. Quo aut qui omnis veniam blanditiis. Eius similique facere nostrum aperiam ad nostrum nostrum.'
                        pageCount: 8
                        links:
                          self: 'http://api.trovster.com/books/9799215094287'
                          permalink: 'http://www.trovster.com/books/9799215094287/totam-qui-ut-ut-quis-modi'
                      -
                        id: 343
                        isbn: '9780912610832'
                        title: 'Esse quod molestiae dolore qui est officiis.'
                        summary: 'Alias aspernatur repellendus recusandae repellat at sit distinctio. Ratione qui neque quibusdam. Iste repellat ut et porro tenetur delectus. Consequatur iure a laborum enim omnis ea quisquam.'
                        pageCount: 7
                        links:
                          self: 'http://api.trovster.com/books/9780912610832'
                          permalink: 'http://www.trovster.com/books/9780912610832/recusandae-ad-ea-doloribus-ipsam-doloribus-at'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 342
                        isbn:
                          type: string
                          example: '9799215094287'
                        title:
                          type: string
                          example: 'Nam voluptate aut minima laboriosam.'
                        summary:
                          type: string
                          example: 'Fugit earum maiores fugit eaque consequatur. Hic et suscipit enim est dignissimos numquam necessitatibus. Quo aut qui omnis veniam blanditiis. Eius similique facere nostrum aperiam ad nostrum nostrum.'
                        pageCount:
                          type: integer
                          example: 8
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9799215094287'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9799215094287/totam-qui-ut-ut-quis-modi'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: 'Get a Book'
      operationId: getABook
      description: "This endpoint allows you to get a specific book, based on the ISBN.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 344
                    isbn: '9795910521486'
                    title: 'Eos est quisquam odit ut doloribus in iste.'
                    summary: 'Sed dignissimos praesentium saepe repellendus magni quia totam itaque. Ut architecto qui facilis rerum sed sapiente qui doloremque. Et officia quidem laborum vero optio. Error perspiciatis esse et eum id dolorem inventore labore.'
                    pageCount: 8
                    links:
                      self: 'http://api.trovster.com/books/9795910521486'
                      permalink: 'http://www.trovster.com/books/9795910521486/non-cupiditate-asperiores-voluptatem-eveniet'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 344
                      isbn:
                        type: string
                        example: '9795910521486'
                      title:
                        type: string
                        example: 'Eos est quisquam odit ut doloribus in iste.'
                      summary:
                        type: string
                        example: 'Sed dignissimos praesentium saepe repellendus magni quia totam itaque. Ut architecto qui facilis rerum sed sapiente qui doloremque. Et officia quidem laborum vero optio. Error perspiciatis esse et eum id dolorem inventore labore.'
                      pageCount:
                        type: integer
                        example: 8
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9795910521486'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9795910521486/non-cupiditate-asperiores-voluptatem-eveniet'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: 'Read a Book'
      operationId: readABook
      description: "This endpoint allows you to <strong>mark a book as read</strong>.\nThis requires the book ISBN13 and the date read.\nA rating between 1 and 10 is <em>optional</em>."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2026-01-17T00:00:00.000000Z'
                    rating: 1
                    book:
                      id: 341
                      isbn: '9789855740620'
                      title: 'Numquam sunt temporibus suscipit voluptatem.'
                      summary: 'Delectus rerum repellat impedit dolor dicta in quasi saepe. Aperiam consectetur quas tempora eos omnis dolorum. Fuga veritatis doloribus voluptas repudiandae. Et non ullam aut ut qui sequi cupiditate.'
                      pageCount: 5
                      links:
                        self: 'http://api.trovster.com/books/9789855740620'
                        permalink: 'http://www.trovster.com/books/9789855740620/sed-occaecati-cupiditate-sed-ipsa-in-veritatis'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2026-01-17T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 1
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 341
                          isbn:
                            type: string
                            example: '9789855740620'
                          title:
                            type: string
                            example: 'Numquam sunt temporibus suscipit voluptatem.'
                          summary:
                            type: string
                            example: 'Delectus rerum repellat impedit dolor dicta in quasi saepe. Aperiam consectetur quas tempora eos omnis dolorum. Fuga veritatis doloribus voluptas repudiandae. Et non ullam aut ut qui sequi cupiditate.'
                          pageCount:
                            type: integer
                            example: 5
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9789855740620'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9789855740620/sed-occaecati-cupiditate-sed-ipsa-in-veritatis'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2025-10-28'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 9
                  nullable: true
                isbn:
                  type: string
                  description: 'Must be 13 digits.'
                  example: 9781451648539
              required:
                - date
                - isbn
  /fitness/import:
    post:
      summary: 'Import Fitness Data'
      operationId: importFitnessData
      description: "This endpoint allows you to import raw fitness JSON data.\nThe JSON is saved as a file using the unique session ID."
      parameters: []
      responses: {  }
      tags:
        - Health
  /fitness:
    get:
      summary: 'List All Fitness Data'
      operationId: listAllFitnessData
      description: "This endpoint allows you to list all the fitness data.\nEach entry contains basic fitness information, such as date, summary, steps,\ndistance and flights.\nThere are objects for move, exercise and stand data. These include the total, goal,\npercent and whether the item was completed.\n<strong>The summary is a useful sentence describing the information.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 844
                      date: '1984-01-23T00:00:00+00:00'
                      summary: 'I took 9 steps, walked 0.00 miles and climbed 9 flights on 23/01/1984.'
                      steps: 9
                      distance: 7
                      flights: 9
                      move:
                        total: 9
                        goal: 6
                        percent: 150
                        complete: true
                      exercise:
                        total: 5
                        goal: 7
                        percent: 71
                        complete: false
                      stand:
                        total: 6
                        goal: 5
                        percent: 120
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/1984-01-23'
                        permalink: 'http://www.trovster.com/activities/1984-01-23'
                    -
                      id: 845
                      date: '1993-06-06T00:00:00+00:00'
                      summary: 'I took 6 steps, walked 0.00 miles and climbed 6 flights on 06/06/1993.'
                      steps: 6
                      distance: 3
                      flights: 6
                      move:
                        total: 1
                        goal: 7
                        percent: 14
                        complete: false
                      exercise:
                        total: 8
                        goal: 9
                        percent: 89
                        complete: false
                      stand:
                        total: 6
                        goal: 5
                        percent: 120
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/1993-06-06'
                        permalink: 'http://www.trovster.com/activities/1993-06-06'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 844
                        date: '1984-01-23T00:00:00+00:00'
                        summary: 'I took 9 steps, walked 0.00 miles and climbed 9 flights on 23/01/1984.'
                        steps: 9
                        distance: 7
                        flights: 9
                        move:
                          total: 9
                          goal: 6
                          percent: 150
                          complete: true
                        exercise:
                          total: 5
                          goal: 7
                          percent: 71
                          complete: false
                        stand:
                          total: 6
                          goal: 5
                          percent: 120
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/1984-01-23'
                          permalink: 'http://www.trovster.com/activities/1984-01-23'
                      -
                        id: 845
                        date: '1993-06-06T00:00:00+00:00'
                        summary: 'I took 6 steps, walked 0.00 miles and climbed 6 flights on 06/06/1993.'
                        steps: 6
                        distance: 3
                        flights: 6
                        move:
                          total: 1
                          goal: 7
                          percent: 14
                          complete: false
                        exercise:
                          total: 8
                          goal: 9
                          percent: 89
                          complete: false
                        stand:
                          total: 6
                          goal: 5
                          percent: 120
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/1993-06-06'
                          permalink: 'http://www.trovster.com/activities/1993-06-06'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 844
                        date:
                          type: string
                          example: '1984-01-23T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 9 steps, walked 0.00 miles and climbed 9 flights on 23/01/1984.'
                        steps:
                          type: integer
                          example: 9
                        distance:
                          type: integer
                          example: 7
                        flights:
                          type: integer
                          example: 9
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 9
                            goal:
                              type: integer
                              example: 6
                            percent:
                              type: integer
                              example: 150
                            complete:
                              type: boolean
                              example: true
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 5
                            goal:
                              type: integer
                              example: 7
                            percent:
                              type: integer
                              example: 71
                            complete:
                              type: boolean
                              example: false
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 6
                            goal:
                              type: integer
                              example: 5
                            percent:
                              type: integer
                              example: 120
                            complete:
                              type: boolean
                              example: true
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/1984-01-23'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/1984-01-23'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
    post:
      summary: 'Store Fitness Data'
      operationId: storeFitnessData
      description: "This endpoint allows you to store fitness data.\nIt required a date and basic health data, such as active energy, step count,\ndistance and flights climbed. The total for movie, exercise and stand are also\nrequired."
      parameters: []
      responses: {  }
      tags:
        - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2014-05-30'
                active_energy:
                  type: number
                  description: ''
                  example: 7600.0
                step_count:
                  type: number
                  description: ''
                  example: 7500.0
                distance:
                  type: number
                  description: ''
                  example: 5000.0
                flights_climbed:
                  type: number
                  description: ''
                  example: 10.0
                move_total:
                  type: number
                  description: ''
                  example: 650.0
                exercise_total:
                  type: number
                  description: ''
                  example: 30.0
                stand_total:
                  type: number
                  description: ''
                  example: 12.0
              required:
                - date
                - active_energy
                - step_count
                - distance
                - flights_climbed
                - move_total
                - exercise_total
                - stand_total
  '/fitness/{health_date}':
    get:
      summary: 'Get Fitness Data'
      operationId: getFitnessData
      description: "This endpoint allows you to get fitness data, based on the date.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 846
                    date: '1982-04-12T00:00:00+00:00'
                    summary: 'I took 2 steps, walked 0.00 miles and climbed 5 flights on 12/04/1982.'
                    steps: 2
                    distance: 7
                    flights: 5
                    move:
                      total: 9
                      goal: 7
                      percent: 129
                      complete: true
                    exercise:
                      total: 2
                      goal: 2
                      percent: 100
                      complete: true
                    stand:
                      total: 8
                      goal: 6
                      percent: 133
                      complete: true
                    links:
                      self: 'http://api.trovster.com/fitness/1982-04-12'
                      permalink: 'http://www.trovster.com/activities/1982-04-12'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 846
                      date:
                        type: string
                        example: '1982-04-12T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 2 steps, walked 0.00 miles and climbed 5 flights on 12/04/1982.'
                      steps:
                        type: integer
                        example: 2
                      distance:
                        type: integer
                        example: 7
                      flights:
                        type: integer
                        example: 5
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 9
                          goal:
                            type: integer
                            example: 7
                          percent:
                            type: integer
                            example: 129
                          complete:
                            type: boolean
                            example: true
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          goal:
                            type: integer
                            example: 2
                          percent:
                            type: integer
                            example: 100
                          complete:
                            type: boolean
                            example: true
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 8
                          goal:
                            type: integer
                            example: 6
                          percent:
                            type: integer
                            example: 133
                          complete:
                            type: boolean
                            example: true
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/1982-04-12'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/1982-04-12'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /links:
    get:
      summary: 'List All Links'
      operationId: listAllLinks
      description: "This endpoint allows you to list all links.\nEach entry contains basic link information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2248
                      sqid: uym7g9
                      title: 'Voluptatem consequatur voluptas asperiores libero soluta praesentium.'
                      date: '2026-01-15T01:37:28+00:00'
                      summary: 'Incidunt ratione quo adipisci sint voluptatum. Sapiente natus earum laboriosam officia. Dolor odit qui quia. Qui et vel voluptate autem voluptas. Alias molestiae earum et nemo dolorem omnis.'
                      url: 'https://saunders.org/alias-quisquam-doloremque-iure-similique-et-magni.html'
                      links:
                        self: 'http://api.trovster.com/links/uym7g9'
                        permalink: 'http://www.trovster.com/links/l/uym7g9'
                    -
                      id: 2249
                      sqid: 9286s7
                      title: 'Voluptas in sit aperiam minima rerum reiciendis voluptatum iste.'
                      date: '2026-01-17T02:08:34+00:00'
                      summary: 'Omnis autem ducimus voluptatem vel. Dolorem illo voluptatibus libero eveniet nihil. Recusandae sunt sit aut officia eveniet id. Eum et qui nobis soluta perferendis.'
                      url: 'http://james.com/possimus-velit-quia-unde-consequuntur.html'
                      links:
                        self: 'http://api.trovster.com/links/9286s7'
                        permalink: 'http://www.trovster.com/links/l/9286s7'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2248
                        sqid: uym7g9
                        title: 'Voluptatem consequatur voluptas asperiores libero soluta praesentium.'
                        date: '2026-01-15T01:37:28+00:00'
                        summary: 'Incidunt ratione quo adipisci sint voluptatum. Sapiente natus earum laboriosam officia. Dolor odit qui quia. Qui et vel voluptate autem voluptas. Alias molestiae earum et nemo dolorem omnis.'
                        url: 'https://saunders.org/alias-quisquam-doloremque-iure-similique-et-magni.html'
                        links:
                          self: 'http://api.trovster.com/links/uym7g9'
                          permalink: 'http://www.trovster.com/links/l/uym7g9'
                      -
                        id: 2249
                        sqid: 9286s7
                        title: 'Voluptas in sit aperiam minima rerum reiciendis voluptatum iste.'
                        date: '2026-01-17T02:08:34+00:00'
                        summary: 'Omnis autem ducimus voluptatem vel. Dolorem illo voluptatibus libero eveniet nihil. Recusandae sunt sit aut officia eveniet id. Eum et qui nobis soluta perferendis.'
                        url: 'http://james.com/possimus-velit-quia-unde-consequuntur.html'
                        links:
                          self: 'http://api.trovster.com/links/9286s7'
                          permalink: 'http://www.trovster.com/links/l/9286s7'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2248
                        sqid:
                          type: string
                          example: uym7g9
                        title:
                          type: string
                          example: 'Voluptatem consequatur voluptas asperiores libero soluta praesentium.'
                        date:
                          type: string
                          example: '2026-01-15T01:37:28+00:00'
                        summary:
                          type: string
                          example: 'Incidunt ratione quo adipisci sint voluptatum. Sapiente natus earum laboriosam officia. Dolor odit qui quia. Qui et vel voluptate autem voluptas. Alias molestiae earum et nemo dolorem omnis.'
                        url:
                          type: string
                          example: 'https://saunders.org/alias-quisquam-doloremque-iure-similique-et-magni.html'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/links/uym7g9'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/links/l/uym7g9'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save a Link'
      operationId: saveALink
      description: "This endpoint allows you to <strong>save a new link</strong>.\nThis requires the URL, a title, a description and a date."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2250
                    sqid: d16g23
                    title: 'Ad ea ratione quis.'
                    date: '2026-01-18T19:32:01+00:00'
                    summary: 'Repudiandae minus a expedita et voluptas repellat ex. Quae et voluptatem et voluptates qui distinctio molestiae. Itaque libero omnis magni commodi.'
                    url: 'http://www.adams.com/'
                    html: "<p>Repudiandae minus a expedita et voluptas repellat ex. Quae et voluptatem et voluptates qui distinctio molestiae. Itaque libero omnis magni commodi.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/d16g23'
                      permalink: 'http://www.trovster.com/links/l/d16g23'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2250
                      sqid:
                        type: string
                        example: d16g23
                      title:
                        type: string
                        example: 'Ad ea ratione quis.'
                      date:
                        type: string
                        example: '2026-01-18T19:32:01+00:00'
                      summary:
                        type: string
                        example: 'Repudiandae minus a expedita et voluptas repellat ex. Quae et voluptatem et voluptates qui distinctio molestiae. Itaque libero omnis magni commodi.'
                      url:
                        type: string
                        example: 'http://www.adams.com/'
                      html:
                        type: string
                        example: "<p>Repudiandae minus a expedita et voluptas repellat ex. Quae et voluptatem et voluptates qui distinctio molestiae. Itaque libero omnis magni commodi.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/d16g23'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/links/l/d16g23'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-01-19T22:19:12'
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://mclaughlin.net/officia-esse-libero-officia-blanditiis.html'
              required:
                - date
                - url
                - title
                - description
  '/links/{sqid}':
    get:
      summary: 'Get a Link'
      operationId: getALink
      description: "This endpoint allows you to get a specific link, based on the Sqid.\nThe entry contains the full link information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2251
                    sqid: wuyx64
                    title: 'Nihil dolores explicabo sapiente voluptates delectus eos quis exercitationem.'
                    date: '2026-01-13T12:49:57+00:00'
                    summary: 'Itaque laudantium ab rerum veniam. Deserunt nobis eaque id nemo expedita. Aliquam culpa iusto vel. Fugiat unde consequatur voluptatem perferendis consequatur quisquam nisi eveniet. Veritatis temporibus illum accusamus necessitatibus.'
                    url: 'http://richardson.org/'
                    html: "<p>Itaque laudantium ab rerum veniam. Deserunt nobis eaque id nemo expedita. Aliquam culpa iusto vel. Fugiat unde consequatur voluptatem perferendis consequatur quisquam nisi eveniet. Veritatis temporibus illum accusamus necessitatibus.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/wuyx64'
                      permalink: 'http://www.trovster.com/links/l/wuyx64'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2251
                      sqid:
                        type: string
                        example: wuyx64
                      title:
                        type: string
                        example: 'Nihil dolores explicabo sapiente voluptates delectus eos quis exercitationem.'
                      date:
                        type: string
                        example: '2026-01-13T12:49:57+00:00'
                      summary:
                        type: string
[...]
