openapi: 3.0.3
info:
  title: 'API for trovster.com'
  description: 'This documentation aims to provide all the information you need to work with the API and data for trovster.com.'
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
tags:
  -
    name: Intro
    description: ''
  -
    name: Activities
    description: ''
  -
    name: Avatars
    description: ''
  -
    name: Blog
    description: ''
  -
    name: Books
    description: ''
  -
    name: Health
    description: ''
  -
    name: 'Links & Articles'
    description: ''
  -
    name: Movies
    description: ''
  -
    name: Music
    description: ''
  -
    name: 'Music Events'
    description: ''
  -
    name: Lego
    description: ''
  -
    name: Statistics
    description: ''
  -
    name: Notes
    description: ''
  -
    name: Now
    description: ''
  -
    name: Places
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'API tokens are provided on request.'
security:
  -
    default: []
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: 'This endpoint provides links to the main available API endpoints.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    music: 'http://api.trovster.com/music'
                    notes: 'http://api.trovster.com/notes'
                    photos: 'http://api.trovster.com/photos'
                    places: 'http://api.trovster.com/places'
                    links: 'http://api.trovster.com/links'
                    articles: 'http://api.trovster.com/articles'
                    lego: 'http://api.trovster.com/lego'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      music:
                        type: string
                        example: 'http://api.trovster.com/music'
                      notes:
                        type: string
                        example: 'http://api.trovster.com/notes'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      places:
                        type: string
                        example: 'http://api.trovster.com/places'
                      links:
                        type: string
                        example: 'http://api.trovster.com/links'
                      articles:
                        type: string
                        example: 'http://api.trovster.com/articles'
                      lego:
                        type: string
                        example: 'http://api.trovster.com/lego'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: 'List All Activities'
      operationId: listAllActivities
      description: "This endpoint allows you to list all activities.\nEach entry contains basic activity information, such as title, date, summary, speed,\ndistance, moving time and type.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      stravaId: 184043
                      title: 'qui deleniti quis'
                      date: '2026-09-11T20:13:01+00:00'
                      summary: 'Cycled for 2 seconds on 11th September 2026.'
                      speed: 3.1764548
                      distance: 0.01
                      timeMoving: 0.033333333333333
                      type: 'E-Bike Ride'
                      links:
                        self: 'http://api.trovster.com/activities/184043'
                        permalink: 'http://www.trovster.com/activities/184043'
                        strava: 'https://www.strava.com/activities/184043'
                    -
                      id: 2
                      stravaId: 481599
                      title: 'beatae eos quo'
                      date: '2026-09-11T19:18:51+00:00'
                      summary: 'Cycled for 3 seconds on 11th September 2026.'
                      speed: 23.5326088
                      distance: 0
                      timeMoving: 0.05
                      type: Ride
                      links:
                        self: 'http://api.trovster.com/activities/481599'
                        permalink: 'http://www.trovster.com/activities/481599'
                        strava: 'https://www.strava.com/activities/481599'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        stravaId: 184043
                        title: 'qui deleniti quis'
                        date: '2026-09-11T20:13:01+00:00'
                        summary: 'Cycled for 2 seconds on 11th September 2026.'
                        speed: 3.1764548
                        distance: 0.01
                        timeMoving: 0.033333333333333
                        type: 'E-Bike Ride'
                        links:
                          self: 'http://api.trovster.com/activities/184043'
                          permalink: 'http://www.trovster.com/activities/184043'
                          strava: 'https://www.strava.com/activities/184043'
                      -
                        id: 2
                        stravaId: 481599
                        title: 'beatae eos quo'
                        date: '2026-09-11T19:18:51+00:00'
                        summary: 'Cycled for 3 seconds on 11th September 2026.'
                        speed: 23.5326088
                        distance: 0
                        timeMoving: 0.05
                        type: Ride
                        links:
                          self: 'http://api.trovster.com/activities/481599'
                          permalink: 'http://www.trovster.com/activities/481599'
                          strava: 'https://www.strava.com/activities/481599'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        stravaId:
                          type: integer
                          example: 184043
                        title:
                          type: string
                          example: 'qui deleniti quis'
                        date:
                          type: string
                          example: '2026-09-11T20:13:01+00:00'
                        summary:
                          type: string
                          example: 'Cycled for 2 seconds on 11th September 2026.'
                        speed:
                          type: number
                          example: 3.1764548
                        distance:
                          type: number
                          example: 0.01
                        timeMoving:
                          type: number
                          example: 0.033333333333333
                        type:
                          type: string
                          example: 'E-Bike Ride'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/184043'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/184043'
                            strava:
                              type: string
                              example: 'https://www.strava.com/activities/184043'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: null
                        nullable: true
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                              nullable: true
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                              nullable: true
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: 'Get an Activity'
      operationId: getAnActivity
      description: "This endpoint allows you to get a specific activity, based on the Strava ID.\nThe entry contains the same information provided in the listing, but also includes\nany extra text and the polyline representation. The type is an object which includes\nthe ID as well as the type name.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The polyline can be used with mapping software to show the route.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    stravaId: 401200
                    title: 'eos excepturi voluptas'
                    date: '2026-09-13T15:41:43+00:00'
                    summary: 'Walked for 2 seconds on 13th September 2026.'
                    speed: 48.4744898
                    distance: 0
                    timeMoving: 0.033333333333333
                    html: "<p>Delectus incidunt asperiores aut et quis amet veritatis ipsa. Qui dolor quod maiores quidem. Voluptate delectus magni doloremque consequatur ab ratione.</p>\n"
                    polyline: 4574e258-02a4-3b50-a272-cea2f4b937b4
                    heartRateZones: []
                    type:
                      id: 3
                      name: Walk
                    links:
                      self: 'http://api.trovster.com/activities/401200'
                      permalink: 'http://www.trovster.com/activities/401200'
                      strava: 'https://www.strava.com/activities/401200'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      stravaId:
                        type: integer
                        example: 401200
                      title:
                        type: string
                        example: 'eos excepturi voluptas'
                      date:
                        type: string
                        example: '2026-09-13T15:41:43+00:00'
                      summary:
                        type: string
                        example: 'Walked for 2 seconds on 13th September 2026.'
                      speed:
                        type: number
                        example: 48.4744898
                      distance:
                        type: integer
                        example: 0
                      timeMoving:
                        type: number
                        example: 0.033333333333333
                      html:
                        type: string
                        example: "<p>Delectus incidunt asperiores aut et quis amet veritatis ipsa. Qui dolor quod maiores quidem. Voluptate delectus magni doloremque consequatur ab ratione.</p>\n"
                      polyline:
                        type: string
                        example: 4574e258-02a4-3b50-a272-cea2f4b937b4
                      heartRateZones:
                        type: array
                        example: []
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          name:
                            type: string
                            example: Walk
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/401200'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/401200'
                          strava:
                            type: string
                            example: 'https://www.strava.com/activities/401200'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: 'List All Avatars'
      operationId: listAllAvatars
      description: "This endpoint allows you to list all avatars.\nEach entry contains basic avatar information, such as the alt (name), URL and size.\nIt also notes which is the \"current\" avatar.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 16
                      current: true
                      size: 24230
                      slug: low-poly
                      url: 'https://www.trovster.com/img/avatars/avatar16-lowpoly-blue.png'
                      alt: 'Low Poly'
                      height: 512
                      width: 512
                      links:
                        self: 'https://api.trovster.com/avatars/low-poly'
                    -
                      version: 15
                      current: false
                      size: 306542
                      slug: blendmode
                      url: 'https://www.trovster.com/img/avatars/avatar15-blue.png'
                      alt: Blended
                      height: 640
                      width: 640
                      links:
                        self: 'https://api.trovster.com/avatars/blendmode'
                    -
                      version: 14
                      current: false
                      size: 260460
                      slug: graffiti-halo
                      url: 'https://www.trovster.com/img/avatars/avatar14.jpg'
                      alt: 'Graffiti Halo'
                      height: 1024
                      width: 1024
                      links:
                        self: 'https://api.trovster.com/avatars/graffiti-halo'
                    -
                      version: 13
                      current: false
                      size: 156274
                      slug: newprofilepic
                      url: 'https://www.trovster.com/img/avatars/avatar13.png'
                      alt: NewProfilePic
                      height: 415
                      width: 415
                      links:
                        self: 'https://api.trovster.com/avatars/newprofilepic'
                    -
                      version: 12
                      current: false
                      size: 196871
                      slug: graffiti
                      url: 'https://www.trovster.com/img/avatars/avatar12.jpg'
                      alt: Graffiti
                      height: 750
                      width: 750
                      links:
                        self: 'https://api.trovster.com/avatars/graffiti'
                    -
                      version: 11
                      current: false
                      size: 140058
                      slug: hypnosis
                      url: 'https://www.trovster.com/img/avatars/avatar11.jpg'
                      alt: Hypnosis
                      height: 750
                      width: 750
                      links:
                        self: 'https://api.trovster.com/avatars/hypnosis'
                    -
                      version: 10
                      current: false
                      size: 129573
                      slug: watercolour
                      url: 'https://www.trovster.com/img/avatars/avatar10.jpg'
                      alt: Watercolour
                      height: 750
                      width: 750
                      links:
                        self: 'https://api.trovster.com/avatars/watercolour'
                    -
                      version: 9
                      current: false
                      size: 56718
                      slug: passport
                      url: 'https://www.trovster.com/img/avatars/avatar9.jpg'
                      alt: 'Passport Photo'
                      height: 960
                      width: 960
                      links:
                        self: 'https://api.trovster.com/avatars/passport'
                    -
                      version: 8
                      current: false
                      size: 241475
                      slug: adventurer
                      url: 'https://www.trovster.com/img/avatars/avatar8.jpg'
                      alt: Adventurer
                      height: 450
                      width: 450
                      links:
                        self: 'https://api.trovster.com/avatars/adventurer'
                    -
                      version: 7
                      current: false
                      size: 345233
                      slug: cycling
                      url: 'https://www.trovster.com/img/avatars/avatar7.jpg'
                      alt: Cycling
                      height: 960
                      width: 960
                      links:
                        self: 'https://api.trovster.com/avatars/cycling'
                    -
                      version: 6
                      current: false
                      size: 145704
                      slug: checkered
                      url: 'https://www.trovster.com/img/avatars/avatar6.jpg'
                      alt: 'Checkered Shirt'
                      height: 500
                      width: 500
                      links:
                        self: 'https://api.trovster.com/avatars/checkered'
                    -
                      version: 5
                      current: false
                      size: 33915
                      slug: instagram-alt
                      url: 'https://www.trovster.com/img/avatars/avatar5.jpg'
                      alt: 'Blurred Instagram'
                      height: 500
                      width: 500
                      links:
                        self: 'https://api.trovster.com/avatars/instagram-alt'
                    -
                      version: 4
                      current: false
                      size: 23538
                      slug: instagram
                      url: 'https://www.trovster.com/img/avatars/avatar4.jpg'
                      alt: Instagram
                      height: 318
                      width: 320
                      links:
                        self: 'https://api.trovster.com/avatars/instagram'
                    -
                      version: 3
                      current: false
                      size: 2120
                      slug: glasses
                      url: 'https://www.trovster.com/img/avatars/avatar3.jpg'
                      alt: Glasses
                      height: 73
                      width: 73
                      links:
                        self: 'https://api.trovster.com/avatars/glasses'
                    -
                      version: 2
                      current: false
                      size: 6857
                      slug: creation
                      url: 'https://www.trovster.com/img/avatars/avatar2.gif'
                      alt: Creation
                      height: 108
                      width: 108
                      links:
                        self: 'https://api.trovster.com/avatars/creation'
                    -
                      version: 1
                      current: false
                      size: 6021
                      slug: magical-trevor
                      url: 'https://www.trovster.com/img/avatars/avatar1.jpg'
                      alt: 'Magical Trevor '
                      height: 100
                      width: 100
                      links:
                        self: 'https://api.trovster.com/avatars/magical-trevor'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 16
                        current: true
                        size: 24230
                        slug: low-poly
                        url: 'https://www.trovster.com/img/avatars/avatar16-lowpoly-blue.png'
                        alt: 'Low Poly'
                        height: 512
                        width: 512
                        links:
                          self: 'https://api.trovster.com/avatars/low-poly'
                      -
                        version: 15
                        current: false
                        size: 306542
                        slug: blendmode
                        url: 'https://www.trovster.com/img/avatars/avatar15-blue.png'
                        alt: Blended
                        height: 640
                        width: 640
                        links:
                          self: 'https://api.trovster.com/avatars/blendmode'
                      -
                        version: 14
                        current: false
                        size: 260460
                        slug: graffiti-halo
                        url: 'https://www.trovster.com/img/avatars/avatar14.jpg'
                        alt: 'Graffiti Halo'
                        height: 1024
                        width: 1024
                        links:
                          self: 'https://api.trovster.com/avatars/graffiti-halo'
                      -
                        version: 13
                        current: false
                        size: 156274
                        slug: newprofilepic
                        url: 'https://www.trovster.com/img/avatars/avatar13.png'
                        alt: NewProfilePic
                        height: 415
                        width: 415
                        links:
                          self: 'https://api.trovster.com/avatars/newprofilepic'
                      -
                        version: 12
                        current: false
                        size: 196871
                        slug: graffiti
                        url: 'https://www.trovster.com/img/avatars/avatar12.jpg'
                        alt: Graffiti
                        height: 750
                        width: 750
                        links:
                          self: 'https://api.trovster.com/avatars/graffiti'
                      -
                        version: 11
                        current: false
                        size: 140058
                        slug: hypnosis
                        url: 'https://www.trovster.com/img/avatars/avatar11.jpg'
                        alt: Hypnosis
                        height: 750
                        width: 750
                        links:
                          self: 'https://api.trovster.com/avatars/hypnosis'
                      -
                        version: 10
                        current: false
                        size: 129573
                        slug: watercolour
                        url: 'https://www.trovster.com/img/avatars/avatar10.jpg'
                        alt: Watercolour
                        height: 750
                        width: 750
                        links:
                          self: 'https://api.trovster.com/avatars/watercolour'
                      -
                        version: 9
                        current: false
                        size: 56718
                        slug: passport
                        url: 'https://www.trovster.com/img/avatars/avatar9.jpg'
                        alt: 'Passport Photo'
                        height: 960
                        width: 960
                        links:
                          self: 'https://api.trovster.com/avatars/passport'
                      -
                        version: 8
                        current: false
                        size: 241475
                        slug: adventurer
                        url: 'https://www.trovster.com/img/avatars/avatar8.jpg'
                        alt: Adventurer
                        height: 450
                        width: 450
                        links:
                          self: 'https://api.trovster.com/avatars/adventurer'
                      -
                        version: 7
                        current: false
                        size: 345233
                        slug: cycling
                        url: 'https://www.trovster.com/img/avatars/avatar7.jpg'
                        alt: Cycling
                        height: 960
                        width: 960
                        links:
                          self: 'https://api.trovster.com/avatars/cycling'
                      -
                        version: 6
                        current: false
                        size: 145704
                        slug: checkered
                        url: 'https://www.trovster.com/img/avatars/avatar6.jpg'
                        alt: 'Checkered Shirt'
                        height: 500
                        width: 500
                        links:
                          self: 'https://api.trovster.com/avatars/checkered'
                      -
                        version: 5
                        current: false
                        size: 33915
                        slug: instagram-alt
                        url: 'https://www.trovster.com/img/avatars/avatar5.jpg'
                        alt: 'Blurred Instagram'
                        height: 500
                        width: 500
                        links:
                          self: 'https://api.trovster.com/avatars/instagram-alt'
                      -
                        version: 4
                        current: false
                        size: 23538
                        slug: instagram
                        url: 'https://www.trovster.com/img/avatars/avatar4.jpg'
                        alt: Instagram
                        height: 318
                        width: 320
                        links:
                          self: 'https://api.trovster.com/avatars/instagram'
                      -
                        version: 3
                        current: false
                        size: 2120
                        slug: glasses
                        url: 'https://www.trovster.com/img/avatars/avatar3.jpg'
                        alt: Glasses
                        height: 73
                        width: 73
                        links:
                          self: 'https://api.trovster.com/avatars/glasses'
                      -
                        version: 2
                        current: false
                        size: 6857
                        slug: creation
                        url: 'https://www.trovster.com/img/avatars/avatar2.gif'
                        alt: Creation
                        height: 108
                        width: 108
                        links:
                          self: 'https://api.trovster.com/avatars/creation'
                      -
                        version: 1
                        current: false
                        size: 6021
                        slug: magical-trevor
                        url: 'https://www.trovster.com/img/avatars/avatar1.jpg'
                        alt: 'Magical Trevor '
                        height: 100
                        width: 100
                        links:
                          self: 'https://api.trovster.com/avatars/magical-trevor'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 16
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 24230
                        slug:
                          type: string
                          example: low-poly
                        url:
                          type: string
                          example: 'https://www.trovster.com/img/avatars/avatar16-lowpoly-blue.png'
                        alt:
                          type: string
                          example: 'Low Poly'
                        height:
                          type: integer
                          example: 512
                        width:
                          type: integer
                          example: 512
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'https://api.trovster.com/avatars/low-poly'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: 'Get an Avatar'
      operationId: getAnAvatar
      description: "This endpoint allows you to get a specific avatar, based on the slug.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 1
                    current: false
                    size: 6021
                    slug: magical-trevor
                    url: 'https://www.trovster.com/img/avatars/avatar1.jpg'
                    alt: 'Magical Trevor '
                    height: 100
                    width: 100
                    links:
                      self: 'https://api.trovster.com/avatars/magical-trevor'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 1
                      current:
                        type: boolean
                        example: false
                      size:
                        type: integer
                        example: 6021
                      slug:
                        type: string
                        example: magical-trevor
                      url:
                        type: string
                        example: 'https://www.trovster.com/img/avatars/avatar1.jpg'
                      alt:
                        type: string
                        example: 'Magical Trevor '
                      height:
                        type: integer
                        example: 100
                      width:
                        type: integer
                        example: 100
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'https://api.trovster.com/avatars/magical-trevor'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: 'List All Blog Posts'
      operationId: listAllBlogPosts
      description: "This endpoint allows you to list all blog posts.\nEach entry contains basic post information, such as title, date, summary,\nword count and an array of categories.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      title: 'Aut quod quidem dolor expedita ea dicta cum.'
                      date: '2026-09-09T19:43:29+00:00'
                      summary: 'Id similique alias dolorem vel quibusdam non. Aut aperiam sunt eius vel vel qui. Illo ea id facere voluptas omnis placeat. Sit omnis molestiae architecto et nesciunt incidunt.'
                      wordCount: 237
                      categories:
                        - dolorum
                      links:
                        self: 'http://api.trovster.com/blog/1'
                        permalink: 'http://www.trovster.com/blog/2026/09/aut-quod-quidem-dolor-expedita-ea-dicta-cum'
                    -
                      id: 2
                      title: 'Vitae adipisci quod ea assumenda recusandae quis eligendi exercitationem.'
                      date: '2026-09-08T11:37:06+00:00'
                      summary: 'Reprehenderit temporibus et labore voluptates. Delectus quisquam voluptatum temporibus asperiores et. Enim voluptates quam voluptatibus. Est totam nemo non ratione fuga eos.'
                      wordCount: 196
                      categories:
                        - sed
                      links:
                        self: 'http://api.trovster.com/blog/2'
                        permalink: 'http://www.trovster.com/blog/2026/09/vitae-adipisci-quod-ea-assumenda-recusandae-quis-eligendi-exercitationem'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        title: 'Aut quod quidem dolor expedita ea dicta cum.'
                        date: '2026-09-09T19:43:29+00:00'
                        summary: 'Id similique alias dolorem vel quibusdam non. Aut aperiam sunt eius vel vel qui. Illo ea id facere voluptas omnis placeat. Sit omnis molestiae architecto et nesciunt incidunt.'
                        wordCount: 237
                        categories:
                          - dolorum
                        links:
                          self: 'http://api.trovster.com/blog/1'
                          permalink: 'http://www.trovster.com/blog/2026/09/aut-quod-quidem-dolor-expedita-ea-dicta-cum'
                      -
                        id: 2
                        title: 'Vitae adipisci quod ea assumenda recusandae quis eligendi exercitationem.'
                        date: '2026-09-08T11:37:06+00:00'
                        summary: 'Reprehenderit temporibus et labore voluptates. Delectus quisquam voluptatum temporibus asperiores et. Enim voluptates quam voluptatibus. Est totam nemo non ratione fuga eos.'
                        wordCount: 196
                        categories:
                          - sed
                        links:
                          self: 'http://api.trovster.com/blog/2'
                          permalink: 'http://www.trovster.com/blog/2026/09/vitae-adipisci-quod-ea-assumenda-recusandae-quis-eligendi-exercitationem'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        title:
                          type: string
                          example: 'Aut quod quidem dolor expedita ea dicta cum.'
                        date:
                          type: string
                          example: '2026-09-09T19:43:29+00:00'
                        summary:
                          type: string
                          example: 'Id similique alias dolorem vel quibusdam non. Aut aperiam sunt eius vel vel qui. Illo ea id facere voluptas omnis placeat. Sit omnis molestiae architecto et nesciunt incidunt.'
                        wordCount:
                          type: integer
                          example: 237
                        categories:
                          type: array
                          example:
                            - dolorum
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/1'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2026/09/aut-quod-quidem-dolor-expedita-ea-dicta-cum'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: null
                        nullable: true
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                              nullable: true
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                              nullable: true
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{ID}':
    get:
      summary: 'Get a Blog Post'
      operationId: getABlogPost
      description: "This endpoint allows you to get a specific blog post, based on the ID.\nThe entry contains the full blog post information, including the full html.\nThe category array contains objects of category ID and name."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    title: 'Nostrum autem molestiae eligendi qui.'
                    date: '2026-09-08T11:24:28+00:00'
                    summary: 'Quibusdam cumque pariatur odit voluptatem voluptates perferendis blanditiis. Error minus ipsa molestias. Vero dolorem facere harum impedit sint. Ut debitis et tenetur aut rerum ut.'
                    wordCount: 246
                    html: "<p>Ad repudiandae voluptas nam voluptates. Architecto alias dolores nemo voluptatem. Enim soluta dolorem incidunt reiciendis. Adipisci explicabo ea quo impedit. Et quod voluptatem veniam nesciunt doloremque in.</p>\n<p>Voluptatibus in quidem ut non veniam ipsa. Et et nostrum laudantium eaque eos. Recusandae est perferendis dolores quis et.</p>\n<p>Ipsam minus quas autem sint non voluptates. Nihil dolorum consequuntur ducimus et explicabo ut. Voluptatum repudiandae soluta omnis voluptatem veniam. Id enim dolorem dolor et reiciendis dicta explicabo aliquam.</p>\n<p>Voluptas vel quaerat doloremque dicta nesciunt. Hic explicabo omnis ipsam aut. Delectus nisi et commodi laboriosam amet.</p>\n<p>Odit odio et laudantium quaerat est dolores corporis. Illo voluptas optio quo voluptatibus error illum hic placeat. Nam sed dolores sit molestiae velit unde. Sit doloremque neque sed est sed nesciunt doloribus quos. Laboriosam corporis qui voluptas et qui rerum totam.</p>\n<p>Ut illo laudantium fugiat veritatis. Eligendi rerum vel error. Unde id ratione est quae.</p>\n<p>Quia dolore consequatur quod atque aut. Soluta et est quos ut laudantium. Autem harum dolor aut in nobis.</p>\n<p>Et qui voluptatem quibusdam deserunt. Incidunt eos temporibus modi deserunt consequuntur accusamus nam qui. Quidem perspiciatis laudantium vel et sunt qui. Laudantium doloribus velit optio. Debitis veniam voluptatem nemo perferendis.</p>\n<p>Qui molestias natus id occaecati consequatur quibusdam aut. Placeat libero officia ratione aliquam beatae. Sed est molestiae est rerum cupiditate. Nihil molestias placeat est est.</p>\n<p>Maxime dolorem nisi vel occaecati voluptatibus. Corporis aut consequuntur laboriosam autem cupiditate est quae. Sint aut iure ea rem at at velit. Accusantium omnis sed culpa.</p>\n"
                    categories:
                      -
                        id: 3
                        name: animi
                    links:
                      self: 'http://api.trovster.com/blog/3'
                      permalink: 'http://www.trovster.com/blog/2026/09/nostrum-autem-molestiae-eligendi-qui'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      title:
                        type: string
                        example: 'Nostrum autem molestiae eligendi qui.'
                      date:
                        type: string
                        example: '2026-09-08T11:24:28+00:00'
                      summary:
                        type: string
                        example: 'Quibusdam cumque pariatur odit voluptatem voluptates perferendis blanditiis. Error minus ipsa molestias. Vero dolorem facere harum impedit sint. Ut debitis et tenetur aut rerum ut.'
                      wordCount:
                        type: integer
                        example: 246
                      html:
                        type: string
                        example: "<p>Ad repudiandae voluptas nam voluptates. Architecto alias dolores nemo voluptatem. Enim soluta dolorem incidunt reiciendis. Adipisci explicabo ea quo impedit. Et quod voluptatem veniam nesciunt doloremque in.</p>\n<p>Voluptatibus in quidem ut non veniam ipsa. Et et nostrum laudantium eaque eos. Recusandae est perferendis dolores quis et.</p>\n<p>Ipsam minus quas autem sint non voluptates. Nihil dolorum consequuntur ducimus et explicabo ut. Voluptatum repudiandae soluta omnis voluptatem veniam. Id enim dolorem dolor et reiciendis dicta explicabo aliquam.</p>\n<p>Voluptas vel quaerat doloremque dicta nesciunt. Hic explicabo omnis ipsam aut. Delectus nisi et commodi laboriosam amet.</p>\n<p>Odit odio et laudantium quaerat est dolores corporis. Illo voluptas optio quo voluptatibus error illum hic placeat. Nam sed dolores sit molestiae velit unde. Sit doloremque neque sed est sed nesciunt doloribus quos. Laboriosam corporis qui voluptas et qui rerum totam.</p>\n<p>Ut illo laudantium fugiat veritatis. Eligendi rerum vel error. Unde id ratione est quae.</p>\n<p>Quia dolore consequatur quod atque aut. Soluta et est quos ut laudantium. Autem harum dolor aut in nobis.</p>\n<p>Et qui voluptatem quibusdam deserunt. Incidunt eos temporibus modi deserunt consequuntur accusamus nam qui. Quidem perspiciatis laudantium vel et sunt qui. Laudantium doloribus velit optio. Debitis veniam voluptatem nemo perferendis.</p>\n<p>Qui molestias natus id occaecati consequatur quibusdam aut. Placeat libero officia ratione aliquam beatae. Sed est molestiae est rerum cupiditate. Nihil molestias placeat est est.</p>\n<p>Maxime dolorem nisi vel occaecati voluptatibus. Corporis aut consequuntur laboriosam autem cupiditate est quae. Sint aut iure ea rem at at velit. Accusantium omnis sed culpa.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 3
                            name: animi
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: animi
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/3'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2026/09/nostrum-autem-molestiae-eligendi-qui'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: 'List All Books'
      operationId: listAllBooks
      description: "This endpoint allows you to list all books.\nEach entry contains basic book information, such as title, ISBN, summary,\nand page count.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2
                      isbn: '9785877455511'
                      title: 'Corrupti nam at at earum.'
                      summary: 'Nisi veritatis iure sed. Reprehenderit aut sed qui nostrum officia. Dolorum dicta harum iusto sunt ipsum cumque. Adipisci error ut et quidem ut sint aperiam.'
                      pageCount: 7
                      links:
                        self: 'http://api.trovster.com/books/9785877455511'
                        permalink: 'http://www.trovster.com/books/9785877455511/corrupti-nam-at-at-earum'
                    -
                      id: 3
                      isbn: '9795842014605'
                      title: 'Nam qui eveniet rerum laborum repellendus.'
                      summary: 'Et vitae nam incidunt sequi nisi ut. Est alias et sed qui sequi deserunt qui. Illo quia ex est ab dolores tenetur sapiente. Impedit inventore nisi ut. Occaecati est a dignissimos et.'
                      pageCount: 3
                      links:
                        self: 'http://api.trovster.com/books/9795842014605'
                        permalink: 'http://www.trovster.com/books/9795842014605/nam-qui-eveniet-rerum-laborum-repellendus'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2
                        isbn: '9785877455511'
                        title: 'Corrupti nam at at earum.'
                        summary: 'Nisi veritatis iure sed. Reprehenderit aut sed qui nostrum officia. Dolorum dicta harum iusto sunt ipsum cumque. Adipisci error ut et quidem ut sint aperiam.'
                        pageCount: 7
                        links:
                          self: 'http://api.trovster.com/books/9785877455511'
                          permalink: 'http://www.trovster.com/books/9785877455511/corrupti-nam-at-at-earum'
                      -
                        id: 3
                        isbn: '9795842014605'
                        title: 'Nam qui eveniet rerum laborum repellendus.'
                        summary: 'Et vitae nam incidunt sequi nisi ut. Est alias et sed qui sequi deserunt qui. Illo quia ex est ab dolores tenetur sapiente. Impedit inventore nisi ut. Occaecati est a dignissimos et.'
                        pageCount: 3
                        links:
                          self: 'http://api.trovster.com/books/9795842014605'
                          permalink: 'http://www.trovster.com/books/9795842014605/nam-qui-eveniet-rerum-laborum-repellendus'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2
                        isbn:
                          type: string
                          example: '9785877455511'
                        title:
                          type: string
                          example: 'Corrupti nam at at earum.'
                        summary:
                          type: string
                          example: 'Nisi veritatis iure sed. Reprehenderit aut sed qui nostrum officia. Dolorum dicta harum iusto sunt ipsum cumque. Adipisci error ut et quidem ut sint aperiam.'
                        pageCount:
                          type: integer
                          example: 7
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9785877455511'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9785877455511/corrupti-nam-at-at-earum'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: null
                        nullable: true
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                              nullable: true
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                              nullable: true
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: 'Get a Book'
      operationId: getABook
      description: "This endpoint allows you to get a specific book, based on the ISBN.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 4
                    isbn: '9799889053511'
                    title: 'Occaecati exercitationem dolor voluptas vel laboriosam praesentium facere.'
                    summary: 'Quas quaerat doloremque magni. Molestiae sed dolorum officiis sint omnis placeat dolor. Atque ipsa harum placeat ut repellat libero.'
                    pageCount: 7
                    links:
                      self: 'http://api.trovster.com/books/9799889053511'
                      permalink: 'http://www.trovster.com/books/9799889053511/occaecati-exercitationem-dolor-voluptas-vel-laboriosam-praesentium-facere'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 4
                      isbn:
                        type: string
                        example: '9799889053511'
                      title:
                        type: string
                        example: 'Occaecati exercitationem dolor voluptas vel laboriosam praesentium facere.'
                      summary:
                        type: string
                        example: 'Quas quaerat doloremque magni. Molestiae sed dolorum officiis sint omnis placeat dolor. Atque ipsa harum placeat ut repellat libero.'
                      pageCount:
                        type: integer
                        example: 7
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9799889053511'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9799889053511/occaecati-exercitationem-dolor-voluptas-vel-laboriosam-praesentium-facere'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: 'Read a Book'
      operationId: readABook
      description: "This endpoint allows you to <strong>mark a book as read</strong>.\nThis requires the book ISBN13 and the date read.\nA rating between 1 and 10 is <em>optional</em>."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2026-09-09T00:00:00.000000Z'
                    rating: 3
                    book:
                      id: 1
                      isbn: '9781417229994'
                      title: 'Iste temporibus consequatur excepturi.'
                      summary: 'Commodi qui mollitia repellendus est. Temporibus consequatur quam temporibus ut quia consequatur. Quod aut eum autem iste dolorum placeat fuga natus.'
                      pageCount: 4
                      links:
                        self: 'http://api.trovster.com/books/9781417229994'
                        permalink: 'http://www.trovster.com/books/9781417229994/iste-temporibus-consequatur-excepturi'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2026-09-09T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 3
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          isbn:
                            type: string
                            example: '9781417229994'
                          title:
                            type: string
                            example: 'Iste temporibus consequatur excepturi.'
                          summary:
                            type: string
                            example: 'Commodi qui mollitia repellendus est. Temporibus consequatur quam temporibus ut quia consequatur. Quod aut eum autem iste dolorum placeat fuga natus.'
                          pageCount:
                            type: integer
                            example: 4
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9781417229994'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9781417229994/iste-temporibus-consequatur-excepturi'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2001-01-01'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 2
                  nullable: true
                isbn:
                  type: string
                  description: 'Must be 13 digits.'
                  example: 9781451648539
              required:
                - date
                - isbn
  /fitness/import:
    post:
      summary: 'Import Fitness Data'
      operationId: importFitnessData
      description: "This endpoint allows you to import raw Health Auto Export JSON data.\nThe JSON is archived as a file using the unique session ID, then parsed\nin the background to store health metrics and sleep."
      parameters: []
      responses: {}
      tags:
        - Health
  /fitness:
    get:
      summary: 'List All Fitness Data'
      operationId: listAllFitnessData
      description: "This endpoint allows you to list all the fitness data.\nEach entry contains basic fitness information, such as date, summary, steps,\ndistance and flights.\nThere are objects for move, exercise and stand data. These include the total, goal,\npercent and whether the item was completed.\n<strong>The summary is a useful sentence describing the information.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      date: '1984-03-30T00:00:00+00:00'
                      summary: 'I took 6 steps, walked 0.00 miles and climbed 2 flights on 30/03/1984.'
                      steps: 6
                      distance: 3
                      flights: 2
                      weight: 63.3677
                      bmi: 19.23
                      heartRate:
                        average: 72
                        minimum: 65
                        maximum: 99
                      bloodPressure:
                        systolicAverage: 126
                        diastolicAverage: 76
                      move:
                        total: 4
                        goal: 7
                        percent: 57
                        complete: false
                      exercise:
                        total: 3
                        goal: 2
                        percent: 150
                        complete: true
                      stand:
                        total: 8
                        goal: 4
                        percent: 200
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/1984-03-30'
                        permalink: 'http://www.trovster.com/activities/1984-03-30'
                    -
                      id: 2
                      date: '2000-11-02T00:00:00+00:00'
                      summary: 'I took 7 steps, walked 0.00 miles and climbed 1 flights on 02/11/2000.'
                      steps: 7
                      distance: 1
                      flights: 1
                      weight: 80.4472
                      bmi: 23.51
                      heartRate:
                        average: 79
                        minimum: 47
                        maximum: 111
                      bloodPressure:
                        systolicAverage: 130
                        diastolicAverage: 77
                      move:
                        total: 2
                        goal: 2
                        percent: 100
                        complete: true
                      exercise:
                        total: 5
                        goal: 7
                        percent: 71
                        complete: false
                      stand:
                        total: 7
                        goal: 5
                        percent: 140
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/2000-11-02'
                        permalink: 'http://www.trovster.com/activities/2000-11-02'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        date: '1984-03-30T00:00:00+00:00'
                        summary: 'I took 6 steps, walked 0.00 miles and climbed 2 flights on 30/03/1984.'
                        steps: 6
                        distance: 3
                        flights: 2
                        weight: 63.3677
                        bmi: 19.23
                        heartRate:
                          average: 72
                          minimum: 65
                          maximum: 99
                        bloodPressure:
                          systolicAverage: 126
                          diastolicAverage: 76
                        move:
                          total: 4
                          goal: 7
                          percent: 57
                          complete: false
                        exercise:
                          total: 3
                          goal: 2
                          percent: 150
                          complete: true
                        stand:
                          total: 8
                          goal: 4
                          percent: 200
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/1984-03-30'
                          permalink: 'http://www.trovster.com/activities/1984-03-30'
                      -
                        id: 2
                        date: '2000-11-02T00:00:00+00:00'
                        summary: 'I took 7 steps, walked 0.00 miles and climbed 1 flights on 02/11/2000.'
                        steps: 7
                        distance: 1
                        flights: 1
                        weight: 80.4472
                        bmi: 23.51
                        heartRate:
                          average: 79
                          minimum: 47
                          maximum: 111
                        bloodPressure:
                          systolicAverage: 130
                          diastolicAverage: 77
                        move:
                          total: 2
                          goal: 2
                          percent: 100
                          complete: true
                        exercise:
                          total: 5
                          goal: 7
                          percent: 71
                          complete: false
                        stand:
                          total: 7
                          goal: 5
                          percent: 140
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/2000-11-02'
                          permalink: 'http://www.trovster.com/activities/2000-11-02'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        date:
                          type: string
                          example: '1984-03-30T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 6 steps, walked 0.00 miles and climbed 2 flights on 30/03/1984.'
                        steps:
                          type: integer
                          example: 6
                        distance:
                          type: integer
                          example: 3
                        flights:
                          type: integer
                          example: 2
                        weight:
                          type: number
                          example: 63.3677
                        bmi:
                          type: number
                          example: 19.23
                        heartRate:
                          type: object
                          properties:
                            average:
                              type: integer
                              example: 72
                            minimum:
                              type: integer
                              example: 65
                            maximum:
                              type: integer
                              example: 99
                        bloodPressure:
                          type: object
                          properties:
                            systolicAverage:
                              type: integer
                              example: 126
                            diastolicAverage:
                              type: integer
                              example: 76
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 4
                            goal:
                              type: integer
                              example: 7
                            percent:
                              type: integer
                              example: 57
                            complete:
                              type: boolean
                              example: false
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 3
                            goal:
                              type: integer
                              example: 2
                            percent:
                              type: integer
                              example: 150
                            complete:
                              type: boolean
                              example: true
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 8
                            goal:
                              type: integer
                              example: 4
                            percent:
                              type: integer
                              example: 200
                            complete:
                              type: boolean
                              example: true
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/1984-03-30'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/1984-03-30'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: null
                        nullable: true
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            page: null
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            page: 1
                            active: true
                          -
                            url: null
                            label: Next
                            page: null
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                              nullable: true
                            label:
                              type: string
                              example: Previous
                            page:
                              type: string
                              example: null
                              nullable: true
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
    post:
      summary: 'Store Fitness Data'
      operationId: storeFitnessData
      description: "This endpoint allows you to store fitness data.\nIt required a date and basic health data, such as active energy, step count,\ndistance and flights climbed. The total for movie, exercise and stand are also\nrequired."
      parameters: []
      responses: {}
      tags:
        - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2001-01-01'
                active_energy:
                  type: number
                  description: ''
                  example: 7600.0
                step_count:
                  type: number
                  description: ''
                  example: 7500.0
                distance:
                  type: number
                  description: ''
                  example: 5000.0
                flights_climbed:
                  type: number
                  description: ''
                  example: 10.0
                weight_body_mass:
                  type: number
                  description: ''
                  example: 82.5
                  nullable: true
                body_mass_index:
                  type: number
                  description: ''
                  example: 24.1
                  nullable: true
                heart_rate_avg:
                  type: number
                  description: ''
                  example: 72.0
                  nullable: true
                heart_rate_min:
                  type: number
                  description: ''
                  example: 48.0
                  nullable: true
                heart_rate_max:
                  type: number
                  description: ''
                  example: 126.0
                  nullable: true
                systolic_average:
                  type: number
                  description: ''
                  example: 120.0
                  nullable: true
                diastolic_average:
                  type: number
                  description: ''
                  example: 80.0
                  nullable: true
                blood_pressure_data:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      time:
                        type: string
                        description: 'Must be a valid date in the format <code>H:i</code>.'
                        example: '10:29'
                      systolic:
                        type: number
                        description: ''
                        example: 0.7
                      diastolic:
                        type: number
                        description: ''
                        example: 503.5
                    required:
                      - time
                      - systolic
                      - diastolic
                move_total:
                  type: number
                  description: ''
                  example: 650.0
                exercise_total:
                  type: number
                  description: ''
                  example: 30.0
                stand_total:
                  type: number
                  description: ''
                  example: 12.0
              required:
                - date
                - active_energy
                - step_count
                - distance
                - flights_climbed
                - blood_pressure_data
                - move_total
                - exercise_total
                - stand_total
  '/fitness/{health_date}':
    get:
      summary: 'Get Fitness Data'
      operationId: getFitnessData
      description: "This endpoint allows you to get fitness data, based on the date.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    date: '1992-04-22T00:00:00+00:00'
                    summary: 'I took 7 steps, walked 0.00 miles and climbed 2 flights on 22/04/1992.'
                    steps: 7
                    distance: 7
                    flights: 2
                    weight: 76.9716
                    bmi: 21.88
                    heartRate:
                      average: 79
                      minimum: 48
                      maximum: 108
                    bloodPressure:
                      systolicAverage: 109
                      diastolicAverage: 90
                    move:
                      total: 5
                      goal: 3
                      percent: 167
                      complete: true
                    exercise:
                      total: 3
                      goal: 4
                      percent: 75
                      complete: false
                    stand:
                      total: 6
                      goal: 3
                      percent: 200
                      complete: true
                    links:
                      self: 'http://api.trovster.com/fitness/1992-04-22'
                      permalink: 'http://www.trovster.com/activities/1992-04-22'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      date:
                        type: string
                        example: '1992-04-22T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 7 steps, walked 0.00 miles and climbed 2 flights on 22/04/1992.'
                      steps:
                        type: integer
                        example: 7
                      distance:
                        type: integer
                        example: 7
                      flights:
                        type: integer
                        example: 2
                      weight:
                        type: number
                        example: 76.9716
                      bmi:
                        type: number
                        example: 21.88
                      heartRate:
                        type: object
                        properties:
                          average:
                            type: integer
                            example: 79
                          minimum:
                            type: integer
                            example: 48
                          maximum:
                            type: integer
                            example: 108
                      bloodPressure:
                        type: object
                        properties:
                          systolicAverage:
                            type: integer
                            example: 109
                          diastolicAverage:
                            type: integer
                            example: 90
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 5
                          goal:
                            type: integer
                            example: 3
                          percent:
                            type: integer
                            example: 167
                          complete:
                            type: boolean
                            example: true
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 3
                          goal:
                            type: integer
                            example: 4
                          percent:
                            type: integer
                            example: 75
                          complete:
                            type: boolean
                            example: false
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 6
                          goal:
                            type: integer
                            example: 3
                          percent:
                            type: integer
                            example: 200
                          complete:
                            type: boolean
                            example: true
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/1992-04-22'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/1992-04-22'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /links:
    get:
      summary: 'List All Links'
      operationId: listAllLinks
      description: "This endpoint allows you to list all links.\nEach entry contains basic link information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2
                      sqid: qd9a9m
                      title: 'Distinctio placeat ducimus consectetur exercitationem quam nihil.'
                      date: '2026-09-12T19:44:42+00:00'
                      summary: 'Laborum consequatur facilis sunt voluptas sequi. Ea illo molestias in cumque velit et minima soluta. Est ab aperiam aliquam.'
                      url: 'http://wilkinson.com/'
                      categories:
                        - ad
                      links:
                        self: 'http://api.trovster.com/links/qd9a9m'
                        permalink: 'http://www.trovster.com/links/l/qd9a9m'
                    -
                      id: 3
                      sqid: tdqge2
                      title: 'Maiores corporis officia voluptatum impedit enim temporibus.'
                      date: '2026-09-10T10:17:47+00:00'
                      summary: 'Expedita vel non porro corrupti autem odio pariatur tempora. Nisi rerum minus dolorum veritatis nostrum qui provident. Non voluptas ut recusandae suscipit. Quidem veniam dolore corrupti non ipsa voluptatem officiis.'
                      url: 'http://owen.co.uk/placeat-molestiae-ut-eum'
                      categories:
                        - sed
                      links:
                        self: 'http://api.trovster.com/links/tdqge2'
                        permalink: 'http://www.trovster.com/links/l/tdqge2'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        page: null
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        page: 1
                        active: true
                      -
                        url: null
                        label: Next
                        page: null
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2
                        sqid: qd9a9m
                        title: 'Distinctio placeat ducimus consectetur exercitationem quam nihil.'
                        date: '2026-09-12T19:44:42+00:00'
                        summary: 'Laborum consequatur facilis sunt voluptas sequi. Ea illo molestias in cumque velit et minima soluta. Est ab aperiam aliquam.'
                        url: 'http://wilkinson.com/'
                        categories:
                          - ad
                        links:
                          self: 'http://api.trovster.com/links/qd9a9m'
                          permalink: 'http://www.trovster.com/links/l/qd9a9m'
                      -
                        id: 3
                        sqid: tdqge2
                        title: 'Maiores corporis officia voluptatum impedit enim temporibus.'
                        date: '2026-09-10T10:17:47+00:00'
                        summary: 'Expedita vel non porro corrupti autem odio pariatur tempora. Nisi rerum minus dolorum veritatis nostrum qui provident. Non voluptas ut recusandae suscipit. Quidem veniam dolore corrupti non ipsa voluptatem officiis.'
                        url: 'http://owen.co.uk/placeat-molestiae-ut-eum'
                        categories:
                          - sed
                        links:
                          self: 'http://api.trovster.com/links/tdqge2'
                          permalink: 'http://www.trovster.com/links/l/tdqge2'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2
                        sqid:
                          type: string
                          example: qd9a9m
                        title:
                          type: string
                          example: 'Distinctio placeat ducimus consectetur exercitationem quam nihil.'
                        date:
                          type: string
                          example: '2026-09-12T19:44:42+00:00'
                        summary:
                          type: string
                          example: 'Laborum consequatur facilis sunt voluptas sequi. Ea illo molestias in cumque velit et minima soluta. Est ab aperiam aliquam.'
                        url:
                          type: string
                          example: 'http://wilkinson.com/'
                        categories:
                          type: array
                          example:
                            - ad
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/links/qd9a9m'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/links/l/qd9a9m'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: null
                        nullable: true
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
[...]
