openapi: 3.0.3
info:
  title: 'API Documentation'
  description: 'This documentation aims to provide all the information you need to work with the API and data for trovster.com.'
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: 'This endpoint provides links to the main available API endpoints.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    photos: 'http://api.trovster.com/photos'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: 'List All Activities'
      operationId: listAllActivities
      description: "This endpoint allows you to list all activities.\nEach entry contains basic activity information, such as title, date, summary, speed,\ndistance, moving time and type.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2972
                      title: 'qui aliquid ut'
                      date: '2024-08-11T17:29:55+00:00'
                      summary: 'Walked for 8 seconds on 11th August 2024.'
                      speed: 76.5480868
                      distance: 0.001864113576
                      timeMoving: 0.13333333333333
                      type: Walk
                      links:
                        self: 'http://api.trovster.com/activities/69'
                        permalink: 'http://www.trovster.com/activities/69'
                    -
                      id: 2973
                      title: 'et blanditiis quasi'
                      date: '2024-08-11T11:01:48+00:00'
                      summary: 'Walked for 9 seconds on 11th August 2024.'
                      speed: 95.5397074
                      distance: 0.002485484768
                      timeMoving: 0.15
                      type: Walk
                      links:
                        self: 'http://api.trovster.com/activities/531533'
                        permalink: 'http://www.trovster.com/activities/531533'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2972
                        title: 'qui aliquid ut'
                        date: '2024-08-11T17:29:55+00:00'
                        summary: 'Walked for 8 seconds on 11th August 2024.'
                        speed: 76.5480868
                        distance: 0.001864113576
                        timeMoving: 0.13333333333333
                        type: Walk
                        links:
                          self: 'http://api.trovster.com/activities/69'
                          permalink: 'http://www.trovster.com/activities/69'
                      -
                        id: 2973
                        title: 'et blanditiis quasi'
                        date: '2024-08-11T11:01:48+00:00'
                        summary: 'Walked for 9 seconds on 11th August 2024.'
                        speed: 95.5397074
                        distance: 0.002485484768
                        timeMoving: 0.15
                        type: Walk
                        links:
                          self: 'http://api.trovster.com/activities/531533'
                          permalink: 'http://www.trovster.com/activities/531533'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2972
                        title:
                          type: string
                          example: 'qui aliquid ut'
                        date:
                          type: string
                          example: '2024-08-11T17:29:55+00:00'
                        summary:
                          type: string
                          example: 'Walked for 8 seconds on 11th August 2024.'
                        speed:
                          type: number
                          example: 76.5480868
                        distance:
                          type: number
                          example: 0.001864113576
                        timeMoving:
                          type: number
                          example: 0.13333333333333
                        type:
                          type: string
                          example: Walk
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/69'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/69'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: 'Get an Activity'
      operationId: getAnActivity
      description: "This endpoint allows you to get a specific activity, based on the Strava ID.\nThe entry contains the same information provided in the listing, but also includes\nany extra text and the polyline representation. The type is an object which includes\nthe ID as well as the type name.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The polyline can be used with mapping software to show the route.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2974
                    title: 'occaecati beatae vel'
                    date: '2024-08-10T19:59:00+00:00'
                    summary: 'Cycled for 6 seconds on 10th August 2024.'
                    speed: 68.450364
                    distance: 0.00310685596
                    timeMoving: 0.1
                    html: "<p>Voluptas commodi est qui sunt soluta eaque rem. Amet amet porro beatae ipsum eum quo. Rerum nihil voluptatem ducimus occaecati totam. Enim nostrum aut ut et consequatur dolorem.</p>\n"
                    polyline: ''
                    type:
                      id: 187
                      name: 'E-Bike Ride'
                    links:
                      self: 'http://api.trovster.com/activities/341436'
                      permalink: 'http://www.trovster.com/activities/341436'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2974
                      title:
                        type: string
                        example: 'occaecati beatae vel'
                      date:
                        type: string
                        example: '2024-08-10T19:59:00+00:00'
                      summary:
                        type: string
                        example: 'Cycled for 6 seconds on 10th August 2024.'
                      speed:
                        type: number
                        example: 68.450364
                      distance:
                        type: number
                        example: 0.00310685596
                      timeMoving:
                        type: number
                        example: 0.1
                      html:
                        type: string
                        example: "<p>Voluptas commodi est qui sunt soluta eaque rem. Amet amet porro beatae ipsum eum quo. Rerum nihil voluptatem ducimus occaecati totam. Enim nostrum aut ut et consequatur dolorem.</p>\n"
                      polyline:
                        type: string
                        example: ''
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 187
                          name:
                            type: string
                            example: 'E-Bike Ride'
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/341436'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/341436'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: 'List All Avatars'
      operationId: listAllAvatars
      description: "This endpoint allows you to list all avatars.\nEach entry contains basic avatar information, such as the alt (name), URL and size.\nIt also notes which is the \"current\" avatar.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: culpa-aut-aperiam-iste-omnis-quia
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/culpa-aut-aperiam-iste-omnis-quia'
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: similique-et-numquam-omnis-perspiciatis
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/similique-et-numquam-omnis-perspiciatis'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: culpa-aut-aperiam-iste-omnis-quia
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/culpa-aut-aperiam-iste-omnis-quia'
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: similique-et-numquam-omnis-perspiciatis
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/similique-et-numquam-omnis-perspiciatis'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 15
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 2120
                        slug:
                          type: string
                          example: culpa-aut-aperiam-iste-omnis-quia
                        url:
                          type: string
                          example: /storage/example.jpg
                        alt:
                          type: string
                          example: Blended
                        height:
                          type: integer
                          example: 73
                        width:
                          type: integer
                          example: 73
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/avatars/culpa-aut-aperiam-iste-omnis-quia'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: 'Get an Avatar'
      operationId: getAnAvatar
      description: "This endpoint allows you to get a specific avatar, based on the slug.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 15
                    current: true
                    size: 2120
                    slug: dignissimos-quis-voluptas-quae-voluptatum
                    url: /storage/example.jpg
                    alt: Blended
                    height: 73
                    width: 73
                    links:
                      self: 'http://api.trovster.com/avatars/dignissimos-quis-voluptas-quae-voluptatum'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 15
                      current:
                        type: boolean
                        example: true
                      size:
                        type: integer
                        example: 2120
                      slug:
                        type: string
                        example: dignissimos-quis-voluptas-quae-voluptatum
                      url:
                        type: string
                        example: /storage/example.jpg
                      alt:
                        type: string
                        example: Blended
                      height:
                        type: integer
                        example: 73
                      width:
                        type: integer
                        example: 73
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/avatars/dignissimos-quis-voluptas-quae-voluptatum'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: 'List All Blog Posts'
      operationId: listAllBlogPosts
      description: "This endpoint allows you to list all blog posts.\nEach entry contains basic post information, such as title, date, summary,\nword count and an array of categories.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 592
                      title: 'Nemo voluptatem eum rerum facere molestias.'
                      date: '2024-08-15T06:59:45+00:00'
                      summary: 'Esse ea quia ad labore. Voluptas magnam ut deserunt adipisci perferendis sit. Omnis et voluptatem atque sed. Rerum blanditiis quis sit harum. Incidunt ut dignissimos aut. Recusandae et nihil…'
                      wordCount: 272
                      categories:
                        - enim
                      links:
                        self: 'http://api.trovster.com/blog/592'
                        permalink: 'http://www.trovster.com/blog/2024/08/nemo-voluptatem-eum-rerum-facere-molestias'
                    -
                      id: 593
                      title: 'Velit quae vel sit porro quis.'
                      date: '2024-08-13T02:50:03+00:00'
                      summary: 'Accusantium libero reiciendis accusantium sequi voluptas dolorem occaecati quam. Quod tenetur ea enim nobis voluptate ratione dolores. Non pariatur doloribus ab voluptatem voluptas odio amet…'
                      wordCount: 218
                      categories:
                        - quidem
                      links:
                        self: 'http://api.trovster.com/blog/593'
                        permalink: 'http://www.trovster.com/blog/2024/08/velit-quae-vel-sit-porro-quis'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 592
                        title: 'Nemo voluptatem eum rerum facere molestias.'
                        date: '2024-08-15T06:59:45+00:00'
                        summary: 'Esse ea quia ad labore. Voluptas magnam ut deserunt adipisci perferendis sit. Omnis et voluptatem atque sed. Rerum blanditiis quis sit harum. Incidunt ut dignissimos aut. Recusandae et nihil…'
                        wordCount: 272
                        categories:
                          - enim
                        links:
                          self: 'http://api.trovster.com/blog/592'
                          permalink: 'http://www.trovster.com/blog/2024/08/nemo-voluptatem-eum-rerum-facere-molestias'
                      -
                        id: 593
                        title: 'Velit quae vel sit porro quis.'
                        date: '2024-08-13T02:50:03+00:00'
                        summary: 'Accusantium libero reiciendis accusantium sequi voluptas dolorem occaecati quam. Quod tenetur ea enim nobis voluptate ratione dolores. Non pariatur doloribus ab voluptatem voluptas odio amet…'
                        wordCount: 218
                        categories:
                          - quidem
                        links:
                          self: 'http://api.trovster.com/blog/593'
                          permalink: 'http://www.trovster.com/blog/2024/08/velit-quae-vel-sit-porro-quis'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 592
                        title:
                          type: string
                          example: 'Nemo voluptatem eum rerum facere molestias.'
                        date:
                          type: string
                          example: '2024-08-15T06:59:45+00:00'
                        summary:
                          type: string
                          example: 'Esse ea quia ad labore. Voluptas magnam ut deserunt adipisci perferendis sit. Omnis et voluptatem atque sed. Rerum blanditiis quis sit harum. Incidunt ut dignissimos aut. Recusandae et nihil…'
                        wordCount:
                          type: integer
                          example: 272
                        categories:
                          type: array
                          example:
                            - enim
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/592'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2024/08/nemo-voluptatem-eum-rerum-facere-molestias'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{ID}':
    get:
      summary: 'Get a Blog Post'
      operationId: getABlogPost
      description: "This endpoint allows you to get a specific blog post, based on the ID.\nThe entry contains the full blog post information, including the full html.\nThe category array contains objects of category ID and name."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 594
                    title: 'Excepturi velit commodi quo vitae pariatur dolores.'
                    date: '2024-08-14T03:31:24+00:00'
                    summary: 'Soluta quae est vel. In rerum laborum inventore est repudiandae aliquam. Ut laboriosam qui voluptatem aperiam. Corporis cupiditate facilis quisquam dolor nihil. Fuga quos quia enim voluptate…'
                    wordCount: 221
                    html: "<p>Soluta quae est vel. In rerum laborum inventore est repudiandae aliquam. Ut laboriosam qui voluptatem aperiam. Corporis cupiditate facilis quisquam dolor nihil.</p>\n<p>Fuga quos quia enim voluptates facilis modi. Ipsa exercitationem quisquam unde qui ad est accusamus. Et doloribus cumque facilis officiis iure modi non.</p>\n<p>Veniam ipsam nesciunt natus ducimus sint iste nostrum non. Et officiis quisquam labore. Architecto impedit consequatur quis ut accusamus. Natus qui itaque sunt sit asperiores. Fuga repellendus vitae dolor est vitae.</p>\n<p>Quia veritatis aliquid itaque et consequatur. Fugiat officiis atque iste sequi tempore voluptatem aspernatur. Cum nemo aut illum nisi consequatur quaerat blanditiis.</p>\n<p>Dolorum tempore sit dolorem at eaque. Sit et delectus molestiae dolorem laborum. Vero eius et necessitatibus iusto. Ex accusantium exercitationem sit qui.</p>\n<p>Voluptas aut inventore explicabo expedita est quis quia. Perferendis quos ipsa in praesentium non possimus ut. Iste at necessitatibus aliquam.</p>\n<p>Dolorem voluptate voluptatem repudiandae et. In at eligendi sunt sit a. Id fuga sapiente recusandae numquam.</p>\n<p>Aut autem cumque sed harum alias non id. Eum maxime amet dolor suscipit qui. Libero repellat accusamus a alias beatae aut.</p>\n<p>Inventore ratione iusto rem fuga quisquam. Error excepturi voluptatem id alias dicta numquam. Nemo rerum deleniti voluptates modi a temporibus. Voluptates reiciendis illo neque laudantium cupiditate.</p>\n<p>Impedit voluptatum ipsa officia doloribus id. Corporis dignissimos consequuntur voluptas voluptatem pariatur consectetur. Sed consequatur consectetur rerum aspernatur.</p>\n"
                    categories:
                      -
                        id: 304
                        name: consequatur
                    links:
                      self: 'http://api.trovster.com/blog/594'
                      permalink: 'http://www.trovster.com/blog/2024/08/excepturi-velit-commodi-quo-vitae-pariatur-dolores'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 594
                      title:
                        type: string
                        example: 'Excepturi velit commodi quo vitae pariatur dolores.'
                      date:
                        type: string
                        example: '2024-08-14T03:31:24+00:00'
                      summary:
                        type: string
                        example: 'Soluta quae est vel. In rerum laborum inventore est repudiandae aliquam. Ut laboriosam qui voluptatem aperiam. Corporis cupiditate facilis quisquam dolor nihil. Fuga quos quia enim voluptate…'
                      wordCount:
                        type: integer
                        example: 221
                      html:
                        type: string
                        example: "<p>Soluta quae est vel. In rerum laborum inventore est repudiandae aliquam. Ut laboriosam qui voluptatem aperiam. Corporis cupiditate facilis quisquam dolor nihil.</p>\n<p>Fuga quos quia enim voluptates facilis modi. Ipsa exercitationem quisquam unde qui ad est accusamus. Et doloribus cumque facilis officiis iure modi non.</p>\n<p>Veniam ipsam nesciunt natus ducimus sint iste nostrum non. Et officiis quisquam labore. Architecto impedit consequatur quis ut accusamus. Natus qui itaque sunt sit asperiores. Fuga repellendus vitae dolor est vitae.</p>\n<p>Quia veritatis aliquid itaque et consequatur. Fugiat officiis atque iste sequi tempore voluptatem aspernatur. Cum nemo aut illum nisi consequatur quaerat blanditiis.</p>\n<p>Dolorum tempore sit dolorem at eaque. Sit et delectus molestiae dolorem laborum. Vero eius et necessitatibus iusto. Ex accusantium exercitationem sit qui.</p>\n<p>Voluptas aut inventore explicabo expedita est quis quia. Perferendis quos ipsa in praesentium non possimus ut. Iste at necessitatibus aliquam.</p>\n<p>Dolorem voluptate voluptatem repudiandae et. In at eligendi sunt sit a. Id fuga sapiente recusandae numquam.</p>\n<p>Aut autem cumque sed harum alias non id. Eum maxime amet dolor suscipit qui. Libero repellat accusamus a alias beatae aut.</p>\n<p>Inventore ratione iusto rem fuga quisquam. Error excepturi voluptatem id alias dicta numquam. Nemo rerum deleniti voluptates modi a temporibus. Voluptates reiciendis illo neque laudantium cupiditate.</p>\n<p>Impedit voluptatum ipsa officia doloribus id. Corporis dignissimos consequuntur voluptas voluptatem pariatur consectetur. Sed consequatur consectetur rerum aspernatur.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 304
                            name: consequatur
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 304
                            name:
                              type: string
                              example: consequatur
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/594'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2024/08/excepturi-velit-commodi-quo-vitae-pariatur-dolores'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: 'List All Books'
      operationId: listAllBooks
      description: "This endpoint allows you to list all books.\nEach entry contains basic book information, such as title, ISBN, summary,\nand page count.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 358
                      isbn: '9788263144457'
                      title: 'Est tempore dolore corrupti necessitatibus inventore.'
                      summary: 'Ex aut quis et dolorem sit ea. Dolorum debitis error blanditiis cum consequatur qui eaque sit. Perferendis veniam magnam libero impedit necessitatibus.'
                      pageCount: 3
                      links:
                        self: 'http://api.trovster.com/books/9788263144457'
                        permalink: 'http://www.trovster.com/books/9788263144457/ullam-vero-officia-nesciunt-dolorem'
                    -
                      id: 359
                      isbn: '9796742775733'
                      title: 'Vel minus repellat possimus est accusamus repellat assumenda.'
                      summary: 'Aspernatur fugit officiis possimus quo harum odio illum. Itaque et sunt qui amet. Est dolor aut incidunt qui.'
                      pageCount: 7
                      links:
                        self: 'http://api.trovster.com/books/9796742775733'
                        permalink: 'http://www.trovster.com/books/9796742775733/sunt-aperiam-id-qui-et-autem-ad'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 358
                        isbn: '9788263144457'
                        title: 'Est tempore dolore corrupti necessitatibus inventore.'
                        summary: 'Ex aut quis et dolorem sit ea. Dolorum debitis error blanditiis cum consequatur qui eaque sit. Perferendis veniam magnam libero impedit necessitatibus.'
                        pageCount: 3
                        links:
                          self: 'http://api.trovster.com/books/9788263144457'
                          permalink: 'http://www.trovster.com/books/9788263144457/ullam-vero-officia-nesciunt-dolorem'
                      -
                        id: 359
                        isbn: '9796742775733'
                        title: 'Vel minus repellat possimus est accusamus repellat assumenda.'
                        summary: 'Aspernatur fugit officiis possimus quo harum odio illum. Itaque et sunt qui amet. Est dolor aut incidunt qui.'
                        pageCount: 7
                        links:
                          self: 'http://api.trovster.com/books/9796742775733'
                          permalink: 'http://www.trovster.com/books/9796742775733/sunt-aperiam-id-qui-et-autem-ad'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 358
                        isbn:
                          type: string
                          example: '9788263144457'
                        title:
                          type: string
                          example: 'Est tempore dolore corrupti necessitatibus inventore.'
                        summary:
                          type: string
                          example: 'Ex aut quis et dolorem sit ea. Dolorum debitis error blanditiis cum consequatur qui eaque sit. Perferendis veniam magnam libero impedit necessitatibus.'
                        pageCount:
                          type: integer
                          example: 3
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9788263144457'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9788263144457/ullam-vero-officia-nesciunt-dolorem'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: 'Get a Book'
      operationId: getABook
      description: "This endpoint allows you to get a specific book, based on the ISBN.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 360
                    isbn: '9790137168452'
                    title: 'Sit sunt rerum dolorum tenetur et.'
                    summary: 'Et veniam consectetur est alias. Ipsam consequatur dolorem saepe fugiat id. Esse cupiditate omnis omnis amet.'
                    pageCount: 3
                    links:
                      self: 'http://api.trovster.com/books/9790137168452'
                      permalink: 'http://www.trovster.com/books/9790137168452/unde-doloribus-illo-aliquam-labore-beatae-expedita'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 360
                      isbn:
                        type: string
                        example: '9790137168452'
                      title:
                        type: string
                        example: 'Sit sunt rerum dolorum tenetur et.'
                      summary:
                        type: string
                        example: 'Et veniam consectetur est alias. Ipsam consequatur dolorem saepe fugiat id. Esse cupiditate omnis omnis amet.'
                      pageCount:
                        type: integer
                        example: 3
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9790137168452'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9790137168452/unde-doloribus-illo-aliquam-labore-beatae-expedita'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: 'Read a Book'
      operationId: readABook
      description: "This endpoint allows you to <strong>mark a book as read</strong>.\nThis requires the book ISBN13 and the date read.\nA rating between 1 and 10 is <em>optional</em>."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2024-08-15T00:00:00.000000Z'
                    rating: 3
                    book:
                      id: 357
                      isbn: '9785919409472'
                      title: 'Excepturi veritatis dolor vel fugit.'
                      summary: 'Neque impedit enim repudiandae distinctio eaque mollitia. Vitae laudantium reprehenderit earum ipsum corrupti et tempore. Atque velit et perferendis voluptas eligendi quos.'
                      pageCount: 1
                      links:
                        self: 'http://api.trovster.com/books/9785919409472'
                        permalink: 'http://www.trovster.com/books/9785919409472/id-eveniet-nihil-quia-labore-vero'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2024-08-15T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 3
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 357
                          isbn:
                            type: string
                            example: '9785919409472'
                          title:
                            type: string
                            example: 'Excepturi veritatis dolor vel fugit.'
                          summary:
                            type: string
                            example: 'Neque impedit enim repudiandae distinctio eaque mollitia. Vitae laudantium reprehenderit earum ipsum corrupti et tempore. Atque velit et perferendis voluptas eligendi quos.'
                          pageCount:
                            type: integer
                            example: 1
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9785919409472'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9785919409472/id-eveniet-nihil-quia-labore-vero'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2001-07-30'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 7
                isbn:
                  type: string
                  description: 'Must be 13 digits.'
                  example: 9781451648539
              required:
                - date
                - isbn
  /fitness:
    get:
      summary: 'List All Fitness Data'
      operationId: listAllFitnessData
      description: "This endpoint allows you to list all the fitness data.\nEach entry contains basic fitness information, such as date, summary, steps,\ndistance and flights.\nThere are objects for move, exercise and stand data. These include the total, goal,\npercent and whether the item was completed.\n<strong>The summary is a useful sentence describing the information.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 472
                      date: '1976-11-13T00:00:00+00:00'
                      summary: 'I took 1 steps, walked 0.00 miles and climbed 7 flights on 13/11/1976'
                      steps: 1
                      distance: 7
                      flights: 7
                      move:
                        total: 1
                        goal: 4
                        percent: 25
                        complete: false
                      exercise:
                        total: 3
                        goal: 3
                        percent: 100
                        complete: true
                      stand:
                        total: 7
                        goal: 5
                        percent: 140
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/1976-11-13'
                        permalink: 'http://www.trovster.com/activities/1976-11-13'
                    -
                      id: 473
                      date: '1990-05-28T00:00:00+00:00'
                      summary: 'I took 5 steps, walked 0.00 miles and climbed 6 flights on 28/05/1990'
                      steps: 5
                      distance: 6
                      flights: 6
                      move:
                        total: 6
                        goal: 4
                        percent: 150
                        complete: true
                      exercise:
                        total: 2
                        goal: 6
                        percent: 33
                        complete: false
                      stand:
                        total: 9
                        goal: 3
                        percent: 300
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/1990-05-28'
                        permalink: 'http://www.trovster.com/activities/1990-05-28'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 472
                        date: '1976-11-13T00:00:00+00:00'
                        summary: 'I took 1 steps, walked 0.00 miles and climbed 7 flights on 13/11/1976'
                        steps: 1
                        distance: 7
                        flights: 7
                        move:
                          total: 1
                          goal: 4
                          percent: 25
                          complete: false
                        exercise:
                          total: 3
                          goal: 3
                          percent: 100
                          complete: true
                        stand:
                          total: 7
                          goal: 5
                          percent: 140
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/1976-11-13'
                          permalink: 'http://www.trovster.com/activities/1976-11-13'
                      -
                        id: 473
                        date: '1990-05-28T00:00:00+00:00'
                        summary: 'I took 5 steps, walked 0.00 miles and climbed 6 flights on 28/05/1990'
                        steps: 5
                        distance: 6
                        flights: 6
                        move:
                          total: 6
                          goal: 4
                          percent: 150
                          complete: true
                        exercise:
                          total: 2
                          goal: 6
                          percent: 33
                          complete: false
                        stand:
                          total: 9
                          goal: 3
                          percent: 300
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/1990-05-28'
                          permalink: 'http://www.trovster.com/activities/1990-05-28'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 472
                        date:
                          type: string
                          example: '1976-11-13T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 1 steps, walked 0.00 miles and climbed 7 flights on 13/11/1976'
                        steps:
                          type: integer
                          example: 1
                        distance:
                          type: integer
                          example: 7
                        flights:
                          type: integer
                          example: 7
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 1
                            goal:
                              type: integer
                              example: 4
                            percent:
                              type: integer
                              example: 25
                            complete:
                              type: boolean
                              example: false
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 3
                            goal:
                              type: integer
                              example: 3
                            percent:
                              type: integer
                              example: 100
                            complete:
                              type: boolean
                              example: true
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 7
                            goal:
                              type: integer
                              example: 5
                            percent:
                              type: integer
                              example: 140
                            complete:
                              type: boolean
                              example: true
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/1976-11-13'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/1976-11-13'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
    post:
      summary: 'Store Fitness Data'
      operationId: storeFitnessData
      description: "This endpoint allows you to store fitness data.\nIt required a date and basic health data, such as active energy, step count,\ndistance and flights climbed. The total for movie, exercise and stand are also\nrequired."
      parameters: []
      responses: {  }
      tags:
        - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2014-09-10'
                active_energy:
                  type: number
                  description: ''
                  example: 7600.0
                step_count:
                  type: number
                  description: ''
                  example: 7500.0
                distance:
                  type: number
                  description: ''
                  example: 5000.0
                flights_climbed:
                  type: number
                  description: ''
                  example: 10.0
                move_total:
                  type: number
                  description: ''
                  example: 650.0
                exercise_total:
                  type: number
                  description: ''
                  example: 30.0
                stand_total:
                  type: number
                  description: ''
                  example: 12.0
              required:
                - date
                - active_energy
                - step_count
                - distance
                - flights_climbed
                - move_total
                - exercise_total
                - stand_total
  '/fitness/{health_date}':
    get:
      summary: 'Get Fitness Data'
      operationId: getFitnessData
      description: "This endpoint allows you to get fitness data, based on the date.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 474
                    date: '2022-07-13T00:00:00+00:00'
                    summary: 'I took 4 steps, walked 0.00 miles and climbed 4 flights on 13/07/2022'
                    steps: 4
                    distance: 3
                    flights: 4
                    move:
                      total: 2
                      goal: 7
                      percent: 29
                      complete: false
                    exercise:
                      total: 6
                      goal: 9
                      percent: 67
                      complete: false
                    stand:
                      total: 2
                      goal: 2
                      percent: 100
                      complete: true
                    links:
                      self: 'http://api.trovster.com/fitness/2022-07-13'
                      permalink: 'http://www.trovster.com/activities/2022-07-13'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 474
                      date:
                        type: string
                        example: '2022-07-13T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 4 steps, walked 0.00 miles and climbed 4 flights on 13/07/2022'
                      steps:
                        type: integer
                        example: 4
                      distance:
                        type: integer
                        example: 3
                      flights:
                        type: integer
                        example: 4
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          goal:
                            type: integer
                            example: 7
                          percent:
                            type: integer
                            example: 29
                          complete:
                            type: boolean
                            example: false
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 6
                          goal:
                            type: integer
                            example: 9
                          percent:
                            type: integer
                            example: 67
                          complete:
                            type: boolean
                            example: false
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          goal:
                            type: integer
                            example: 2
                          percent:
                            type: integer
                            example: 100
                          complete:
                            type: boolean
                            example: true
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/2022-07-13'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/2022-07-13'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /links:
    get:
      summary: 'List All Links'
      operationId: listAllLinks
      description: "This endpoint allows you to list all links.\nEach entry contains basic link information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2462
                      title: 'Quia quibusdam voluptatem quas nihil.'
                      date: '2024-08-15T14:45:54+00:00'
                      summary: 'Fugiat iusto maiores ex laborum voluptates itaque ratione enim. Rerum et nihil mollitia soluta qui commodi tempore. Non eum maiores esse atque facere vero tenetur quasi. Quibusdam quaerat nam corrupti voluptatem quo cumque ad suscipit.'
                      url: 'http://richardson.net/est-molestiae-ex-quam-fugit-omnis-voluptatem-voluptas-quos'
                      links:
                        self: 'http://api.trovster.com/links/2462'
                        permalink: 'http://richardson.net/est-molestiae-ex-quam-fugit-omnis-voluptatem-voluptas-quos'
                    -
                      id: 2463
                      title: 'Ut molestias aut similique qui error odit aspernatur.'
                      date: '2024-08-16T09:37:38+00:00'
                      summary: 'Et sed non nam atque. Maiores omnis soluta vel dolor nam. Est nulla sit tempora qui eos et. Laudantium occaecati aperiam tempore eum maiores voluptas animi.'
                      url: 'http://williams.com/qui-perferendis-cumque-commodi-laudantium-harum'
                      links:
                        self: 'http://api.trovster.com/links/2463'
                        permalink: 'http://williams.com/qui-perferendis-cumque-commodi-laudantium-harum'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2462
                        title: 'Quia quibusdam voluptatem quas nihil.'
                        date: '2024-08-15T14:45:54+00:00'
                        summary: 'Fugiat iusto maiores ex laborum voluptates itaque ratione enim. Rerum et nihil mollitia soluta qui commodi tempore. Non eum maiores esse atque facere vero tenetur quasi. Quibusdam quaerat nam corrupti voluptatem quo cumque ad suscipit.'
                        url: 'http://richardson.net/est-molestiae-ex-quam-fugit-omnis-voluptatem-voluptas-quos'
                        links:
                          self: 'http://api.trovster.com/links/2462'
                          permalink: 'http://richardson.net/est-molestiae-ex-quam-fugit-omnis-voluptatem-voluptas-quos'
                      -
                        id: 2463
                        title: 'Ut molestias aut similique qui error odit aspernatur.'
                        date: '2024-08-16T09:37:38+00:00'
                        summary: 'Et sed non nam atque. Maiores omnis soluta vel dolor nam. Est nulla sit tempora qui eos et. Laudantium occaecati aperiam tempore eum maiores voluptas animi.'
                        url: 'http://williams.com/qui-perferendis-cumque-commodi-laudantium-harum'
                        links:
                          self: 'http://api.trovster.com/links/2463'
                          permalink: 'http://williams.com/qui-perferendis-cumque-commodi-laudantium-harum'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2462
                        title:
                          type: string
                          example: 'Quia quibusdam voluptatem quas nihil.'
                        date:
                          type: string
                          example: '2024-08-15T14:45:54+00:00'
                        summary:
                          type: string
                          example: 'Fugiat iusto maiores ex laborum voluptates itaque ratione enim. Rerum et nihil mollitia soluta qui commodi tempore. Non eum maiores esse atque facere vero tenetur quasi. Quibusdam quaerat nam corrupti voluptatem quo cumque ad suscipit.'
                        url:
                          type: string
                          example: 'http://richardson.net/est-molestiae-ex-quam-fugit-omnis-voluptatem-voluptas-quos'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/links/2462'
                            permalink:
                              type: string
                              example: 'http://richardson.net/est-molestiae-ex-quam-fugit-omnis-voluptatem-voluptas-quos'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save a Link'
      operationId: saveALink
      description: "This endpoint allows you to <strong>save a new link</strong>.\nThis requires the URL, a title, a description and a date."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2464
                    title: 'Eum dolorum et quis harum magnam qui rerum.'
                    date: '2024-08-15T01:33:42+00:00'
                    summary: 'Et modi quos ut aut voluptatem. Aut vero voluptas omnis qui sunt commodi perspiciatis. Illum vitae quo provident rerum. Quia suscipit qui saepe delectus quam assumenda.'
                    url: 'http://shaw.com/voluptatem-hic-qui-est-quo-itaque.html'
                    html: "<p>Et modi quos ut aut voluptatem. Aut vero voluptas omnis qui sunt commodi perspiciatis. Illum vitae quo provident rerum. Quia suscipit qui saepe delectus quam assumenda.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/2464'
                      permalink: 'http://shaw.com/voluptatem-hic-qui-est-quo-itaque.html'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2464
                      title:
                        type: string
                        example: 'Eum dolorum et quis harum magnam qui rerum.'
                      date:
                        type: string
                        example: '2024-08-15T01:33:42+00:00'
                      summary:
                        type: string
                        example: 'Et modi quos ut aut voluptatem. Aut vero voluptas omnis qui sunt commodi perspiciatis. Illum vitae quo provident rerum. Quia suscipit qui saepe delectus quam assumenda.'
                      url:
                        type: string
                        example: 'http://shaw.com/voluptatem-hic-qui-est-quo-itaque.html'
                      html:
                        type: string
                        example: "<p>Et modi quos ut aut voluptatem. Aut vero voluptas omnis qui sunt commodi perspiciatis. Illum vitae quo provident rerum. Quia suscipit qui saepe delectus quam assumenda.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/2464'
                          permalink:
                            type: string
                            example: 'http://shaw.com/voluptatem-hic-qui-est-quo-itaque.html'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-08-17T15:24:30'
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.bernhard.info/adipisci-deleniti-quis-consequuntur-aut-excepturi-neque-debitis-aut.html'
              required:
                - date
                - url
                - title
                - description
  '/links/{id}':
    get:
      summary: 'Get a Link'
      operationId: getALink
      description: "This endpoint allows you to get a specific link, based on the ID.\nThe entry contains the full link information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2465
                    title: 'Numquam quibusdam quia corporis sunt autem.'
                    date: '2024-08-12T12:20:13+00:00'
                    summary: 'Accusantium omnis architecto sequi. Animi non ut fugit accusantium velit. Expedita blanditiis labore velit porro amet.'
                    url: 'http://www.jones.org/quia-similique-fugit-tempora.html'
                    html: "<p>Accusantium omnis architecto sequi. Animi non ut fugit accusantium velit. Expedita blanditiis labore velit porro amet.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/2465'
                      permalink: 'http://www.jones.org/quia-similique-fugit-tempora.html'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2465
                      title:
                        type: string
                        example: 'Numquam quibusdam quia corporis sunt autem.'
                      date:
                        type: string
                        example: '2024-08-12T12:20:13+00:00'
                      summary:
                        type: string
                        example: 'Accusantium omnis architecto sequi. Animi non ut fugit accusantium velit. Expedita blanditiis labore velit porro amet.'
                      url:
                        type: string
                        example: 'http://www.jones.org/quia-similique-fugit-tempora.html'
                      html:
                        type: string
                        example: "<p>Accusantium omnis architecto sequi. Animi non ut fugit accusantium velit. Expedita blanditiis labore velit porro amet.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/2465'
                          permalink:
                            type: string
                            example: 'http://www.jones.org/quia-similique-fugit-tempora.html'
      tags:
        - 'Links & Articles'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the link.'
        example: 1
        required: true
        schema:
          type: integer
  /articles:
    get:
      summary: 'List All Articles'
      operationId: listAllArticles
      description: "This endpoint allows you to list all articles.\nEach entry contains basic article information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2466
                      title: 'Modi aut aut blanditiis.'
                      date: '2024-08-13T03:37:04+00:00'
                      summary: 'Animi nulla repellendus eligendi rem accusamus nihil. Sint porro minima suscipit error perspiciatis et. Illo et ipsa aut beatae sint ab nobis. Esse ab praesentium dolores perspiciatis sint et est.'
                      url: 'https://martin.net/ea-magnam-ipsa-earum-voluptas-dolorem.html'
                      links:
                        self: 'http://api.trovster.com/articles/2466'
                        permalink: 'https://martin.net/ea-magnam-ipsa-earum-voluptas-dolorem.html'
                    -
                      id: 2467
                      title: 'Rem odit in numquam architecto minus.'
                      date: '2024-08-16T11:27:12+00:00'
                      summary: 'Cum libero et rerum accusamus. Ullam voluptate quia tempora et error. Beatae sapiente enim officia libero nesciunt.'
                      url: 'http://butler.com/sed-odit-iure-voluptates-ratione-ut-eius.html'
                      links:
                        self: 'http://api.trovster.com/articles/2467'
                        permalink: 'http://butler.com/sed-odit-iure-voluptates-ratione-ut-eius.html'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2466
                        title: 'Modi aut aut blanditiis.'
                        date: '2024-08-13T03:37:04+00:00'
                        summary: 'Animi nulla repellendus eligendi rem accusamus nihil. Sint porro minima suscipit error perspiciatis et. Illo et ipsa aut beatae sint ab nobis. Esse ab praesentium dolores perspiciatis sint et est.'
                        url: 'https://martin.net/ea-magnam-ipsa-earum-voluptas-dolorem.html'
                        links:
                          self: 'http://api.trovster.com/articles/2466'
                          permalink: 'https://martin.net/ea-magnam-ipsa-earum-voluptas-dolorem.html'
                      -
                        id: 2467
                        title: 'Rem odit in numquam architecto minus.'
                        date: '2024-08-16T11:27:12+00:00'
                        summary: 'Cum libero et rerum accusamus. Ullam voluptate quia tempora et error. Beatae sapiente enim officia libero nesciunt.'
                        url: 'http://butler.com/sed-odit-iure-voluptates-ratione-ut-eius.html'
                        links:
                          self: 'http://api.trovster.com/articles/2467'
                          permalink: 'http://butler.com/sed-odit-iure-voluptates-ratione-ut-eius.html'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2466
                        title:
                          type: string
                          example: 'Modi aut aut blanditiis.'
                        date:
                          type: string
                          example: '2024-08-13T03:37:04+00:00'
                        summary:
                          type: string
                          example: 'Animi nulla repellendus eligendi rem accusamus nihil. Sint porro minima suscipit error perspiciatis et. Illo et ipsa aut beatae sint ab nobis. Esse ab praesentium dolores perspiciatis sint et est.'
                        url:
                          type: string
                          example: 'https://martin.net/ea-magnam-ipsa-earum-voluptas-dolorem.html'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/articles/2466'
                            permalink:
                              type: string
                              example: 'https://martin.net/ea-magnam-ipsa-earum-voluptas-dolorem.html'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save an Article'
      operationId: saveAnArticle
      description: "This endpoint allows you to <strong>save a new article</strong>.\nThis requires the URL, a title, a description and a date.\n<aside>The description should be a <strong>quote</strong> from the article.</aside>"
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2468
                    title: 'Dolorem voluptas et illum sed.'
                    date: '2024-08-10T16:19:56+00:00'
                    summary: 'Repellat officiis dolores qui architecto. Et sed quaerat eos dolor et. Dolores sed doloribus omnis fugit est et.'
                    url: 'http://www.edwards.com/'
                    html: "<p>Repellat officiis dolores qui architecto. Et sed quaerat eos dolor et. Dolores sed doloribus omnis fugit est et.</p>\n"
                    links:
                      self: 'http://api.trovster.com/articles/2468'
                      permalink: 'http://www.edwards.com/'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2468
                      title:
                        type: string
                        example: 'Dolorem voluptas et illum sed.'
                      date:
                        type: string
                        example: '2024-08-10T16:19:56+00:00'
                      summary:
                        type: string
                        example: 'Repellat officiis dolores qui architecto. Et sed quaerat eos dolor et. Dolores sed doloribus omnis fugit est et.'
                      url:
                        type: string
                        example: 'http://www.edwards.com/'
                      html:
                        type: string
                        example: "<p>Repellat officiis dolores qui architecto. Et sed quaerat eos dolor et. Dolores sed doloribus omnis fugit est et.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/articles/2468'
                          permalink:
                            type: string
                            example: 'http://www.edwards.com/'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-08-17T15:24:30'
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.roberts.com/aliquam-vel-corporis-et-sint-optio-qui-voluptatem'
              required:
                - date
                - url
                - title
                - description
  '/articles/{id}':
    get:
      summary: 'Get an Article'
      operationId: getAnArticle
      description: "This endpoint allows you to get a specific article, based on the ID.\nThe entry contains the full article information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2469
                    title: 'Et ratione deleniti ipsa mollitia numquam distinctio.'
                    date: '2024-08-10T20:07:21+00:00'
                    summary: 'Animi ratione dolor iste alias. Labore voluptas quasi et quasi facere.'
                    url: 'http://king.co.uk/'
                    html: "<p>Animi ratione dolor iste alias. Labore voluptas quasi et quasi facere.</p>\n"
                    links:
                      self: 'http://api.trovster.com/articles/2469'
                      permalink: 'http://king.co.uk/'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2469
                      title:
                        type: string
                        example: 'Et ratione deleniti ipsa mollitia numquam distinctio.'
                      date:
                        type: string
                        example: '2024-08-10T20:07:21+00:00'
                      summary:
                        type: string
                        example: 'Animi ratione dolor iste alias. Labore voluptas quasi et quasi facere.'
                      url:
                        type: string
                        example: 'http://king.co.uk/'
                      html:
                        type: string
                        example: "<p>Animi ratione dolor iste alias. Labore voluptas quasi et quasi facere.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/articles/2469'
                          permalink:
                            type: string
                            example: 'http://king.co.uk/'
      tags:
        - 'Links & Articles'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the article.'
        example: 1
        required: true
        schema:
          type: integer
  /movies:
    get:
      summary: 'List All Movies'
      operationId: listAllMovies
      description: "This endpoint allows you to list all movies.\nEach entry contains basic movie information, such as title, summary, tagline,\nyear released and runtime.\nThere are also links to external services.\nThe rating and watched count is also included.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 4114
                      title: 'labore sit nobis'
                      summary: 'Rerum officia debitis aliquam earum itaque debitis. Assumenda laboriosam ratione deleniti iste ut et. Eos sed eum quibusdam minima ut est aspernatur. Velit aut possimus nam qui ut qui. Nesciunt iusto et suscipit.'
                      tagline: 'Qui iure dicta explicabo occaecati.'
                      year: 2023
                      runtime: 104
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'http://api.trovster.com/movies/4114'
                        permalink: 'http://www.trovster.com/movies/id:4114/labore-sit-nobis'
                        imdb: 'https://www.imdb.com/title/tt7016090'
                        tmdb: 'https://www.themoviedb.org/movie/9123'
                        letterboxd: 'https://boxd.it/2703'
                    -
                      id: 4115
                      title: 'perferendis perspiciatis perspiciatis'
[...]
