openapi: 3.0.3
info:
  title: 'API Documentation'
  description: 'This documentation aims to provide all the information you need to work with the API and data for trovster.com.'
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: 'This endpoint lists provides links to the main available endpoints.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    photos: 'http://api.trovster.com/photos'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: 'List All Activities'
      operationId: listAllActivities
      description: "This endpoint allows you to list all activities.\nEach entry contains basic activity information, such as title, date, summary, speed,\ndistance, moving time and type.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2815
                      title: 'ex ipsam repudiandae'
                      date: '2014-06-28T22:37:05+00:00'
                      summary: 'Cycled for 9 seconds on 28th June 2014.'
                      speed: 83.7957724
                      distance: 0.001242742384
                      timeMoving: 0.15
                      type: Ride
                      links:
                        self: 'http://api.trovster.com/activities/3293'
                        permalink: 'http://www.trovster.com/activities/3293'
                    -
                      id: 2816
                      title: 'beatae quia est'
                      date: '2023-11-21T14:38:25+00:00'
                      summary: 'Cycled for 1 second on 21st November 2023.'
                      speed: 33.3751448
                      distance: 0.003728227152
                      timeMoving: 0.016666666666667
                      type: 'E-Bike Ride'
                      links:
                        self: 'http://api.trovster.com/activities/74'
                        permalink: 'http://www.trovster.com/activities/74'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2815
                        title: 'ex ipsam repudiandae'
                        date: '2014-06-28T22:37:05+00:00'
                        summary: 'Cycled for 9 seconds on 28th June 2014.'
                        speed: 83.7957724
                        distance: 0.001242742384
                        timeMoving: 0.15
                        type: Ride
                        links:
                          self: 'http://api.trovster.com/activities/3293'
                          permalink: 'http://www.trovster.com/activities/3293'
                      -
                        id: 2816
                        title: 'beatae quia est'
                        date: '2023-11-21T14:38:25+00:00'
                        summary: 'Cycled for 1 second on 21st November 2023.'
                        speed: 33.3751448
                        distance: 0.003728227152
                        timeMoving: 0.016666666666667
                        type: 'E-Bike Ride'
                        links:
                          self: 'http://api.trovster.com/activities/74'
                          permalink: 'http://www.trovster.com/activities/74'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2815
                        title:
                          type: string
                          example: 'ex ipsam repudiandae'
                        date:
                          type: string
                          example: '2014-06-28T22:37:05+00:00'
                        summary:
                          type: string
                          example: 'Cycled for 9 seconds on 28th June 2014.'
                        speed:
                          type: number
                          example: 83.7957724
                        distance:
                          type: number
                          example: 0.001242742384
                        timeMoving:
                          type: number
                          example: 0.15
                        type:
                          type: string
                          example: Ride
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/3293'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/3293'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: 'Get an Activity'
      operationId: getAnActivity
      description: "This endpoint allows you to get a specific activity, based on the Strava ID.\nThe entry contains the same information provided in the listing, but also includes\nany extra text and the polyline representation. The type is an object which includes\nthe ID as well as the type name.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The polyline can be used with mapping software to show the route.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2817
                    title: 'quo sapiente quis'
                    date: '2017-12-14T23:07:49+00:00'
                    summary: 'Walked for 8 seconds on 14th December 2017.'
                    speed: 0.6934514
                    distance: 0.00310685596
                    timeMoving: 0.13333333333333
                    html: "<p>In omnis quis repellat error officiis dolore maxime. Aspernatur et delectus dolor temporibus. Aut sit vitae qui nihil iure ex. Officia quia qui inventore cupiditate repellat in quia.</p>\n"
                    polyline: ''
                    type:
                      id: 145
                      name: Walk
                    links:
                      self: 'http://api.trovster.com/activities/755375'
                      permalink: 'http://www.trovster.com/activities/755375'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2817
                      title:
                        type: string
                        example: 'quo sapiente quis'
                      date:
                        type: string
                        example: '2017-12-14T23:07:49+00:00'
                      summary:
                        type: string
                        example: 'Walked for 8 seconds on 14th December 2017.'
                      speed:
                        type: number
                        example: 0.6934514
                      distance:
                        type: number
                        example: 0.00310685596
                      timeMoving:
                        type: number
                        example: 0.13333333333333
                      html:
                        type: string
                        example: "<p>In omnis quis repellat error officiis dolore maxime. Aspernatur et delectus dolor temporibus. Aut sit vitae qui nihil iure ex. Officia quia qui inventore cupiditate repellat in quia.</p>\n"
                      polyline:
                        type: string
                        example: ''
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 145
                          name:
                            type: string
                            example: Walk
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/755375'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/755375'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: 'List All Avatars'
      operationId: listAllAvatars
      description: "This endpoint allows you to list all avatars.\nEach entry contains basic avatar information, such as the alt (name), URL and size.\nIt also notes which is the \"current\" avatar.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: cum-deserunt-est-labore-quo-et-architecto-natus
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/cum-deserunt-est-labore-quo-et-architecto-natus'
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: ipsum-quaerat-omnis-rem-dolore-et-est-ex
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/ipsum-quaerat-omnis-rem-dolore-et-est-ex'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: cum-deserunt-est-labore-quo-et-architecto-natus
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/cum-deserunt-est-labore-quo-et-architecto-natus'
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: ipsum-quaerat-omnis-rem-dolore-et-est-ex
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/ipsum-quaerat-omnis-rem-dolore-et-est-ex'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 15
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 2120
                        slug:
                          type: string
                          example: cum-deserunt-est-labore-quo-et-architecto-natus
                        url:
                          type: string
                          example: /storage/example.jpg
                        alt:
                          type: string
                          example: Blended
                        height:
                          type: integer
                          example: 73
                        width:
                          type: integer
                          example: 73
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/avatars/cum-deserunt-est-labore-quo-et-architecto-natus'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: 'Get an Avatar'
      operationId: getAnAvatar
      description: "This endpoint allows you to get a specific avatar, based on the slug.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 15
                    current: true
                    size: 2120
                    slug: magnam-corrupti-molestiae-incidunt
                    url: /storage/example.jpg
                    alt: Blended
                    height: 73
                    width: 73
                    links:
                      self: 'http://api.trovster.com/avatars/magnam-corrupti-molestiae-incidunt'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 15
                      current:
                        type: boolean
                        example: true
                      size:
                        type: integer
                        example: 2120
                      slug:
                        type: string
                        example: magnam-corrupti-molestiae-incidunt
                      url:
                        type: string
                        example: /storage/example.jpg
                      alt:
                        type: string
                        example: Blended
                      height:
                        type: integer
                        example: 73
                      width:
                        type: integer
                        example: 73
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/avatars/magnam-corrupti-molestiae-incidunt'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: 'List All Blog Posts'
      operationId: listAllBlogPosts
      description: "This endpoint allows you to list all blog posts.\nEach entry contains basic post information, such as title, date, summary,\nword count and an array of categories.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 544
                      title: 'Repudiandae dicta ullam omnis nihil ea qui.'
                      date: '2024-01-15T19:50:22+00:00'
                      summary: 'Placeat nulla pariatur veritatis mollitia. Harum hic est voluptatem et. Repudiandae consequatur unde voluptatum sint doloribus totam velit sint. Et inventore optio dolorem maiores. Consequun…'
                      wordCount: 236
                      categories:
                        - aut
                      links:
                        self: 'http://api.trovster.com/blog/544'
                        permalink: 'http://www.trovster.com/blog/2024/01/repudiandae-dicta-ullam-omnis-nihil-ea-qui'
                    -
                      id: 545
                      title: 'Earum facilis voluptatem molestias culpa et ut quam aut.'
                      date: '2024-04-20T21:26:27+00:00'
                      summary: 'Autem harum nihil a libero. Placeat fugit fugit quo voluptatem animi id et cumque. Animi doloribus maiores autem eveniet sapiente praesentium. Dolorem perspiciatis quis vel est non corporis…'
                      wordCount: 224
                      categories:
                        - et
                      links:
                        self: 'http://api.trovster.com/blog/545'
                        permalink: 'http://www.trovster.com/blog/2024/04/earum-facilis-voluptatem-molestias-culpa-et-ut-quam-aut'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 544
                        title: 'Repudiandae dicta ullam omnis nihil ea qui.'
                        date: '2024-01-15T19:50:22+00:00'
                        summary: 'Placeat nulla pariatur veritatis mollitia. Harum hic est voluptatem et. Repudiandae consequatur unde voluptatum sint doloribus totam velit sint. Et inventore optio dolorem maiores. Consequun…'
                        wordCount: 236
                        categories:
                          - aut
                        links:
                          self: 'http://api.trovster.com/blog/544'
                          permalink: 'http://www.trovster.com/blog/2024/01/repudiandae-dicta-ullam-omnis-nihil-ea-qui'
                      -
                        id: 545
                        title: 'Earum facilis voluptatem molestias culpa et ut quam aut.'
                        date: '2024-04-20T21:26:27+00:00'
                        summary: 'Autem harum nihil a libero. Placeat fugit fugit quo voluptatem animi id et cumque. Animi doloribus maiores autem eveniet sapiente praesentium. Dolorem perspiciatis quis vel est non corporis…'
                        wordCount: 224
                        categories:
                          - et
                        links:
                          self: 'http://api.trovster.com/blog/545'
                          permalink: 'http://www.trovster.com/blog/2024/04/earum-facilis-voluptatem-molestias-culpa-et-ut-quam-aut'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 544
                        title:
                          type: string
                          example: 'Repudiandae dicta ullam omnis nihil ea qui.'
                        date:
                          type: string
                          example: '2024-01-15T19:50:22+00:00'
                        summary:
                          type: string
                          example: 'Placeat nulla pariatur veritatis mollitia. Harum hic est voluptatem et. Repudiandae consequatur unde voluptatum sint doloribus totam velit sint. Et inventore optio dolorem maiores. Consequun…'
                        wordCount:
                          type: integer
                          example: 236
                        categories:
                          type: array
                          example:
                            - aut
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/544'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2024/01/repudiandae-dicta-ullam-omnis-nihil-ea-qui'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{ID}':
    get:
      summary: 'Get a Blog Post'
      operationId: getABlogPost
      description: "This endpoint allows you to get a specific blog post, based on the ID.\nThe entry contains the full blog post information, including the full html.\nThe category array contains objects of category ID and name."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 546
                    title: 'Ratione animi labore earum nesciunt asperiores a.'
                    date: '2024-01-15T20:22:38+00:00'
                    summary: 'Perspiciatis aut totam voluptas provident. Incidunt et commodi a quae ipsa. Dolorem quis fugit commodi. Et voluptates ea officia minus reiciendis voluptatem et. Rerum sint repellendus et con…'
                    wordCount: 206
                    html: "<p>Perspiciatis aut totam voluptas provident. Incidunt et commodi a quae ipsa. Dolorem quis fugit commodi. Et voluptates ea officia minus reiciendis voluptatem et.</p>\n<p>Rerum sint repellendus et consectetur. Veritatis sit vitae excepturi. Repellendus suscipit animi eum distinctio consectetur et.</p>\n<p>Molestiae error consectetur perferendis incidunt dolores ut. Doloribus ut aut quo quis. Et natus quisquam aut sunt est doloribus aut. Consequuntur ipsum iusto labore fuga.</p>\n<p>Inventore necessitatibus et fugiat provident iusto consequatur. Tempore illum sed sit earum. Expedita unde magni fugiat nihil sit deserunt vel. Aspernatur voluptas illum dolor dolorem fugit in cumque perferendis.</p>\n<p>Similique aut modi a vel mollitia quo maiores. Pariatur sint vitae accusantium corporis.</p>\n<p>Eligendi iste ut numquam illo earum. Nemo aspernatur itaque exercitationem quasi qui. Quibusdam qui laborum expedita recusandae minus eum. Nemo veniam rerum repudiandae soluta.</p>\n<p>Et modi labore dolorem sit nulla molestiae aut. Possimus quia itaque explicabo at in consequatur inventore. Aspernatur quae impedit et aut.</p>\n<p>Facilis reiciendis eum expedita accusantium possimus natus. Quis qui blanditiis magnam eaque sit.</p>\n<p>Sed non nesciunt perferendis animi. Asperiores similique ut vero dolorum amet. Consectetur atque animi eum inventore commodi accusamus expedita. Sint laborum earum nemo voluptas enim sit ut.</p>\n<p>Praesentium qui aut porro. Est debitis in nam ullam ullam. Provident molestias aut suscipit possimus.</p>\n"
                    categories:
                      -
                        id: 261
                        name: ut
                    links:
                      self: 'http://api.trovster.com/blog/546'
                      permalink: 'http://www.trovster.com/blog/2024/01/ratione-animi-labore-earum-nesciunt-asperiores-a'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 546
                      title:
                        type: string
                        example: 'Ratione animi labore earum nesciunt asperiores a.'
                      date:
                        type: string
                        example: '2024-01-15T20:22:38+00:00'
                      summary:
                        type: string
                        example: 'Perspiciatis aut totam voluptas provident. Incidunt et commodi a quae ipsa. Dolorem quis fugit commodi. Et voluptates ea officia minus reiciendis voluptatem et. Rerum sint repellendus et con…'
                      wordCount:
                        type: integer
                        example: 206
                      html:
                        type: string
                        example: "<p>Perspiciatis aut totam voluptas provident. Incidunt et commodi a quae ipsa. Dolorem quis fugit commodi. Et voluptates ea officia minus reiciendis voluptatem et.</p>\n<p>Rerum sint repellendus et consectetur. Veritatis sit vitae excepturi. Repellendus suscipit animi eum distinctio consectetur et.</p>\n<p>Molestiae error consectetur perferendis incidunt dolores ut. Doloribus ut aut quo quis. Et natus quisquam aut sunt est doloribus aut. Consequuntur ipsum iusto labore fuga.</p>\n<p>Inventore necessitatibus et fugiat provident iusto consequatur. Tempore illum sed sit earum. Expedita unde magni fugiat nihil sit deserunt vel. Aspernatur voluptas illum dolor dolorem fugit in cumque perferendis.</p>\n<p>Similique aut modi a vel mollitia quo maiores. Pariatur sint vitae accusantium corporis.</p>\n<p>Eligendi iste ut numquam illo earum. Nemo aspernatur itaque exercitationem quasi qui. Quibusdam qui laborum expedita recusandae minus eum. Nemo veniam rerum repudiandae soluta.</p>\n<p>Et modi labore dolorem sit nulla molestiae aut. Possimus quia itaque explicabo at in consequatur inventore. Aspernatur quae impedit et aut.</p>\n<p>Facilis reiciendis eum expedita accusantium possimus natus. Quis qui blanditiis magnam eaque sit.</p>\n<p>Sed non nesciunt perferendis animi. Asperiores similique ut vero dolorum amet. Consectetur atque animi eum inventore commodi accusamus expedita. Sint laborum earum nemo voluptas enim sit ut.</p>\n<p>Praesentium qui aut porro. Est debitis in nam ullam ullam. Provident molestias aut suscipit possimus.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 261
                            name: ut
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 261
                            name:
                              type: string
                              example: ut
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/546'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2024/01/ratione-animi-labore-earum-nesciunt-asperiores-a'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: 'List All Books'
      operationId: listAllBooks
      description: "This endpoint allows you to list all books.\nEach entry contains basic book information, such as title, ISBN, summary,\nand page count.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 246
                      isbn: '9795951631243'
                      title: 'Quos cumque cum excepturi et asperiores esse ut.'
                      summary: 'Blanditiis qui earum impedit ea quis. Reiciendis tenetur ut est repellat assumenda blanditiis consequatur velit. Et rem perspiciatis ipsa rerum exercitationem alias quod. Et molestias nesciunt labore et.'
                      pageCount: 8
                      links:
                        self: 'http://api.trovster.com/books/9795951631243'
                        permalink: 'http://www.trovster.com/books/9795951631243/ea-quo-vitae-officia-delectus-quo-natus-asperiores'
                    -
                      id: 247
                      isbn: '9798927461059'
                      title: 'Aperiam sequi placeat rerum cum id facilis provident.'
                      summary: 'Et cumque dolorem vitae. Aperiam nihil ea veritatis expedita qui eum et. Quia minima sit aut est id quidem consequatur. Non amet dignissimos atque a nobis et.'
                      pageCount: 9
                      links:
                        self: 'http://api.trovster.com/books/9798927461059'
                        permalink: 'http://www.trovster.com/books/9798927461059/et-et-repellat-atque'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 246
                        isbn: '9795951631243'
                        title: 'Quos cumque cum excepturi et asperiores esse ut.'
                        summary: 'Blanditiis qui earum impedit ea quis. Reiciendis tenetur ut est repellat assumenda blanditiis consequatur velit. Et rem perspiciatis ipsa rerum exercitationem alias quod. Et molestias nesciunt labore et.'
                        pageCount: 8
                        links:
                          self: 'http://api.trovster.com/books/9795951631243'
                          permalink: 'http://www.trovster.com/books/9795951631243/ea-quo-vitae-officia-delectus-quo-natus-asperiores'
                      -
                        id: 247
                        isbn: '9798927461059'
                        title: 'Aperiam sequi placeat rerum cum id facilis provident.'
                        summary: 'Et cumque dolorem vitae. Aperiam nihil ea veritatis expedita qui eum et. Quia minima sit aut est id quidem consequatur. Non amet dignissimos atque a nobis et.'
                        pageCount: 9
                        links:
                          self: 'http://api.trovster.com/books/9798927461059'
                          permalink: 'http://www.trovster.com/books/9798927461059/et-et-repellat-atque'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 246
                        isbn:
                          type: string
                          example: '9795951631243'
                        title:
                          type: string
                          example: 'Quos cumque cum excepturi et asperiores esse ut.'
                        summary:
                          type: string
                          example: 'Blanditiis qui earum impedit ea quis. Reiciendis tenetur ut est repellat assumenda blanditiis consequatur velit. Et rem perspiciatis ipsa rerum exercitationem alias quod. Et molestias nesciunt labore et.'
                        pageCount:
                          type: integer
                          example: 8
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9795951631243'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9795951631243/ea-quo-vitae-officia-delectus-quo-natus-asperiores'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: 'Get a Book'
      operationId: getABook
      description: "This endpoint allows you to get a specific book, based on the ISBN.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 248
                    isbn: '9782581113980'
                    title: 'Molestias eum distinctio animi tempora.'
                    summary: 'Odit sit dolor id dolorem et. Inventore sit assumenda quis reprehenderit natus dolor. Doloribus quo repellendus id ea minima maxime aliquam.'
                    pageCount: 8
                    links:
                      self: 'http://api.trovster.com/books/9782581113980'
                      permalink: 'http://www.trovster.com/books/9782581113980/molestiae-qui-consequatur-voluptatum-inventore-dolorem'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 248
                      isbn:
                        type: string
                        example: '9782581113980'
                      title:
                        type: string
                        example: 'Molestias eum distinctio animi tempora.'
                      summary:
                        type: string
                        example: 'Odit sit dolor id dolorem et. Inventore sit assumenda quis reprehenderit natus dolor. Doloribus quo repellendus id ea minima maxime aliquam.'
                      pageCount:
                        type: integer
                        example: 8
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9782581113980'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9782581113980/molestiae-qui-consequatur-voluptatum-inventore-dolorem'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: 'Read a Book'
      operationId: readABook
      description: "This endpoint allows you to <strong>mark a book as read</strong>.\nThis requires the book ID and the date read.\nA rating between 1 and 10 is <em>optional</em>.\nThe book must exist in the system before being marked as read."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2023-07-26T00:00:00.000000Z'
                    rating: 9
                    book:
                      id: 245
                      isbn: '9784529454865'
                      title: 'Quisquam voluptatum nam aut possimus.'
                      summary: 'Doloremque veritatis nemo laudantium voluptatem repellat. Atque maiores rem est qui est autem. Sed sed nihil rem quas beatae omnis vel. Eius quos doloremque et in occaecati ut.'
                      pageCount: 2
                      links:
                        self: 'http://api.trovster.com/books/9784529454865'
                        permalink: 'http://www.trovster.com/books/9784529454865/ratione-earum-quasi-quae-aspernatur'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2023-07-26T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 9
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 245
                          isbn:
                            type: string
                            example: '9784529454865'
                          title:
                            type: string
                            example: 'Quisquam voluptatum nam aut possimus.'
                          summary:
                            type: string
                            example: 'Doloremque veritatis nemo laudantium voluptatem repellat. Atque maiores rem est qui est autem. Sed sed nihil rem quas beatae omnis vel. Eius quos doloremque et in occaecati ut.'
                          pageCount:
                            type: integer
                            example: 2
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9784529454865'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9784529454865/ratione-earum-quasi-quae-aspernatur'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2019-06-01'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 1
                book_id:
                  type: integer
                  description: ''
                  example: 7
              required:
                - date
                - book_id
  /fitness:
    get:
      summary: 'List All Fitness Data'
      operationId: listAllFitnessData
      description: "This endpoint allows you to list all the fitness data.\nEach entry contains basic fitness information, such as date, summary, steps,\ndistance and flights.\nThere are objects for move, exercise and stand data. These include the total, goal,\npercent and whether the item was completed.\n<strong>The summary is a useful sentence describing the information.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 337
                      date: '1971-01-02T00:00:00+00:00'
                      summary: 'I took 7 steps, walked 0.00 miles and climbed 5 flights on 02/01/1971'
                      steps: 7
                      distance: 8
                      flights: 5
                      move:
                        total: 2
                        goal: 4
                        percent: 50
                        complete: false
                      exercise:
                        total: 9
                        goal: 8
                        percent: 113
                        complete: true
                      stand:
                        total: 1
                        goal: 3
                        percent: 33
                        complete: false
                      links:
                        self: 'http://api.trovster.com/fitness/1971-01-02'
                        permalink: 'http://www.trovster.com/activities/1971-01-02'
                    -
                      id: 338
                      date: '1998-07-24T00:00:00+00:00'
                      summary: 'I took 6 steps, walked 0.01 miles and climbed 6 flights on 24/07/1998'
                      steps: 6
                      distance: 9
                      flights: 6
                      move:
                        total: 4
                        goal: 6
                        percent: 67
                        complete: false
                      exercise:
                        total: 4
                        goal: 7
                        percent: 57
                        complete: false
                      stand:
                        total: 6
                        goal: 5
                        percent: 120
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/1998-07-24'
                        permalink: 'http://www.trovster.com/activities/1998-07-24'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 337
                        date: '1971-01-02T00:00:00+00:00'
                        summary: 'I took 7 steps, walked 0.00 miles and climbed 5 flights on 02/01/1971'
                        steps: 7
                        distance: 8
                        flights: 5
                        move:
                          total: 2
                          goal: 4
                          percent: 50
                          complete: false
                        exercise:
                          total: 9
                          goal: 8
                          percent: 113
                          complete: true
                        stand:
                          total: 1
                          goal: 3
                          percent: 33
                          complete: false
                        links:
                          self: 'http://api.trovster.com/fitness/1971-01-02'
                          permalink: 'http://www.trovster.com/activities/1971-01-02'
                      -
                        id: 338
                        date: '1998-07-24T00:00:00+00:00'
                        summary: 'I took 6 steps, walked 0.01 miles and climbed 6 flights on 24/07/1998'
                        steps: 6
                        distance: 9
                        flights: 6
                        move:
                          total: 4
                          goal: 6
                          percent: 67
                          complete: false
                        exercise:
                          total: 4
                          goal: 7
                          percent: 57
                          complete: false
                        stand:
                          total: 6
                          goal: 5
                          percent: 120
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/1998-07-24'
                          permalink: 'http://www.trovster.com/activities/1998-07-24'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 337
                        date:
                          type: string
                          example: '1971-01-02T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 7 steps, walked 0.00 miles and climbed 5 flights on 02/01/1971'
                        steps:
                          type: integer
                          example: 7
                        distance:
                          type: integer
                          example: 8
                        flights:
                          type: integer
                          example: 5
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 2
                            goal:
                              type: integer
                              example: 4
                            percent:
                              type: integer
                              example: 50
                            complete:
                              type: boolean
                              example: false
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 9
                            goal:
                              type: integer
                              example: 8
                            percent:
                              type: integer
                              example: 113
                            complete:
                              type: boolean
                              example: true
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 1
                            goal:
                              type: integer
                              example: 3
                            percent:
                              type: integer
                              example: 33
                            complete:
                              type: boolean
                              example: false
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/1971-01-02'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/1971-01-02'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
    post:
      summary: 'Store Fitness Data'
      operationId: storeFitnessData
      description: "This endpoint allows you to store fitness data.\nIt required a date and basic health data, such as active energy, step count,\ndistance and flights climbed. The total for movie, exercise and stand are also\nrequired."
      parameters: []
      responses: {  }
      tags:
        - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '1997-01-20'
                active_energy:
                  type: number
                  description: ''
                  example: 7600.0
                step_count:
                  type: number
                  description: ''
                  example: 7500.0
                distance:
                  type: number
                  description: ''
                  example: 5000.0
                flights_climbed:
                  type: number
                  description: ''
                  example: 10.0
                move_total:
                  type: number
                  description: ''
                  example: 650.0
                exercise_total:
                  type: number
                  description: ''
                  example: 30.0
                stand_total:
                  type: number
                  description: ''
                  example: 12.0
              required:
                - date
                - active_energy
                - step_count
                - distance
                - flights_climbed
                - move_total
                - exercise_total
                - stand_total
  '/fitness/{health_date}':
    get:
      summary: 'Get Fitness Data'
      operationId: getFitnessData
      description: "This endpoint allows you to get fitness data, based on the date.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 339
                    date: '1993-05-27T00:00:00+00:00'
                    summary: 'I took 8 steps, walked 0.01 miles and climbed 2 flights on 27/05/1993'
                    steps: 8
                    distance: 9
                    flights: 2
                    move:
                      total: 8
                      goal: 1
                      percent: 800
                      complete: true
                    exercise:
                      total: 1
                      goal: 5
                      percent: 20
                      complete: false
                    stand:
                      total: 8
                      goal: 9
                      percent: 89
                      complete: false
                    links:
                      self: 'http://api.trovster.com/fitness/1993-05-27'
                      permalink: 'http://www.trovster.com/activities/1993-05-27'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 339
                      date:
                        type: string
                        example: '1993-05-27T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 8 steps, walked 0.01 miles and climbed 2 flights on 27/05/1993'
                      steps:
                        type: integer
                        example: 8
                      distance:
                        type: integer
                        example: 9
                      flights:
                        type: integer
                        example: 2
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 8
                          goal:
                            type: integer
                            example: 1
                          percent:
                            type: integer
                            example: 800
                          complete:
                            type: boolean
                            example: true
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          goal:
                            type: integer
                            example: 5
                          percent:
                            type: integer
                            example: 20
                          complete:
                            type: boolean
                            example: false
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 8
                          goal:
                            type: integer
                            example: 9
                          percent:
                            type: integer
                            example: 89
                          complete:
                            type: boolean
                            example: false
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/1993-05-27'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/1993-05-27'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /links:
    get:
      summary: 'List All Links'
      operationId: listAllLinks
      description: "This endpoint allows you to list all links.\nEach entry contains basic link information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2030
                      title: 'Quia eum distinctio dolorem ipsam.'
                      date: '2015-02-18T16:26:34+00:00'
                      summary: 'Dolor sint similique expedita reprehenderit ratione omnis. Blanditiis est iure provident. Occaecati vel natus quas quia dolores esse. Quo quod impedit labore quod dicta hic repellat.'
                      url: 'http://www.cooper.info/dolorum-eos-ea-debitis-nostrum-et-vel-maiores'
                      links:
                        self: 'http://api.trovster.com/links/2030'
                        permalink: 'http://www.cooper.info/dolorum-eos-ea-debitis-nostrum-et-vel-maiores'
                    -
                      id: 2031
                      title: 'Sunt ex reiciendis quis officiis voluptatibus iusto hic.'
                      date: '2019-06-29T17:50:24+00:00'
                      summary: 'Doloremque dolorem animi qui odio delectus quia. Hic dolores quibusdam voluptatum. Aliquid et magni voluptas.'
                      url: 'http://bailey.com/delectus-et-amet-aut-dolorem-nihil'
                      links:
                        self: 'http://api.trovster.com/links/2031'
                        permalink: 'http://bailey.com/delectus-et-amet-aut-dolorem-nihil'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2030
                        title: 'Quia eum distinctio dolorem ipsam.'
                        date: '2015-02-18T16:26:34+00:00'
                        summary: 'Dolor sint similique expedita reprehenderit ratione omnis. Blanditiis est iure provident. Occaecati vel natus quas quia dolores esse. Quo quod impedit labore quod dicta hic repellat.'
                        url: 'http://www.cooper.info/dolorum-eos-ea-debitis-nostrum-et-vel-maiores'
                        links:
                          self: 'http://api.trovster.com/links/2030'
                          permalink: 'http://www.cooper.info/dolorum-eos-ea-debitis-nostrum-et-vel-maiores'
                      -
                        id: 2031
                        title: 'Sunt ex reiciendis quis officiis voluptatibus iusto hic.'
                        date: '2019-06-29T17:50:24+00:00'
                        summary: 'Doloremque dolorem animi qui odio delectus quia. Hic dolores quibusdam voluptatum. Aliquid et magni voluptas.'
                        url: 'http://bailey.com/delectus-et-amet-aut-dolorem-nihil'
                        links:
                          self: 'http://api.trovster.com/links/2031'
                          permalink: 'http://bailey.com/delectus-et-amet-aut-dolorem-nihil'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2030
                        title:
                          type: string
                          example: 'Quia eum distinctio dolorem ipsam.'
                        date:
                          type: string
                          example: '2015-02-18T16:26:34+00:00'
                        summary:
                          type: string
                          example: 'Dolor sint similique expedita reprehenderit ratione omnis. Blanditiis est iure provident. Occaecati vel natus quas quia dolores esse. Quo quod impedit labore quod dicta hic repellat.'
                        url:
                          type: string
                          example: 'http://www.cooper.info/dolorum-eos-ea-debitis-nostrum-et-vel-maiores'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/links/2030'
                            permalink:
                              type: string
                              example: 'http://www.cooper.info/dolorum-eos-ea-debitis-nostrum-et-vel-maiores'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save a Link'
      operationId: saveALink
      description: "This endpoint allows you to <strong>save a new link</strong>.\nThis requires the URL, a title, a description and a date."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2032
                    title: 'Voluptatibus omnis maxime et distinctio fugiat.'
                    date: '2015-07-23T06:33:31+00:00'
                    summary: 'Vero harum velit ipsa soluta velit voluptatem dolore ex. Labore necessitatibus esse deleniti voluptatibus culpa nisi sint. Doloribus quia ipsa saepe accusantium at harum in omnis.'
                    url: 'http://price.com/dolor-eius-eos-suscipit-sint'
                    html: "<p>Vero harum velit ipsa soluta velit voluptatem dolore ex. Labore necessitatibus esse deleniti voluptatibus culpa nisi sint. Doloribus quia ipsa saepe accusantium at harum in omnis.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/2032'
                      permalink: 'http://price.com/dolor-eius-eos-suscipit-sint'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2032
                      title:
                        type: string
                        example: 'Voluptatibus omnis maxime et distinctio fugiat.'
                      date:
                        type: string
                        example: '2015-07-23T06:33:31+00:00'
                      summary:
                        type: string
                        example: 'Vero harum velit ipsa soluta velit voluptatem dolore ex. Labore necessitatibus esse deleniti voluptatibus culpa nisi sint. Doloribus quia ipsa saepe accusantium at harum in omnis.'
                      url:
                        type: string
                        example: 'http://price.com/dolor-eius-eos-suscipit-sint'
                      html:
                        type: string
                        example: "<p>Vero harum velit ipsa soluta velit voluptatem dolore ex. Labore necessitatibus esse deleniti voluptatibus culpa nisi sint. Doloribus quia ipsa saepe accusantium at harum in omnis.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/2032'
                          permalink:
                            type: string
                            example: 'http://price.com/dolor-eius-eos-suscipit-sint'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-04-25T13:39:51'
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://runte.com/rerum-esse-quia-necessitatibus-aut-et-itaque'
              required:
                - date
                - url
                - title
                - description
  '/links/{id}':
    get:
      summary: 'Get a Link'
      operationId: getALink
      description: "This endpoint allows you to get a specific link, based on the ID.\nThe entry contains the full link information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2033
                    title: 'Amet minus cum excepturi ipsum autem.'
                    date: '2023-08-02T04:41:33+00:00'
                    summary: 'Veniam in quasi error molestias. Pariatur eligendi est ut ex est aut illum. Natus laboriosam eligendi quae asperiores eius eligendi rerum.'
                    url: 'http://powell.com/'
                    html: "<p>Veniam in quasi error molestias. Pariatur eligendi est ut ex est aut illum. Natus laboriosam eligendi quae asperiores eius eligendi rerum.</p>\n"
                    links:
                      self: 'http://api.trovster.com/links/2033'
                      permalink: 'http://powell.com/'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2033
                      title:
                        type: string
                        example: 'Amet minus cum excepturi ipsum autem.'
                      date:
                        type: string
                        example: '2023-08-02T04:41:33+00:00'
                      summary:
                        type: string
                        example: 'Veniam in quasi error molestias. Pariatur eligendi est ut ex est aut illum. Natus laboriosam eligendi quae asperiores eius eligendi rerum.'
                      url:
                        type: string
                        example: 'http://powell.com/'
                      html:
                        type: string
                        example: "<p>Veniam in quasi error molestias. Pariatur eligendi est ut ex est aut illum. Natus laboriosam eligendi quae asperiores eius eligendi rerum.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/links/2033'
                          permalink:
                            type: string
                            example: 'http://powell.com/'
      tags:
        - 'Links & Articles'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the link.'
        example: 1
        required: true
        schema:
          type: integer
  /articles:
    get:
      summary: 'List All Articles'
      operationId: listAllArticles
      description: "This endpoint allows you to list all articles.\nEach entry contains basic article information, such as title, date, and summary.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2034
                      title: 'At tempora aut iusto vitae.'
                      date: '2023-05-21T15:22:49+00:00'
                      summary: 'Deserunt dolor eaque quis nemo natus quae. Illo fuga porro eum illo ad soluta et. Et ea quae quia nam. Esse porro sit quia deleniti natus magni hic.'
                      url: 'https://martin.com/voluptatem-quasi-laboriosam-earum-vel-ea.html'
                      links:
                        self: 'http://api.trovster.com/articles/2034'
                        permalink: 'https://martin.com/voluptatem-quasi-laboriosam-earum-vel-ea.html'
                    -
                      id: 2035
                      title: 'Dolor exercitationem et vel nesciunt.'
                      date: '2015-09-01T10:40:11+00:00'
                      summary: 'Quod cum eveniet quo sit blanditiis. Dolores quia et vero veritatis debitis in vero. Facere eligendi quasi maxime asperiores. Aliquam ipsa incidunt consequatur quisquam sunt neque enim.'
                      url: 'https://www.bell.com/maiores-necessitatibus-consectetur-corporis-a-enim-eius-et'
                      links:
                        self: 'http://api.trovster.com/articles/2035'
                        permalink: 'https://www.bell.com/maiores-necessitatibus-consectetur-corporis-a-enim-eius-et'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2034
                        title: 'At tempora aut iusto vitae.'
                        date: '2023-05-21T15:22:49+00:00'
                        summary: 'Deserunt dolor eaque quis nemo natus quae. Illo fuga porro eum illo ad soluta et. Et ea quae quia nam. Esse porro sit quia deleniti natus magni hic.'
                        url: 'https://martin.com/voluptatem-quasi-laboriosam-earum-vel-ea.html'
                        links:
                          self: 'http://api.trovster.com/articles/2034'
                          permalink: 'https://martin.com/voluptatem-quasi-laboriosam-earum-vel-ea.html'
                      -
                        id: 2035
                        title: 'Dolor exercitationem et vel nesciunt.'
                        date: '2015-09-01T10:40:11+00:00'
                        summary: 'Quod cum eveniet quo sit blanditiis. Dolores quia et vero veritatis debitis in vero. Facere eligendi quasi maxime asperiores. Aliquam ipsa incidunt consequatur quisquam sunt neque enim.'
                        url: 'https://www.bell.com/maiores-necessitatibus-consectetur-corporis-a-enim-eius-et'
                        links:
                          self: 'http://api.trovster.com/articles/2035'
                          permalink: 'https://www.bell.com/maiores-necessitatibus-consectetur-corporis-a-enim-eius-et'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2034
                        title:
                          type: string
                          example: 'At tempora aut iusto vitae.'
                        date:
                          type: string
                          example: '2023-05-21T15:22:49+00:00'
                        summary:
                          type: string
                          example: 'Deserunt dolor eaque quis nemo natus quae. Illo fuga porro eum illo ad soluta et. Et ea quae quia nam. Esse porro sit quia deleniti natus magni hic.'
                        url:
                          type: string
                          example: 'https://martin.com/voluptatem-quasi-laboriosam-earum-vel-ea.html'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/articles/2034'
                            permalink:
                              type: string
                              example: 'https://martin.com/voluptatem-quasi-laboriosam-earum-vel-ea.html'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - 'Links & Articles'
    post:
      summary: 'Save an Article'
      operationId: saveAnArticle
      description: "This endpoint allows you to <strong>save a new article</strong>.\nThis requires the URL, a title, a description and a date.\n<aside>The description should be a <strong>quote</strong> from the article.</aside>"
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2036
                    title: 'Quaerat aspernatur quia iure alias et sed tempora.'
                    date: '2014-08-07T04:23:16+00:00'
                    summary: 'Hic nihil eveniet totam in eveniet. Est quae recusandae vero ullam repellat iure quasi. Adipisci voluptate ipsum voluptas. Similique atque dolorem est maiores aut illum.'
                    url: 'http://www.parker.net/'
                    html: "<p>Hic nihil eveniet totam in eveniet. Est quae recusandae vero ullam repellat iure quasi. Adipisci voluptate ipsum voluptas. Similique atque dolorem est maiores aut illum.</p>\n"
                    links:
                      self: 'http://api.trovster.com/articles/2036'
                      permalink: 'http://www.parker.net/'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2036
                      title:
                        type: string
                        example: 'Quaerat aspernatur quia iure alias et sed tempora.'
                      date:
                        type: string
                        example: '2014-08-07T04:23:16+00:00'
                      summary:
                        type: string
                        example: 'Hic nihil eveniet totam in eveniet. Est quae recusandae vero ullam repellat iure quasi. Adipisci voluptate ipsum voluptas. Similique atque dolorem est maiores aut illum.'
                      url:
                        type: string
                        example: 'http://www.parker.net/'
                      html:
                        type: string
                        example: "<p>Hic nihil eveniet totam in eveniet. Est quae recusandae vero ullam repellat iure quasi. Adipisci voluptate ipsum voluptas. Similique atque dolorem est maiores aut illum.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/articles/2036'
                          permalink:
                            type: string
                            example: 'http://www.parker.net/'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - 'Links & Articles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-04-25T13:39:52'
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://example.com'
                title:
                  type: string
                  description: ''
                  example: 'Example Domain'
                description:
                  type: string
                  description: 'Must be at least 10 characters.'
                  example: 'This domain is for use in illustrative examples in documents.'
                via:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://smitham.net/est-eius-officiis-consequatur-quam-in-et'
              required:
                - date
                - url
                - title
                - description
  '/articles/{id}':
    get:
      summary: 'Get an Article'
      operationId: getAnArticle
      description: "This endpoint allows you to get a specific article, based on the ID.\nThe entry contains the full article information, including the full html."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2037
                    title: 'Qui amet tempore quam et eos qui.'
                    date: '2024-01-25T20:35:55+00:00'
                    summary: 'Est facilis omnis consequuntur alias vel sed. Eum sed itaque asperiores reprehenderit sunt.'
                    url: 'http://mason.com/libero-quasi-facere-hic-vitae-consequatur-sint-quo-doloremque.html'
                    html: "<p>Est facilis omnis consequuntur alias vel sed. Eum sed itaque asperiores reprehenderit sunt.</p>\n"
                    links:
                      self: 'http://api.trovster.com/articles/2037'
                      permalink: 'http://mason.com/libero-quasi-facere-hic-vitae-consequatur-sint-quo-doloremque.html'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2037
                      title:
                        type: string
                        example: 'Qui amet tempore quam et eos qui.'
                      date:
                        type: string
                        example: '2024-01-25T20:35:55+00:00'
                      summary:
                        type: string
                        example: 'Est facilis omnis consequuntur alias vel sed. Eum sed itaque asperiores reprehenderit sunt.'
                      url:
                        type: string
                        example: 'http://mason.com/libero-quasi-facere-hic-vitae-consequatur-sint-quo-doloremque.html'
                      html:
                        type: string
                        example: "<p>Est facilis omnis consequuntur alias vel sed. Eum sed itaque asperiores reprehenderit sunt.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/articles/2037'
                          permalink:
                            type: string
                            example: 'http://mason.com/libero-quasi-facere-hic-vitae-consequatur-sint-quo-doloremque.html'
      tags:
        - 'Links & Articles'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the article.'
        example: 1
        required: true
        schema:
          type: integer
  /movies:
    get:
      summary: 'List All Movies'
      operationId: listAllMovies
      description: "This endpoint allows you to list all movies.\nEach entry contains basic movie information, such as title, summary, tagline,\nyear released and runtime.\nThere are also links to external services.\nThe rating and watched count is also included.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 3946
                      title: 'aliquid sint repellat'
                      summary: 'Ea illo voluptatum beatae est magnam. Error quos ipsam excepturi voluptates sunt. Asperiores sint eveniet deleniti at quae. Quia libero libero libero debitis.'
                      tagline: 'Doloremque enim vitae a commodi a rerum in.'
                      year: 2011
                      runtime: 59
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'http://api.trovster.com/movies/3946'
                        permalink: 'http://www.trovster.com/movies/id:3946/aliquid-sint-repellat'
[...]
