openapi: 3.0.3
info:
  title: 'API Documentation'
  description: 'This documentation aims to provide all the information you need to work with the API and data for trovster.com.'
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: 'This endpoint lists provides links to the main available endpoints.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    photos: 'http://api.trovster.com/photos'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: 'List All Activities'
      operationId: listAllActivities
      description: "This endpoint allows you to list all activities.\nEach entry contains basic activity information, such as title, date, summary, speed,\ndistance, moving time and type.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2746
                      title: 'quod minima hic'
                      date: '2019-07-22T17:25:54+00:00'
                      summary: 'Cycled for 4 seconds on 22nd July 2019.'
                      speed: 13.1532072
                      distance: 0.002485484768
                      timeMoving: 0.066666666666667
                      type: 'E-Bike Ride'
                      links:
                        self: 'http://api.trovster.com/activities/4203830'
                        permalink: 'http://www.trovster.com/activities/4203830'
                    -
                      id: 2747
                      title: 'repellendus libero ipsa'
                      date: '2021-03-10T06:17:28+00:00'
                      summary: 'Cycled for 5 seconds on 10th March 2021.'
                      speed: 39.8846402
                      distance: 0.001864113576
                      timeMoving: 0.083333333333333
                      type: 'E-Bike Ride'
                      links:
                        self: 'http://api.trovster.com/activities/2987'
                        permalink: 'http://www.trovster.com/activities/2987'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2746
                        title: 'quod minima hic'
                        date: '2019-07-22T17:25:54+00:00'
                        summary: 'Cycled for 4 seconds on 22nd July 2019.'
                        speed: 13.1532072
                        distance: 0.002485484768
                        timeMoving: 0.066666666666667
                        type: 'E-Bike Ride'
                        links:
                          self: 'http://api.trovster.com/activities/4203830'
                          permalink: 'http://www.trovster.com/activities/4203830'
                      -
                        id: 2747
                        title: 'repellendus libero ipsa'
                        date: '2021-03-10T06:17:28+00:00'
                        summary: 'Cycled for 5 seconds on 10th March 2021.'
                        speed: 39.8846402
                        distance: 0.001864113576
                        timeMoving: 0.083333333333333
                        type: 'E-Bike Ride'
                        links:
                          self: 'http://api.trovster.com/activities/2987'
                          permalink: 'http://www.trovster.com/activities/2987'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2746
                        title:
                          type: string
                          example: 'quod minima hic'
                        date:
                          type: string
                          example: '2019-07-22T17:25:54+00:00'
                        summary:
                          type: string
                          example: 'Cycled for 4 seconds on 22nd July 2019.'
                        speed:
                          type: number
                          example: 13.1532072
                        distance:
                          type: number
                          example: 0.002485484768
                        timeMoving:
                          type: number
                          example: 0.066666666666667
                        type:
                          type: string
                          example: 'E-Bike Ride'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/4203830'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/4203830'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: 'Get an Activity'
      operationId: getAnActivity
      description: "This endpoint allows you to get a specific activity, based on the Strava ID.\nThe entry contains the same information provided in the listing, but also includes\nany extra text and the polyline representation. The type is an object which includes\nthe ID as well as the type name.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The polyline can be used with mapping software to show the route.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2748
                    title: 'unde perspiciatis laboriosam'
                    date: '2020-04-07T00:52:07+00:00'
                    summary: 'Cycled for 9 seconds on 7th April 2020.'
                    speed: 73.9084976
                    distance: 0.001242742384
                    timeMoving: 0.15
                    html: "<p>Illum quasi eius reprehenderit velit debitis quia. Enim numquam sint sed. Aspernatur alias rerum quis eos explicabo eligendi. Fugiat esse vel voluptatum facilis voluptas illo aut.</p>\n"
                    polyline: ''
                    type:
                      id: 76
                      name: 'E-Bike Ride'
                    links:
                      self: 'http://api.trovster.com/activities/57649379'
                      permalink: 'http://www.trovster.com/activities/57649379'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2748
                      title:
                        type: string
                        example: 'unde perspiciatis laboriosam'
                      date:
                        type: string
                        example: '2020-04-07T00:52:07+00:00'
                      summary:
                        type: string
                        example: 'Cycled for 9 seconds on 7th April 2020.'
                      speed:
                        type: number
                        example: 73.9084976
                      distance:
                        type: number
                        example: 0.001242742384
                      timeMoving:
                        type: number
                        example: 0.15
                      html:
                        type: string
                        example: "<p>Illum quasi eius reprehenderit velit debitis quia. Enim numquam sint sed. Aspernatur alias rerum quis eos explicabo eligendi. Fugiat esse vel voluptatum facilis voluptas illo aut.</p>\n"
                      polyline:
                        type: string
                        example: ''
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 76
                          name:
                            type: string
                            example: 'E-Bike Ride'
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/57649379'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/57649379'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: 'List All Avatars'
      operationId: listAllAvatars
      description: "This endpoint allows you to list all avatars.\nEach entry contains basic avatar information, such as the alt (name), URL and size.\nIt also notes which is the \"current\" avatar.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: in-amet-maiores-qui-dignissimos
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/in-amet-maiores-qui-dignissimos'
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: quisquam-sit-cupiditate-numquam-sint-consequatur
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/quisquam-sit-cupiditate-numquam-sint-consequatur'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: in-amet-maiores-qui-dignissimos
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/in-amet-maiores-qui-dignissimos'
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: quisquam-sit-cupiditate-numquam-sint-consequatur
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/quisquam-sit-cupiditate-numquam-sint-consequatur'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 15
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 2120
                        slug:
                          type: string
                          example: in-amet-maiores-qui-dignissimos
                        url:
                          type: string
                          example: /storage/example.jpg
                        alt:
                          type: string
                          example: Blended
                        height:
                          type: integer
                          example: 73
                        width:
                          type: integer
                          example: 73
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/avatars/in-amet-maiores-qui-dignissimos'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: 'Get an Avatar'
      operationId: getAnAvatar
      description: "This endpoint allows you to get a specific avatar, based on the slug.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 15
                    current: true
                    size: 2120
                    slug: veritatis-inventore-fugit-sint
                    url: /storage/example.jpg
                    alt: Blended
                    height: 73
                    width: 73
                    links:
                      self: 'http://api.trovster.com/avatars/veritatis-inventore-fugit-sint'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 15
                      current:
                        type: boolean
                        example: true
                      size:
                        type: integer
                        example: 2120
                      slug:
                        type: string
                        example: veritatis-inventore-fugit-sint
                      url:
                        type: string
                        example: /storage/example.jpg
                      alt:
                        type: string
                        example: Blended
                      height:
                        type: integer
                        example: 73
                      width:
                        type: integer
                        example: 73
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/avatars/veritatis-inventore-fugit-sint'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: 'List All Blog Posts'
      operationId: listAllBlogPosts
      description: "This endpoint allows you to list all blog posts.\nEach entry contains basic post information, such as title, date, summary,\nword count and an array of categories.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 475
                      title: "Quod explicabo rerum aut repudiandae officia quia rerum voluptatum.\n"
                      date: '2024-02-08T21:19:26+00:00'
                      summary: 'Atque similique aut est et molestiae aut omnis. At est culpa nisi quia repellendus. Neque qui at dolorem magnam nihil occaecati distinctio. Ab explicabo et et autem. Voluptate ut voluptas mo…'
                      wordCount: 258
                      categories:
                        - quod
                      links:
                        self: 'http://api.trovster.com/blog/475'
                        permalink: 'http://www.trovster.com/blog/2024/02/quod-explicabo-rerum-aut-repudiandae-officia-quia-rerum-voluptatum'
                    -
                      id: 476
                      title: "Ratione dolor omnis et sed nobis.\n"
                      date: '2024-02-27T10:40:27+00:00'
                      summary: 'Perspiciatis suscipit esse explicabo illum sequi perspiciatis. Laudantium est sed illo iure ipsa maxime. Non voluptatem architecto ducimus aut dolores fugit. Quos ut voluptatibus officia mag…'
                      wordCount: 213
                      categories:
                        - est
                      links:
                        self: 'http://api.trovster.com/blog/476'
                        permalink: 'http://www.trovster.com/blog/2024/02/ratione-dolor-omnis-et-sed-nobis'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 475
                        title: "Quod explicabo rerum aut repudiandae officia quia rerum voluptatum.\n"
                        date: '2024-02-08T21:19:26+00:00'
                        summary: 'Atque similique aut est et molestiae aut omnis. At est culpa nisi quia repellendus. Neque qui at dolorem magnam nihil occaecati distinctio. Ab explicabo et et autem. Voluptate ut voluptas mo…'
                        wordCount: 258
                        categories:
                          - quod
                        links:
                          self: 'http://api.trovster.com/blog/475'
                          permalink: 'http://www.trovster.com/blog/2024/02/quod-explicabo-rerum-aut-repudiandae-officia-quia-rerum-voluptatum'
                      -
                        id: 476
                        title: "Ratione dolor omnis et sed nobis.\n"
                        date: '2024-02-27T10:40:27+00:00'
                        summary: 'Perspiciatis suscipit esse explicabo illum sequi perspiciatis. Laudantium est sed illo iure ipsa maxime. Non voluptatem architecto ducimus aut dolores fugit. Quos ut voluptatibus officia mag…'
                        wordCount: 213
                        categories:
                          - est
                        links:
                          self: 'http://api.trovster.com/blog/476'
                          permalink: 'http://www.trovster.com/blog/2024/02/ratione-dolor-omnis-et-sed-nobis'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 475
                        title:
                          type: string
                          example: "Quod explicabo rerum aut repudiandae officia quia rerum voluptatum.\n"
                        date:
                          type: string
                          example: '2024-02-08T21:19:26+00:00'
                        summary:
                          type: string
                          example: 'Atque similique aut est et molestiae aut omnis. At est culpa nisi quia repellendus. Neque qui at dolorem magnam nihil occaecati distinctio. Ab explicabo et et autem. Voluptate ut voluptas mo…'
                        wordCount:
                          type: integer
                          example: 258
                        categories:
                          type: array
                          example:
                            - quod
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/475'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2024/02/quod-explicabo-rerum-aut-repudiandae-officia-quia-rerum-voluptatum'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{ID}':
    get:
      summary: 'Get a Blog Post'
      operationId: getABlogPost
      description: "This endpoint allows you to get a specific blog post, based on the ID.\nThe entry contains the full blog post information, including the full html.\nThe category array contains objects of category ID and name."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 477
                    title: "Porro iusto et sed aut asperiores enim laudantium.\n"
                    date: '2024-02-19T01:52:46+00:00'
                    summary: 'Fugiat omnis quae quo nihil sint assumenda occaecati. Nihil molestiae culpa nemo et dignissimos illo. Tempora quos explicabo amet quod aut provident consequuntur ut. Odio error culpa rem id…'
                    wordCount: 193
                    html: "<p>Fugiat omnis quae quo nihil sint assumenda occaecati. Nihil molestiae culpa nemo et dignissimos illo. Tempora quos explicabo amet quod aut provident consequuntur ut.</p>\n<p>Odio error culpa rem id aliquam quia iste. Cum sit rem reiciendis rerum magnam officia a. Laudantium doloremque quia veritatis enim. Facere delectus quos id quo cupiditate quisquam delectus.</p>\n<p>Ut voluptate accusantium necessitatibus hic amet eaque. Neque consectetur aspernatur totam ut vel modi. Harum error autem cupiditate.</p>\n<p>Quia rerum explicabo facilis enim exercitationem. Est nisi autem non cum et. Perferendis repellendus unde et.</p>\n<p>Dolores unde et sapiente aut. Molestiae vitae officiis animi nemo inventore. Temporibus dolor consequuntur cum praesentium consequatur vitae blanditiis.</p>\n<p>Corrupti occaecati ut sequi maxime. Quisquam et id quod assumenda. Aut id rerum quaerat perferendis magni ut.</p>\n<p>Et eos officiis expedita qui dolorum. Tempora atque dolorem expedita vero cum. Quas consequatur et quidem eum. Nobis impedit iusto sed blanditiis.</p>\n<p>Doloremque dolorum consequatur quia aut quis. Sequi asperiores dolor est voluptatem.</p>\n<p>Voluptatem deleniti unde rerum accusantium ad. Officiis ducimus minus a in animi at. Vitae asperiores laboriosam sed enim tempora veritatis in.</p>\n<p>Dolor magni quo repellendus in illum. Corporis atque in fugit doloremque. Totam quasi necessitatibus quisquam voluptas.</p>\n"
                    categories:
                      -
                        id: 192
                        name: incidunt
                    links:
                      self: 'http://api.trovster.com/blog/477'
                      permalink: 'http://www.trovster.com/blog/2024/02/porro-iusto-et-sed-aut-asperiores-enim-laudantium'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 477
                      title:
                        type: string
                        example: "Porro iusto et sed aut asperiores enim laudantium.\n"
                      date:
                        type: string
                        example: '2024-02-19T01:52:46+00:00'
                      summary:
                        type: string
                        example: 'Fugiat omnis quae quo nihil sint assumenda occaecati. Nihil molestiae culpa nemo et dignissimos illo. Tempora quos explicabo amet quod aut provident consequuntur ut. Odio error culpa rem id…'
                      wordCount:
                        type: integer
                        example: 193
                      html:
                        type: string
                        example: "<p>Fugiat omnis quae quo nihil sint assumenda occaecati. Nihil molestiae culpa nemo et dignissimos illo. Tempora quos explicabo amet quod aut provident consequuntur ut.</p>\n<p>Odio error culpa rem id aliquam quia iste. Cum sit rem reiciendis rerum magnam officia a. Laudantium doloremque quia veritatis enim. Facere delectus quos id quo cupiditate quisquam delectus.</p>\n<p>Ut voluptate accusantium necessitatibus hic amet eaque. Neque consectetur aspernatur totam ut vel modi. Harum error autem cupiditate.</p>\n<p>Quia rerum explicabo facilis enim exercitationem. Est nisi autem non cum et. Perferendis repellendus unde et.</p>\n<p>Dolores unde et sapiente aut. Molestiae vitae officiis animi nemo inventore. Temporibus dolor consequuntur cum praesentium consequatur vitae blanditiis.</p>\n<p>Corrupti occaecati ut sequi maxime. Quisquam et id quod assumenda. Aut id rerum quaerat perferendis magni ut.</p>\n<p>Et eos officiis expedita qui dolorum. Tempora atque dolorem expedita vero cum. Quas consequatur et quidem eum. Nobis impedit iusto sed blanditiis.</p>\n<p>Doloremque dolorum consequatur quia aut quis. Sequi asperiores dolor est voluptatem.</p>\n<p>Voluptatem deleniti unde rerum accusantium ad. Officiis ducimus minus a in animi at. Vitae asperiores laboriosam sed enim tempora veritatis in.</p>\n<p>Dolor magni quo repellendus in illum. Corporis atque in fugit doloremque. Totam quasi necessitatibus quisquam voluptas.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 192
                            name: incidunt
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 192
                            name:
                              type: string
                              example: incidunt
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/477'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2024/02/porro-iusto-et-sed-aut-asperiores-enim-laudantium'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: 'List All Books'
      operationId: listAllBooks
      description: "This endpoint allows you to list all books.\nEach entry contains basic book information, such as title, ISBN, summary,\nand page count.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 154
                      isbn: '9787815636440'
                      title: 'Nihil qui adipisci et sed fugit omnis nostrum.'
                      summary: "Maxime rerum ex minima rerum nam. Atque laboriosam officia in pariatur. Perferendis autem voluptatem praesentium facere. Pariatur est dolores omnis natus.\n"
                      pageCount: 6
                      links:
                        self: 'http://api.trovster.com/books/9787815636440'
                        permalink: 'http://www.trovster.com/books/9787815636440/non-doloremque-et-fugit-aspernatur-maxime-eius'
                    -
                      id: 155
                      isbn: '9793638099188'
                      title: 'Et expedita ab omnis consequatur.'
                      summary: "Ullam qui libero explicabo commodi modi qui. Laudantium impedit officiis eius voluptas officiis. Deleniti est odit eos non culpa reiciendis.\n"
                      pageCount: 7
                      links:
                        self: 'http://api.trovster.com/books/9793638099188'
                        permalink: 'http://www.trovster.com/books/9793638099188/unde-cumque-recusandae-quis-sequi-neque'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 154
                        isbn: '9787815636440'
                        title: 'Nihil qui adipisci et sed fugit omnis nostrum.'
                        summary: "Maxime rerum ex minima rerum nam. Atque laboriosam officia in pariatur. Perferendis autem voluptatem praesentium facere. Pariatur est dolores omnis natus.\n"
                        pageCount: 6
                        links:
                          self: 'http://api.trovster.com/books/9787815636440'
                          permalink: 'http://www.trovster.com/books/9787815636440/non-doloremque-et-fugit-aspernatur-maxime-eius'
                      -
                        id: 155
                        isbn: '9793638099188'
                        title: 'Et expedita ab omnis consequatur.'
                        summary: "Ullam qui libero explicabo commodi modi qui. Laudantium impedit officiis eius voluptas officiis. Deleniti est odit eos non culpa reiciendis.\n"
                        pageCount: 7
                        links:
                          self: 'http://api.trovster.com/books/9793638099188'
                          permalink: 'http://www.trovster.com/books/9793638099188/unde-cumque-recusandae-quis-sequi-neque'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 154
                        isbn:
                          type: string
                          example: '9787815636440'
                        title:
                          type: string
                          example: 'Nihil qui adipisci et sed fugit omnis nostrum.'
                        summary:
                          type: string
                          example: "Maxime rerum ex minima rerum nam. Atque laboriosam officia in pariatur. Perferendis autem voluptatem praesentium facere. Pariatur est dolores omnis natus.\n"
                        pageCount:
                          type: integer
                          example: 6
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9787815636440'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9787815636440/non-doloremque-et-fugit-aspernatur-maxime-eius'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: 'Get a Book'
      operationId: getABook
      description: "This endpoint allows you to get a specific book, based on the ISBN.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 156
                    isbn: '9782767353162'
                    title: 'Eum repudiandae laborum dolorem perspiciatis.'
                    summary: "Id molestiae libero sint molestias officia neque. Omnis enim est laboriosam. Eos ut rerum magni laudantium.\n"
                    pageCount: 8
                    links:
                      self: 'http://api.trovster.com/books/9782767353162'
                      permalink: 'http://www.trovster.com/books/9782767353162/laboriosam-laboriosam-impedit-aut-ex-qui-dolorem-explicabo-reiciendis'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 156
                      isbn:
                        type: string
                        example: '9782767353162'
                      title:
                        type: string
                        example: 'Eum repudiandae laborum dolorem perspiciatis.'
                      summary:
                        type: string
                        example: "Id molestiae libero sint molestias officia neque. Omnis enim est laboriosam. Eos ut rerum magni laudantium.\n"
                      pageCount:
                        type: integer
                        example: 8
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9782767353162'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9782767353162/laboriosam-laboriosam-impedit-aut-ex-qui-dolorem-explicabo-reiciendis'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: 'Read a Book'
      operationId: readABook
      description: "This endpoint allows you to <strong>mark a book as read</strong>.\nThis requires the book ID and the date read.\nA rating between 1 and 10 is <em>optional</em>.\nThe book must exist in the system before being marked as read."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2015-03-23T00:00:00.000000Z'
                    rating: 8
                    book:
                      id: 153
                      isbn: '9791030049077'
                      title: 'In at corporis minima dolorem nobis tempora.'
                      summary: "Labore tempore officiis aut. Quis natus exercitationem consequuntur quasi accusamus sunt velit. Maxime odit et molestiae quasi est. Rerum et enim odit unde voluptate.\n"
                      pageCount: 6
                      links:
                        self: 'http://api.trovster.com/books/9791030049077'
                        permalink: 'http://www.trovster.com/books/9791030049077/officia-aut-sit-sed-magni-nostrum'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2015-03-23T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 8
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 153
                          isbn:
                            type: string
                            example: '9791030049077'
                          title:
                            type: string
                            example: 'In at corporis minima dolorem nobis tempora.'
                          summary:
                            type: string
                            example: "Labore tempore officiis aut. Quis natus exercitationem consequuntur quasi accusamus sunt velit. Maxime odit et molestiae quasi est. Rerum et enim odit unde voluptate.\n"
                          pageCount:
                            type: integer
                            example: 6
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9791030049077'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9791030049077/officia-aut-sit-sed-magni-nostrum'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '1995-03-27'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 3
                book_id:
                  type: integer
                  description: ''
                  example: 6
              required:
                - date
                - book_id
  /fitness:
    get:
      summary: 'List All Fitness Data'
      operationId: listAllFitnessData
      description: "This endpoint allows you to list all the fitness data.\nEach entry contains basic fitness information, such as date, summary, steps,\ndistance and flights.\nThere are objects for move, exercise and stand data. These include the total, goal,\npercent and whether the item was completed.\n<strong>The summary is a useful sentence describing the information.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 268
                      date: '2010-10-13T00:00:00+00:00'
                      summary: 'I took 3 steps, walked 0.00 miles and climbed 6 flights on 13/10/2010'
                      steps: 3
                      distance: 3
                      flights: 6
                      move:
                        total: 3
                        goal: 3
                        percent: 100
                        complete: true
                      exercise:
                        total: 2
                        goal: 9
                        percent: 22
                        complete: false
                      stand:
                        total: 4
                        goal: 2
                        percent: 200
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/2010-10-13'
                        permalink: 'http://www.trovster.com/activities/2010-10-13'
                    -
                      id: 269
                      date: '2011-08-24T00:00:00+00:00'
                      summary: 'I took 5 steps, walked 0.01 miles and climbed 4 flights on 24/08/2011'
                      steps: 5
                      distance: 9
                      flights: 4
                      move:
                        total: 7
                        goal: 6
                        percent: 117
                        complete: true
                      exercise:
                        total: 6
                        goal: 5
                        percent: 120
                        complete: true
                      stand:
                        total: 7
                        goal: 9
                        percent: 78
                        complete: false
                      links:
                        self: 'http://api.trovster.com/fitness/2011-08-24'
                        permalink: 'http://www.trovster.com/activities/2011-08-24'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 268
                        date: '2010-10-13T00:00:00+00:00'
                        summary: 'I took 3 steps, walked 0.00 miles and climbed 6 flights on 13/10/2010'
                        steps: 3
                        distance: 3
                        flights: 6
                        move:
                          total: 3
                          goal: 3
                          percent: 100
                          complete: true
                        exercise:
                          total: 2
                          goal: 9
                          percent: 22
                          complete: false
                        stand:
                          total: 4
                          goal: 2
                          percent: 200
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/2010-10-13'
                          permalink: 'http://www.trovster.com/activities/2010-10-13'
                      -
                        id: 269
                        date: '2011-08-24T00:00:00+00:00'
                        summary: 'I took 5 steps, walked 0.01 miles and climbed 4 flights on 24/08/2011'
                        steps: 5
                        distance: 9
                        flights: 4
                        move:
                          total: 7
                          goal: 6
                          percent: 117
                          complete: true
                        exercise:
                          total: 6
                          goal: 5
                          percent: 120
                          complete: true
                        stand:
                          total: 7
                          goal: 9
                          percent: 78
                          complete: false
                        links:
                          self: 'http://api.trovster.com/fitness/2011-08-24'
                          permalink: 'http://www.trovster.com/activities/2011-08-24'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 268
                        date:
                          type: string
                          example: '2010-10-13T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 3 steps, walked 0.00 miles and climbed 6 flights on 13/10/2010'
                        steps:
                          type: integer
                          example: 3
                        distance:
                          type: integer
                          example: 3
                        flights:
                          type: integer
                          example: 6
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 3
                            goal:
                              type: integer
                              example: 3
                            percent:
                              type: integer
                              example: 100
                            complete:
                              type: boolean
                              example: true
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 2
                            goal:
                              type: integer
                              example: 9
                            percent:
                              type: integer
                              example: 22
                            complete:
                              type: boolean
                              example: false
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 4
                            goal:
                              type: integer
                              example: 2
                            percent:
                              type: integer
                              example: 200
                            complete:
                              type: boolean
                              example: true
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/2010-10-13'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/2010-10-13'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
    post:
      summary: 'Store Fitness Data'
      operationId: storeFitnessData
      description: "This endpoint allows you to store fitness data.\nIt required a date and basic health data, such as active energy, step count,\ndistance and flights climbed. The total for movie, exercise and stand are also\nrequired."
      parameters: []
      responses: {  }
      tags:
        - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2012-10-26'
                active_energy:
                  type: number
                  description: ''
                  example: 7600.0
                step_count:
                  type: number
                  description: ''
                  example: 7500.0
                distance:
                  type: number
                  description: ''
                  example: 5000.0
                flights_climbed:
                  type: number
                  description: ''
                  example: 10.0
                move_total:
                  type: number
                  description: ''
                  example: 650.0
                exercise_total:
                  type: number
                  description: ''
                  example: 30.0
                stand_total:
                  type: number
                  description: ''
                  example: 12.0
              required:
                - date
                - active_energy
                - step_count
                - distance
                - flights_climbed
                - move_total
                - exercise_total
                - stand_total
  '/fitness/{health_date}':
    get:
      summary: 'Get Fitness Data'
      operationId: getFitnessData
      description: "This endpoint allows you to get fitness data, based on the date.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 270
                    date: '1984-05-11T00:00:00+00:00'
                    summary: 'I took 4 steps, walked 0.00 miles and climbed 9 flights on 11/05/1984'
                    steps: 4
                    distance: 7
                    flights: 9
                    move:
                      total: 8
                      goal: 6
                      percent: 133
                      complete: true
                    exercise:
                      total: 3
                      goal: 1
                      percent: 300
                      complete: true
                    stand:
                      total: 2
                      goal: 1
                      percent: 200
                      complete: true
                    links:
                      self: 'http://api.trovster.com/fitness/1984-05-11'
                      permalink: 'http://www.trovster.com/activities/1984-05-11'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 270
                      date:
                        type: string
                        example: '1984-05-11T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 4 steps, walked 0.00 miles and climbed 9 flights on 11/05/1984'
                      steps:
                        type: integer
                        example: 4
                      distance:
                        type: integer
                        example: 7
                      flights:
                        type: integer
                        example: 9
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 8
                          goal:
                            type: integer
                            example: 6
                          percent:
                            type: integer
                            example: 133
                          complete:
                            type: boolean
                            example: true
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 3
                          goal:
                            type: integer
                            example: 1
                          percent:
                            type: integer
                            example: 300
                          complete:
                            type: boolean
                            example: true
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          goal:
                            type: integer
                            example: 1
                          percent:
                            type: integer
                            example: 200
                          complete:
                            type: boolean
                            example: true
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/1984-05-11'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/1984-05-11'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /movies:
    get:
      summary: 'List All Movies'
      operationId: listAllMovies
      description: "This endpoint allows you to list all movies.\nEach entry contains basic movie information, such as title, summary, tagline,\nyear released and runtime.\nThere are also links to external services.\nThe rating and watched count is also included.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 3836
                      title: 'iure et nihil'
                      summary: 'Nobis et voluptate praesentium similique omnis voluptatem sed culpa. Explicabo nihil dolores reprehenderit officiis reiciendis. Officiis qui culpa soluta et repellendus maxime cumque ut. Veniam deserunt officia perferendis ut praesentium impedit pariatur. Animi reiciendis aut sint qui veniam enim. Voluptas maxime veniam dolorem soluta odit. Et rerum quos repellendus est saepe quia aut.'
                      tagline: 'Nobis enim vel quia illum nostrum.'
                      year: 1984
                      runtime: 194
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'http://api.trovster.com/movies/3836'
                        permalink: 'http://www.trovster.com/movies/id:3836/iure-et-nihil'
                        imdb: 'https://www.imdb.com/title/tt9823406'
                        tmdb: 'https://www.themoviedb.org/movie/7414'
                        letterboxd: 'https://boxd.it/9324'
                    -
                      id: 3837
                      title: 'sapiente error non'
                      summary: 'Nostrum molestiae perferendis illum provident expedita quod. Et consectetur natus inventore illum aut fugit numquam aut. Enim est voluptas qui. Provident tempora laborum recusandae. Voluptatem vero iusto tempore pariatur ea. Est architecto voluptatem fugiat accusantium maxime non consequatur sapiente. Nisi deserunt quod explicabo eius autem.'
                      tagline: 'Id omnis culpa aliquam nihil velit.'
                      year: 1994
                      runtime: 192
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'http://api.trovster.com/movies/3837'
                        permalink: 'http://www.trovster.com/movies/id:3837/sapiente-error-non'
                        imdb: 'https://www.imdb.com/title/tt4996478'
                        tmdb: 'https://www.themoviedb.org/movie/8675'
                        letterboxd: 'https://boxd.it/9004'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 3836
                        title: 'iure et nihil'
                        summary: 'Nobis et voluptate praesentium similique omnis voluptatem sed culpa. Explicabo nihil dolores reprehenderit officiis reiciendis. Officiis qui culpa soluta et repellendus maxime cumque ut. Veniam deserunt officia perferendis ut praesentium impedit pariatur. Animi reiciendis aut sint qui veniam enim. Voluptas maxime veniam dolorem soluta odit. Et rerum quos repellendus est saepe quia aut.'
                        tagline: 'Nobis enim vel quia illum nostrum.'
                        year: 1984
                        runtime: 194
                        rating: 0
                        count: 0
                        poster: null
                        still: null
                        links:
                          self: 'http://api.trovster.com/movies/3836'
                          permalink: 'http://www.trovster.com/movies/id:3836/iure-et-nihil'
                          imdb: 'https://www.imdb.com/title/tt9823406'
                          tmdb: 'https://www.themoviedb.org/movie/7414'
                          letterboxd: 'https://boxd.it/9324'
                      -
                        id: 3837
                        title: 'sapiente error non'
                        summary: 'Nostrum molestiae perferendis illum provident expedita quod. Et consectetur natus inventore illum aut fugit numquam aut. Enim est voluptas qui. Provident tempora laborum recusandae. Voluptatem vero iusto tempore pariatur ea. Est architecto voluptatem fugiat accusantium maxime non consequatur sapiente. Nisi deserunt quod explicabo eius autem.'
                        tagline: 'Id omnis culpa aliquam nihil velit.'
                        year: 1994
                        runtime: 192
                        rating: 0
                        count: 0
                        poster: null
                        still: null
                        links:
                          self: 'http://api.trovster.com/movies/3837'
                          permalink: 'http://www.trovster.com/movies/id:3837/sapiente-error-non'
                          imdb: 'https://www.imdb.com/title/tt4996478'
                          tmdb: 'https://www.themoviedb.org/movie/8675'
                          letterboxd: 'https://boxd.it/9004'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 3836
                        title:
                          type: string
                          example: 'iure et nihil'
                        summary:
                          type: string
                          example: 'Nobis et voluptate praesentium similique omnis voluptatem sed culpa. Explicabo nihil dolores reprehenderit officiis reiciendis. Officiis qui culpa soluta et repellendus maxime cumque ut. Veniam deserunt officia perferendis ut praesentium impedit pariatur. Animi reiciendis aut sint qui veniam enim. Voluptas maxime veniam dolorem soluta odit. Et rerum quos repellendus est saepe quia aut.'
                        tagline:
                          type: string
                          example: 'Nobis enim vel quia illum nostrum.'
                        year:
                          type: integer
                          example: 1984
                        runtime:
                          type: integer
                          example: 194
                        rating:
                          type: integer
                          example: 0
                        count:
                          type: integer
                          example: 0
                        poster:
                          type: string
                          example: null
                        still:
                          type: string
                          example: null
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/movies/3836'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/movies/id:3836/iure-et-nihil'
                            imdb:
                              type: string
                              example: 'https://www.imdb.com/title/tt9823406'
                            tmdb:
                              type: string
                              example: 'https://www.themoviedb.org/movie/7414'
                            letterboxd:
                              type: string
                              example: 'https://boxd.it/9324'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Movies
  '/movies/{ID}':
    get:
      summary: 'Get a Movie'
      operationId: getAMovie
      description: "This endpoint allows you to get a specific movie, based on the ID.\nThe entry contains the full movie information, including director(s), writer(s),\ngenre(s) and languages(s).\nThere are also links to external services.\nThe rating and watched count is also included."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3838
                    title: 'numquam optio tempore'
                    summary: 'Quam quam ut mollitia ducimus. Quibusdam cupiditate est consequatur sed soluta. Aut accusantium culpa consectetur eum. Explicabo ut delectus veritatis corrupti et aliquam. Aut quod adipisci sapiente odit. Repudiandae soluta saepe saepe fugiat veritatis.'
                    tagline: 'Molestiae qui quod maiores repellendus.'
                    year: 2008
                    runtime: 133
                    rating: 0
                    count: 0
                    poster: null
                    still: null
                    directors:
                      -
                        id: 5920
                        name: 'Paul Reynolds'
                    writers:
                      -
                        id: 5921
                        name: 'Dennis Holmes'
                    genres:
                      -
                        id: 112
                        name: hic
                    languages:
                      -
                        id: 159
                        name: culpa
                    links:
                      self: 'http://api.trovster.com/movies/3838'
                      permalink: 'http://www.trovster.com/movies/id:3838/numquam-optio-tempore'
                      imdb: 'https://www.imdb.com/title/tt8322023'
                      tmdb: 'https://www.themoviedb.org/movie/3982'
                      letterboxd: 'https://boxd.it/1293'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3838
                      title:
                        type: string
                        example: 'numquam optio tempore'
                      summary:
                        type: string
                        example: 'Quam quam ut mollitia ducimus. Quibusdam cupiditate est consequatur sed soluta. Aut accusantium culpa consectetur eum. Explicabo ut delectus veritatis corrupti et aliquam. Aut quod adipisci sapiente odit. Repudiandae soluta saepe saepe fugiat veritatis.'
                      tagline:
                        type: string
                        example: 'Molestiae qui quod maiores repellendus.'
                      year:
                        type: integer
                        example: 2008
                      runtime:
                        type: integer
                        example: 133
                      rating:
                        type: integer
                        example: 0
                      count:
                        type: integer
                        example: 0
                      poster:
                        type: string
                        example: null
                      still:
                        type: string
                        example: null
                      directors:
                        type: array
                        example:
                          -
                            id: 5920
                            name: 'Paul Reynolds'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 5920
                            name:
                              type: string
                              example: 'Paul Reynolds'
                      writers:
                        type: array
                        example:
                          -
                            id: 5921
                            name: 'Dennis Holmes'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 5921
                            name:
                              type: string
                              example: 'Dennis Holmes'
                      genres:
                        type: array
                        example:
                          -
                            id: 112
                            name: hic
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 112
                            name:
                              type: string
                              example: hic
                      languages:
                        type: array
                        example:
                          -
                            id: 159
                            name: culpa
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 159
                            name:
                              type: string
                              example: culpa
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/movies/3838'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/movies/id:3838/numquam-optio-tempore'
                          imdb:
                            type: string
                            example: 'https://www.imdb.com/title/tt8322023'
                          tmdb:
                            type: string
                            example: 'https://www.themoviedb.org/movie/3982'
                          letterboxd:
                            type: string
                            example: 'https://boxd.it/1293'
      tags:
        - Movies
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the movie.'
        example: 123
        required: true
        schema:
          type: integer
  /movies/watched:
    post:
      summary: 'Watch a Movie'
      operationId: watchAMovie
      description: "This endpoint allows you to <strong>mark a movie as watched</strong>.\nThis requires the IMDB ID, a rating between 1 and 10, the date watched and the\ntype (dvd, cinema, netflix, etc).\nIf the movie doesn't already exist, information is pulled from IMDB."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2024-04-10T12:39:04.000000Z'
                    rating: 9
                    type: Netflix
                    movie:
                      id: 3835
                      title: 'consequatur at accusantium'
                      summary: 'Corporis est facere illo dolores voluptatibus numquam quasi. Inventore rem veniam aliquam ducimus cumque. Temporibus alias aspernatur quia quam dolores impedit. Saepe quisquam voluptas atque aliquam voluptatem ex perferendis. Debitis sint fugiat debitis error omnis nihil doloribus blanditiis. Totam quas ut rerum aliquam nulla dolores. Aut ut non molestiae at.'
                      tagline: 'Iste reiciendis aut blanditiis quia dolores.'
                      year: 2006
                      runtime: 244
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'https://api.trovster.com/movies/3835'
                        permalink: 'https://www.trovster.com/movies/id:3835/consequatur-at-accusantium'
                        imdb: 'https://www.imdb.com/title/tt6338732'
                        tmdb: 'https://www.themoviedb.org/movie/6908'
                        letterboxd: 'https://boxd.it/9623'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2024-04-10T12:39:04.000000Z'
                      rating:
                        type: integer
                        example: 9
                      type:
                        type: string
                        example: Netflix
                      movie:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3835
                          title:
                            type: string
                            example: 'consequatur at accusantium'
                          summary:
                            type: string
                            example: 'Corporis est facere illo dolores voluptatibus numquam quasi. Inventore rem veniam aliquam ducimus cumque. Temporibus alias aspernatur quia quam dolores impedit. Saepe quisquam voluptas atque aliquam voluptatem ex perferendis. Debitis sint fugiat debitis error omnis nihil doloribus blanditiis. Totam quas ut rerum aliquam nulla dolores. Aut ut non molestiae at.'
                          tagline:
                            type: string
                            example: 'Iste reiciendis aut blanditiis quia dolores.'
                          year:
                            type: integer
                            example: 2006
                          runtime:
                            type: integer
                            example: 244
                          rating:
                            type: integer
                            example: 0
                          count:
                            type: integer
                            example: 0
                          poster:
                            type: string
                            example: null
                          still:
                            type: string
                            example: null
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'https://api.trovster.com/movies/3835'
                              permalink:
                                type: string
                                example: 'https://www.trovster.com/movies/id:3835/consequatur-at-accusantium'
                              imdb:
                                type: string
                                example: 'https://www.imdb.com/title/tt6338732'
                              tmdb:
                                type: string
                                example: 'https://www.themoviedb.org/movie/6908'
                              letterboxd:
                                type: string
                                example: 'https://boxd.it/9623'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Movies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2019-09-29'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 10
                type:
                  type: string
                  description: ''
                  example: vod
                  enum:
                    - dvd
                    - cinema
                    - netflix
                    - prime
                    - disney
                    - vod
                imdb_id:
                  type: string
                  description: 'Must start with one of <code>tt</code> Must be at least 6 characters. Must not be greater than 10 characters.'
                  example: tt0338013
              required:
                - date
                - rating
                - type
                - imdb_id
  /statistics:
    get:
      summary: 'Statistics Overview'
      operationId: statisticsOverview
      description: 'This endpoint shows the years which statistics are available for.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  links:
                    Y2020: 'https://api.trovster.com/statistics/2020'
                    Y2021: 'https://api.trovster.com/statistics/2021'
                    Y2022: 'https://api.trovster.com/statistics/2022'
                    Y2023: 'https://api.trovster.com/statistics/2023'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  links:
                    type: object
                    properties:
                      Y2020:
                        type: string
                        example: 'https://api.trovster.com/statistics/2020'
                      Y2021:
                        type: string
                        example: 'https://api.trovster.com/statistics/2021'
                      Y2022:
                        type: string
                        example: 'https://api.trovster.com/statistics/2022'
                      Y2023:
                        type: string
                        example: 'https://api.trovster.com/statistics/2023'
      tags:
        - Statistics
  '/statistics/{year}':
    get:
      summary: 'Yearly Statistics'
      operationId: yearlyStatistics
      description: "This endpoint shows statistics for a specific year.\nThe result is broken down into content areas; movies, activities,\nmusic, photos and blog. Each area includes a count and time where appropriate.\nMovies and photos show top items and music includes top artists and tracks.\nActivities include cycled and walked statistics and details information on the\nlongest activity in each.\n<aside class=\"notice\">View results at https://stats.trovster.com</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  movies:
                    count: 380
                    time: '668'
                    top:
                      -
                        id: 2865
                        title: ‘71
                        summary: 'In 1971, a young and disoriented British soldier is accidentally abandoned by his unit following a riot on the deadly streets of Belfast.'
                        tagline: 'Alone behind enemy lines.'
                        year: 2014
                        runtime: 99
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2865]_71.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2865]_71.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2865'
                          permalink: 'https://www.trovster.test/movies/id:2865/71'
                          imdb: 'https://www.imdb.com/title/tt2614684'
                          tmdb: 'https://www.themoviedb.org/movie/252178'
                          letterboxd: 'https://boxd.it/7nWK'
                      -
                        id: 2765
                        title: '3 Idiots'
                        summary: 'Two friends are searching for their long lost companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots".'
                        tagline: "Don't be Stupid. Be an I.D.I.O.T."
                        year: 2009
                        runtime: 170
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2765]_3-idiots.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2765]_3-idiots.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2765'
                          permalink: 'https://www.trovster.test/movies/id:2765/3-idiots'
                          imdb: 'https://www.imdb.com/title/tt1187043'
                          tmdb: 'https://www.themoviedb.org/movie/20453'
                          letterboxd: ''
                      -
                        id: 2827
                        title: 'A Quiet Place Part II'
                        summary: 'Following the events at home, the Abbott family now face the terrors of the outside world. Forced to venture into the unknown, they realize the creatures that hunt by sound are not the only threats lurking beyond the sand path.'
                        tagline: 'Silence is Not Enough'
                        year: 2020
                        runtime: 97
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2827]_a-quiet-place-part-ii.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2827]_a-quiet-place-part-ii.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2827'
                          permalink: 'https://www.trovster.test/movies/id:2827/a-quiet-place-part-ii'
                          imdb: 'https://www.imdb.com/title/tt8332922'
                          tmdb: 'https://www.themoviedb.org/movie/520763'
                          letterboxd: 'https://boxd.it/iTx0'
                      -
                        id: 2919
                        title: Calibre
                        summary: 'A shocking deed turned their weekend trip into a nightmare. Now their only hope is to swallow their paranoia and act normal.'
                        tagline: "You Can't Bury the Truth"
                        year: 2018
                        runtime: 101
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2919]_calibre.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2919]_calibre.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2919'
                          permalink: 'https://www.trovster.test/movies/id:2919/calibre'
                          imdb: 'https://www.imdb.com/title/tt6218358'
                          tmdb: 'https://www.themoviedb.org/movie/474051'
                          letterboxd: 'https://boxd.it/h0ru'
                      -
                        id: 2868
                        title: Dangal
                        summary: 'Former wrestler Mahavir Singh Phogat and his two wrestler daughters struggle towards glory at the Commonwealth Games in the face of societal oppression.'
                        tagline: 'You think our girls are any lesser than boys?'
                        year: 2016
                        runtime: 161
[...]
