openapi: 3.0.3
info:
  title: 'API Documentation'
  description: 'This documentation aims to provide all the information you need to work with the API and data for trovster.com.'
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: 'This endpoint lists provides links to the main available endpoints.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    photos: 'http://api.trovster.com/photos'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: 'List All Activities'
      operationId: listAllActivities
      description: "This endpoint allows you to list all activities.\nEach entry contains basic activity information, such as title, date, summary, speed,\ndistance, moving time and type.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 3196
                      title: 'aut aperiam accusamus'
                      date: '2023-09-27T20:40:28+00:00'
                      summary: 'Cycled for 8 seconds on 27th September 2023.'
                      speed: 17.9626282
                      distance: 0.001242742384
                      timeMoving: 0.13333333333333
                      type: 'E-Bike Ride'
                      links:
                        self: 'http://api.trovster.com/activities/364'
                        permalink: 'http://www.trovster.com/activities/364'
                    -
                      id: 3197
                      title: 'voluptatem magni est'
                      date: '2015-12-14T11:54:58+00:00'
                      summary: 'Cycled for 4 seconds on 14th December 2015.'
                      speed: 15.65858
                      distance: 0.001242742384
                      timeMoving: 0.066666666666667
                      type: Ride
                      links:
                        self: 'http://api.trovster.com/activities/7308'
                        permalink: 'http://www.trovster.com/activities/7308'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 3196
                        title: 'aut aperiam accusamus'
                        date: '2023-09-27T20:40:28+00:00'
                        summary: 'Cycled for 8 seconds on 27th September 2023.'
                        speed: 17.9626282
                        distance: 0.001242742384
                        timeMoving: 0.13333333333333
                        type: 'E-Bike Ride'
                        links:
                          self: 'http://api.trovster.com/activities/364'
                          permalink: 'http://www.trovster.com/activities/364'
                      -
                        id: 3197
                        title: 'voluptatem magni est'
                        date: '2015-12-14T11:54:58+00:00'
                        summary: 'Cycled for 4 seconds on 14th December 2015.'
                        speed: 15.65858
                        distance: 0.001242742384
                        timeMoving: 0.066666666666667
                        type: Ride
                        links:
                          self: 'http://api.trovster.com/activities/7308'
                          permalink: 'http://www.trovster.com/activities/7308'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 3196
                        title:
                          type: string
                          example: 'aut aperiam accusamus'
                        date:
                          type: string
                          example: '2023-09-27T20:40:28+00:00'
                        summary:
                          type: string
                          example: 'Cycled for 8 seconds on 27th September 2023.'
                        speed:
                          type: number
                          example: 17.9626282
                        distance:
                          type: number
                          example: 0.001242742384
                        timeMoving:
                          type: number
                          example: 0.13333333333333
                        type:
                          type: string
                          example: 'E-Bike Ride'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/364'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/364'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: 'Get an Activity'
      operationId: getAnActivity
      description: "This endpoint allows you to get a specific activity, based on the Strava ID.\nThe entry contains the same information provided in the listing, but also includes\nany extra text and the polyline representation. The type is an object which includes\nthe ID as well as the type name.\n<strong>The summary is a useful sentence describing the activity.</strong>\n<aside>The polyline can be used with mapping software to show the route.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3198
                    title: 'sit similique est'
                    date: '2017-08-11T07:27:04+00:00'
                    summary: 'Cycled for 4 seconds on 11th August 2017.'
                    speed: 30.9368802
                    distance: 0.000621371192
                    timeMoving: 0.066666666666667
                    html: "<p>Magnam in enim id veniam labore. Minima repellendus quo ut tempora iusto rerum dignissimos. Officia est nesciunt qui dolore pariatur in voluptates.</p>\n"
                    polyline: ''
                    type:
                      id: 604
                      name: 'E-Bike Ride'
                    links:
                      self: 'http://api.trovster.com/activities/239'
                      permalink: 'http://www.trovster.com/activities/239'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3198
                      title:
                        type: string
                        example: 'sit similique est'
                      date:
                        type: string
                        example: '2017-08-11T07:27:04+00:00'
                      summary:
                        type: string
                        example: 'Cycled for 4 seconds on 11th August 2017.'
                      speed:
                        type: number
                        example: 30.9368802
                      distance:
                        type: number
                        example: 0.000621371192
                      timeMoving:
                        type: number
                        example: 0.066666666666667
                      html:
                        type: string
                        example: "<p>Magnam in enim id veniam labore. Minima repellendus quo ut tempora iusto rerum dignissimos. Officia est nesciunt qui dolore pariatur in voluptates.</p>\n"
                      polyline:
                        type: string
                        example: ''
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 604
                          name:
                            type: string
                            example: 'E-Bike Ride'
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/239'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/239'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: 'List All Avatars'
      operationId: listAllAvatars
      description: "This endpoint allows you to list all avatars.\nEach entry contains basic avatar information, such as the alt (name), URL and size.\nIt also notes which is the \"current\" avatar.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: laudantium-sit-aut-laboriosam-nihil-ratione-est-sed
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/laudantium-sit-aut-laboriosam-nihil-ratione-est-sed'
                    -
                      version: 15
                      current: true
                      size: 2120
                      slug: et-quidem-aliquam-omnis-quia
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/et-quidem-aliquam-omnis-quia'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: laudantium-sit-aut-laboriosam-nihil-ratione-est-sed
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/laudantium-sit-aut-laboriosam-nihil-ratione-est-sed'
                      -
                        version: 15
                        current: true
                        size: 2120
                        slug: et-quidem-aliquam-omnis-quia
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/et-quidem-aliquam-omnis-quia'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 15
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 2120
                        slug:
                          type: string
                          example: laudantium-sit-aut-laboriosam-nihil-ratione-est-sed
                        url:
                          type: string
                          example: /storage/example.jpg
                        alt:
                          type: string
                          example: Blended
                        height:
                          type: integer
                          example: 73
                        width:
                          type: integer
                          example: 73
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/avatars/laudantium-sit-aut-laboriosam-nihil-ratione-est-sed'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: 'Get an Avatar'
      operationId: getAnAvatar
      description: "This endpoint allows you to get a specific avatar, based on the slug.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 15
                    current: true
                    size: 2120
                    slug: illum-maiores-sed-voluptas-numquam-ad
                    url: /storage/example.jpg
                    alt: Blended
                    height: 73
                    width: 73
                    links:
                      self: 'http://api.trovster.com/avatars/illum-maiores-sed-voluptas-numquam-ad'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 15
                      current:
                        type: boolean
                        example: true
                      size:
                        type: integer
                        example: 2120
                      slug:
                        type: string
                        example: illum-maiores-sed-voluptas-numquam-ad
                      url:
                        type: string
                        example: /storage/example.jpg
                      alt:
                        type: string
                        example: Blended
                      height:
                        type: integer
                        example: 73
                      width:
                        type: integer
                        example: 73
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/avatars/illum-maiores-sed-voluptas-numquam-ad'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: 'List All Blog Posts'
      operationId: listAllBlogPosts
      description: "This endpoint allows you to list all blog posts.\nEach entry contains basic post information, such as title, date, summary,\nword count and an array of categories.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 725
                      title: "Et doloremque qui et ipsum ea adipisci voluptas.\n"
                      date: '2024-01-14T06:22:46+00:00'
                      summary: 'Et esse sequi adipisci. Repudiandae enim architecto nesciunt expedita qui rerum. Labore est rerum impedit tempora minima recusandae. Consequatur itaque sint eaque sint consequatur praesentiu…'
                      wordCount: 223
                      categories:
                        - natus
                      links:
                        self: 'http://api.trovster.com/blog/725'
                        permalink: 'http://www.trovster.com/blog/2024/01/et-doloremque-qui-et-ipsum-ea-adipisci-voluptas'
                    -
                      id: 726
                      title: "Suscipit et quae aut beatae quia est sit.\n"
                      date: '2024-03-13T03:16:45+00:00'
                      summary: 'Est sed quis neque. Est repellendus nulla ut et nesciunt assumenda aut. Debitis omnis ab qui dicta architecto voluptatem. Est quas omnis ut officiis accusamus dignissimos facere. Aut delectu…'
                      wordCount: 220
                      categories:
                        - voluptas
                      links:
                        self: 'http://api.trovster.com/blog/726'
                        permalink: 'http://www.trovster.com/blog/2024/03/suscipit-et-quae-aut-beatae-quia-est-sit'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 725
                        title: "Et doloremque qui et ipsum ea adipisci voluptas.\n"
                        date: '2024-01-14T06:22:46+00:00'
                        summary: 'Et esse sequi adipisci. Repudiandae enim architecto nesciunt expedita qui rerum. Labore est rerum impedit tempora minima recusandae. Consequatur itaque sint eaque sint consequatur praesentiu…'
                        wordCount: 223
                        categories:
                          - natus
                        links:
                          self: 'http://api.trovster.com/blog/725'
                          permalink: 'http://www.trovster.com/blog/2024/01/et-doloremque-qui-et-ipsum-ea-adipisci-voluptas'
                      -
                        id: 726
                        title: "Suscipit et quae aut beatae quia est sit.\n"
                        date: '2024-03-13T03:16:45+00:00'
                        summary: 'Est sed quis neque. Est repellendus nulla ut et nesciunt assumenda aut. Debitis omnis ab qui dicta architecto voluptatem. Est quas omnis ut officiis accusamus dignissimos facere. Aut delectu…'
                        wordCount: 220
                        categories:
                          - voluptas
                        links:
                          self: 'http://api.trovster.com/blog/726'
                          permalink: 'http://www.trovster.com/blog/2024/03/suscipit-et-quae-aut-beatae-quia-est-sit'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 725
                        title:
                          type: string
                          example: "Et doloremque qui et ipsum ea adipisci voluptas.\n"
                        date:
                          type: string
                          example: '2024-01-14T06:22:46+00:00'
                        summary:
                          type: string
                          example: 'Et esse sequi adipisci. Repudiandae enim architecto nesciunt expedita qui rerum. Labore est rerum impedit tempora minima recusandae. Consequatur itaque sint eaque sint consequatur praesentiu…'
                        wordCount:
                          type: integer
                          example: 223
                        categories:
                          type: array
                          example:
                            - natus
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/725'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2024/01/et-doloremque-qui-et-ipsum-ea-adipisci-voluptas'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{ID}':
    get:
      summary: 'Get a Blog Post'
      operationId: getABlogPost
      description: "This endpoint allows you to get a specific blog post, based on the ID.\nThe entry contains the full blog post information, including the full html.\nThe category array contains objects of category ID and name."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 727
                    title: "Maiores ab asperiores architecto.\n"
                    date: '2024-03-25T08:42:26+00:00'
                    summary: 'Voluptatem quis voluptas facilis perspiciatis autem. Qui ab ut mollitia placeat iste sint. Rerum ratione autem dolor pariatur aliquam ipsam. Expedita voluptatibus est et ut et quas recusanda…'
                    wordCount: 226
                    html: "<p>Voluptatem quis voluptas facilis perspiciatis autem. Qui ab ut mollitia placeat iste sint.</p>\n<p>Rerum ratione autem dolor pariatur aliquam ipsam. Expedita voluptatibus est et ut et quas recusandae quia. Similique laudantium qui ab voluptatem. Dolores unde illum vel illum dolorum repellendus dolorum. Est dolorum molestiae exercitationem nisi tempore aut minus.</p>\n<p>Quia ullam corrupti vitae velit recusandae. Dolores cumque optio velit officiis. Beatae est et et illo et fuga quo. Aspernatur sed alias aut voluptatem optio.</p>\n<p>Nisi nesciunt consequatur repellat aliquid iste harum. Corrupti sit omnis accusantium dolor. Praesentium dolores voluptatibus ut et. Excepturi provident consectetur aut est illum.</p>\n<p>Voluptates dolores nihil voluptas sed. Cupiditate beatae minus aut. Incidunt eligendi eligendi libero totam.</p>\n<p>Qui vel amet suscipit dolorem voluptatibus suscipit. Tempora autem voluptatibus tenetur quas. Nisi minus facere quia et et consequatur consectetur.</p>\n<p>Natus alias eaque sapiente aut assumenda eaque. Voluptas ipsa velit quia eius incidunt. Voluptas velit expedita quis qui sint enim dolorem labore.</p>\n<p>Perspiciatis qui eum velit vel. Provident velit consequatur minus in id doloribus et harum. Architecto magnam at corrupti voluptates non deleniti. Aut et et tempora ut.</p>\n<p>Et culpa voluptatem assumenda voluptatem. Aut ullam eveniet nihil rerum. Quas ut qui voluptas exercitationem placeat molestiae.</p>\n<p>Esse aut eligendi consequatur voluptatem. Quos et totam ea officiis quo quia earum. Repellat aliquid voluptatum vel nihil doloremque occaecati. Esse incidunt sapiente voluptas ea suscipit ipsam iste excepturi.</p>\n"
                    categories:
                      -
                        id: 439
                        name: tenetur
                    links:
                      self: 'http://api.trovster.com/blog/727'
                      permalink: 'http://www.trovster.com/blog/2024/03/maiores-ab-asperiores-architecto'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 727
                      title:
                        type: string
                        example: "Maiores ab asperiores architecto.\n"
                      date:
                        type: string
                        example: '2024-03-25T08:42:26+00:00'
                      summary:
                        type: string
                        example: 'Voluptatem quis voluptas facilis perspiciatis autem. Qui ab ut mollitia placeat iste sint. Rerum ratione autem dolor pariatur aliquam ipsam. Expedita voluptatibus est et ut et quas recusanda…'
                      wordCount:
                        type: integer
                        example: 226
                      html:
                        type: string
                        example: "<p>Voluptatem quis voluptas facilis perspiciatis autem. Qui ab ut mollitia placeat iste sint.</p>\n<p>Rerum ratione autem dolor pariatur aliquam ipsam. Expedita voluptatibus est et ut et quas recusandae quia. Similique laudantium qui ab voluptatem. Dolores unde illum vel illum dolorum repellendus dolorum. Est dolorum molestiae exercitationem nisi tempore aut minus.</p>\n<p>Quia ullam corrupti vitae velit recusandae. Dolores cumque optio velit officiis. Beatae est et et illo et fuga quo. Aspernatur sed alias aut voluptatem optio.</p>\n<p>Nisi nesciunt consequatur repellat aliquid iste harum. Corrupti sit omnis accusantium dolor. Praesentium dolores voluptatibus ut et. Excepturi provident consectetur aut est illum.</p>\n<p>Voluptates dolores nihil voluptas sed. Cupiditate beatae minus aut. Incidunt eligendi eligendi libero totam.</p>\n<p>Qui vel amet suscipit dolorem voluptatibus suscipit. Tempora autem voluptatibus tenetur quas. Nisi minus facere quia et et consequatur consectetur.</p>\n<p>Natus alias eaque sapiente aut assumenda eaque. Voluptas ipsa velit quia eius incidunt. Voluptas velit expedita quis qui sint enim dolorem labore.</p>\n<p>Perspiciatis qui eum velit vel. Provident velit consequatur minus in id doloribus et harum. Architecto magnam at corrupti voluptates non deleniti. Aut et et tempora ut.</p>\n<p>Et culpa voluptatem assumenda voluptatem. Aut ullam eveniet nihil rerum. Quas ut qui voluptas exercitationem placeat molestiae.</p>\n<p>Esse aut eligendi consequatur voluptatem. Quos et totam ea officiis quo quia earum. Repellat aliquid voluptatum vel nihil doloremque occaecati. Esse incidunt sapiente voluptas ea suscipit ipsam iste excepturi.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 439
                            name: tenetur
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 439
                            name:
                              type: string
                              example: tenetur
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/727'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2024/03/maiores-ab-asperiores-architecto'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: 'List All Books'
      operationId: listAllBooks
      description: "This endpoint allows you to list all books.\nEach entry contains basic book information, such as title, ISBN, summary,\nand page count.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 822
                      isbn: '9782121068046'
                      title: 'Ad nostrum id possimus.'
                      summary: "Consequatur autem vel recusandae quis illo. Et tenetur alias atque maiores tenetur dignissimos. Repellendus asperiores sequi quam quia doloribus. Optio est velit fugit omnis harum.\n"
                      pageCount: 3
                      links:
                        self: 'http://api.trovster.com/books/9782121068046'
                        permalink: 'http://www.trovster.com/books/9782121068046/pariatur-quo-et-dolorem-odio-placeat'
                    -
                      id: 823
                      isbn: '9796645863834'
                      title: 'Consequatur ut minus sapiente delectus expedita.'
                      summary: "Numquam laborum qui soluta voluptatem maiores reprehenderit. Ea in quia et quam. Rerum fugit consequatur ad consequatur.\n"
                      pageCount: 1
                      links:
                        self: 'http://api.trovster.com/books/9796645863834'
                        permalink: 'http://www.trovster.com/books/9796645863834/vitae-distinctio-perferendis-aut'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 822
                        isbn: '9782121068046'
                        title: 'Ad nostrum id possimus.'
                        summary: "Consequatur autem vel recusandae quis illo. Et tenetur alias atque maiores tenetur dignissimos. Repellendus asperiores sequi quam quia doloribus. Optio est velit fugit omnis harum.\n"
                        pageCount: 3
                        links:
                          self: 'http://api.trovster.com/books/9782121068046'
                          permalink: 'http://www.trovster.com/books/9782121068046/pariatur-quo-et-dolorem-odio-placeat'
                      -
                        id: 823
                        isbn: '9796645863834'
                        title: 'Consequatur ut minus sapiente delectus expedita.'
                        summary: "Numquam laborum qui soluta voluptatem maiores reprehenderit. Ea in quia et quam. Rerum fugit consequatur ad consequatur.\n"
                        pageCount: 1
                        links:
                          self: 'http://api.trovster.com/books/9796645863834'
                          permalink: 'http://www.trovster.com/books/9796645863834/vitae-distinctio-perferendis-aut'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 822
                        isbn:
                          type: string
                          example: '9782121068046'
                        title:
                          type: string
                          example: 'Ad nostrum id possimus.'
                        summary:
                          type: string
                          example: "Consequatur autem vel recusandae quis illo. Et tenetur alias atque maiores tenetur dignissimos. Repellendus asperiores sequi quam quia doloribus. Optio est velit fugit omnis harum.\n"
                        pageCount:
                          type: integer
                          example: 3
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9782121068046'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9782121068046/pariatur-quo-et-dolorem-odio-placeat'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: 'Get a Book'
      operationId: getABook
      description: "This endpoint allows you to get a specific book, based on the ISBN.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 824
                    isbn: '9790958580259'
                    title: 'In dolorem dolorem consequatur autem fugit consequatur occaecati.'
                    summary: "Nemo nihil itaque dolorem molestiae fugiat aperiam. Esse et ea reiciendis optio odio sit. Et et eligendi dolor ea praesentium earum ratione eum.\n"
                    pageCount: 9
                    links:
                      self: 'http://api.trovster.com/books/9790958580259'
                      permalink: 'http://www.trovster.com/books/9790958580259/ex-sit-illum-in-voluptatem'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 824
                      isbn:
                        type: string
                        example: '9790958580259'
                      title:
                        type: string
                        example: 'In dolorem dolorem consequatur autem fugit consequatur occaecati.'
                      summary:
                        type: string
                        example: "Nemo nihil itaque dolorem molestiae fugiat aperiam. Esse et ea reiciendis optio odio sit. Et et eligendi dolor ea praesentium earum ratione eum.\n"
                      pageCount:
                        type: integer
                        example: 9
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9790958580259'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9790958580259/ex-sit-illum-in-voluptatem'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: 'Read a Book'
      operationId: readABook
      description: "This endpoint allows you to <strong>mark a book as read</strong>.\nThis requires the book ID and the date read.\nA rating between 1 and 10 is <em>optional</em>.\nThe book must exist in the system before being marked as read."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2020-02-29T00:00:00.000000Z'
                    rating: 7
                    book:
                      id: 821
                      isbn: '9789258935753'
                      title: 'Aliquid omnis omnis delectus maxime.'
                      summary: "Quaerat laboriosam porro consequuntur quis. Iure dolorem quasi nobis ipsam optio ad ut. Aspernatur ut ullam et exercitationem qui.\n"
                      pageCount: 2
                      links:
                        self: 'http://api.trovster.com/books/9789258935753'
                        permalink: 'http://www.trovster.com/books/9789258935753/ducimus-velit-est-aut-iste-aperiam-necessitatibus'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2020-02-29T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 7
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 821
                          isbn:
                            type: string
                            example: '9789258935753'
                          title:
                            type: string
                            example: 'Aliquid omnis omnis delectus maxime.'
                          summary:
                            type: string
                            example: "Quaerat laboriosam porro consequuntur quis. Iure dolorem quasi nobis ipsam optio ad ut. Aspernatur ut ullam et exercitationem qui.\n"
                          pageCount:
                            type: integer
                            example: 2
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9789258935753'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9789258935753/ducimus-velit-est-aut-iste-aperiam-necessitatibus'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2016-09-14'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 9
                book_id:
                  type: integer
                  description: ''
                  example: 12
              required:
                - date
                - book_id
  /fitness:
    get:
      summary: 'List All Fitness Data'
      operationId: listAllFitnessData
      description: "This endpoint allows you to list all the fitness data.\nEach entry contains basic fitness information, such as date, summary, steps,\ndistance and flights.\nThere are objects for move, exercise and stand data. These include the total, goal,\npercent and whether the item was completed.\n<strong>The summary is a useful sentence describing the information.</strong>\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 726
                      date: '2007-10-30T00:00:00+00:00'
                      summary: 'I took 3 steps, walked 0.00 miles and climbed 7 flights on 30/10/2007'
                      steps: 3
                      distance: 2
                      flights: 7
                      move:
                        total: 8
                        goal: 3
                        percent: 267
                        complete: true
                      exercise:
                        total: 3
                        goal: 2
                        percent: 150
                        complete: true
                      stand:
                        total: 6
                        goal: 8
                        percent: 75
                        complete: false
                      links:
                        self: 'http://api.trovster.com/fitness/2007-10-30'
                        permalink: 'http://www.trovster.com/activities/2007-10-30'
                    -
                      id: 727
                      date: '1975-03-18T00:00:00+00:00'
                      summary: 'I took 5 steps, walked 0.00 miles and climbed 5 flights on 18/03/1975'
                      steps: 5
                      distance: 2
                      flights: 5
                      move:
                        total: 5
                        goal: 7
                        percent: 71
                        complete: false
                      exercise:
                        total: 7
                        goal: 6
                        percent: 117
                        complete: true
                      stand:
                        total: 2
                        goal: 4
                        percent: 50
                        complete: false
                      links:
                        self: 'http://api.trovster.com/fitness/1975-03-18'
                        permalink: 'http://www.trovster.com/activities/1975-03-18'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 726
                        date: '2007-10-30T00:00:00+00:00'
                        summary: 'I took 3 steps, walked 0.00 miles and climbed 7 flights on 30/10/2007'
                        steps: 3
                        distance: 2
                        flights: 7
                        move:
                          total: 8
                          goal: 3
                          percent: 267
                          complete: true
                        exercise:
                          total: 3
                          goal: 2
                          percent: 150
                          complete: true
                        stand:
                          total: 6
                          goal: 8
                          percent: 75
                          complete: false
                        links:
                          self: 'http://api.trovster.com/fitness/2007-10-30'
                          permalink: 'http://www.trovster.com/activities/2007-10-30'
                      -
                        id: 727
                        date: '1975-03-18T00:00:00+00:00'
                        summary: 'I took 5 steps, walked 0.00 miles and climbed 5 flights on 18/03/1975'
                        steps: 5
                        distance: 2
                        flights: 5
                        move:
                          total: 5
                          goal: 7
                          percent: 71
                          complete: false
                        exercise:
                          total: 7
                          goal: 6
                          percent: 117
                          complete: true
                        stand:
                          total: 2
                          goal: 4
                          percent: 50
                          complete: false
                        links:
                          self: 'http://api.trovster.com/fitness/1975-03-18'
                          permalink: 'http://www.trovster.com/activities/1975-03-18'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 726
                        date:
                          type: string
                          example: '2007-10-30T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 3 steps, walked 0.00 miles and climbed 7 flights on 30/10/2007'
                        steps:
                          type: integer
                          example: 3
                        distance:
                          type: integer
                          example: 2
                        flights:
                          type: integer
                          example: 7
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 8
                            goal:
                              type: integer
                              example: 3
                            percent:
                              type: integer
                              example: 267
                            complete:
                              type: boolean
                              example: true
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 3
                            goal:
                              type: integer
                              example: 2
                            percent:
                              type: integer
                              example: 150
                            complete:
                              type: boolean
                              example: true
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 6
                            goal:
                              type: integer
                              example: 8
                            percent:
                              type: integer
                              example: 75
                            complete:
                              type: boolean
                              example: false
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/2007-10-30'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/2007-10-30'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
  '/fitness/{health_date}':
    get:
      summary: 'Get Fitness Data'
      operationId: getFitnessData
      description: "This endpoint allows you to get fitness data, based on the date.\nThe entry contains the same information provided in the listing."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 728
                    date: '1983-09-07T00:00:00+00:00'
                    summary: 'I took 3 steps, walked 0.01 miles and climbed 9 flights on 07/09/1983'
                    steps: 3
                    distance: 9
                    flights: 9
                    move:
                      total: 2
                      goal: 6
                      percent: 33
                      complete: false
                    exercise:
                      total: 6
                      goal: 3
                      percent: 200
                      complete: true
                    stand:
                      total: 1
                      goal: 4
                      percent: 25
                      complete: false
                    links:
                      self: 'http://api.trovster.com/fitness/1983-09-07'
                      permalink: 'http://www.trovster.com/activities/1983-09-07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 728
                      date:
                        type: string
                        example: '1983-09-07T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 3 steps, walked 0.01 miles and climbed 9 flights on 07/09/1983'
                      steps:
                        type: integer
                        example: 3
                      distance:
                        type: integer
                        example: 9
                      flights:
                        type: integer
                        example: 9
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          goal:
                            type: integer
                            example: 6
                          percent:
                            type: integer
                            example: 33
                          complete:
                            type: boolean
                            example: false
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 6
                          goal:
                            type: integer
                            example: 3
                          percent:
                            type: integer
                            example: 200
                          complete:
                            type: boolean
                            example: true
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          goal:
                            type: integer
                            example: 4
                          percent:
                            type: integer
                            example: 25
                          complete:
                            type: boolean
                            example: false
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/1983-09-07'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/1983-09-07'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /movies:
    get:
      summary: 'List All Movies'
      operationId: listAllMovies
      description: "This endpoint allows you to list all movies.\nEach entry contains basic movie information, such as title, summary, tagline,\nyear released and runtime.\nThere are also links to external services.\nThe rating and watched count is also included.\n<aside>The results are paginated.</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 4455
                      title: 'rerum eos est'
                      summary: 'Dignissimos enim molestiae voluptas ea reprehenderit inventore et. Ipsum iusto aut delectus fugit necessitatibus veniam nam. Tenetur est non necessitatibus amet ex vel. Molestiae animi omnis maxime libero. Sunt aliquid omnis ipsam voluptatum quo illo perspiciatis. Rerum corporis reiciendis culpa molestiae atque. Alias autem fugiat voluptatum a deleniti et.'
                      tagline: 'Illum eaque recusandae possimus rerum debitis esse.'
                      year: 1993
                      runtime: 184
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'http://api.trovster.com/movies/4455'
                        permalink: 'http://www.trovster.com/movies/id:4455/rerum-eos-est'
                        imdb: 'https://www.imdb.com/title/tt6313127'
                        tmdb: 'https://www.themoviedb.org/movie/3220'
                        letterboxd: 'https://boxd.it/4054'
                    -
                      id: 4456
                      title: 'rerum et expedita'
                      summary: 'Deserunt incidunt odit maxime consequatur consectetur necessitatibus. Officia iste aliquid eveniet nihil. Distinctio maxime rem accusantium nemo labore nulla. Reiciendis provident qui quos velit et repellendus numquam. Enim eius eum minus explicabo in a ut. Ducimus eos sunt molestiae mollitia.'
                      tagline: 'Corporis consequuntur neque voluptates eum aut tempore.'
                      year: 2014
                      runtime: 92
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'http://api.trovster.com/movies/4456'
                        permalink: 'http://www.trovster.com/movies/id:4456/rerum-et-expedita'
                        imdb: 'https://www.imdb.com/title/tt8623141'
                        tmdb: 'https://www.themoviedb.org/movie/4871'
                        letterboxd: 'https://boxd.it/9540'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 4455
                        title: 'rerum eos est'
                        summary: 'Dignissimos enim molestiae voluptas ea reprehenderit inventore et. Ipsum iusto aut delectus fugit necessitatibus veniam nam. Tenetur est non necessitatibus amet ex vel. Molestiae animi omnis maxime libero. Sunt aliquid omnis ipsam voluptatum quo illo perspiciatis. Rerum corporis reiciendis culpa molestiae atque. Alias autem fugiat voluptatum a deleniti et.'
                        tagline: 'Illum eaque recusandae possimus rerum debitis esse.'
                        year: 1993
                        runtime: 184
                        rating: 0
                        count: 0
                        poster: null
                        still: null
                        links:
                          self: 'http://api.trovster.com/movies/4455'
                          permalink: 'http://www.trovster.com/movies/id:4455/rerum-eos-est'
                          imdb: 'https://www.imdb.com/title/tt6313127'
                          tmdb: 'https://www.themoviedb.org/movie/3220'
                          letterboxd: 'https://boxd.it/4054'
                      -
                        id: 4456
                        title: 'rerum et expedita'
                        summary: 'Deserunt incidunt odit maxime consequatur consectetur necessitatibus. Officia iste aliquid eveniet nihil. Distinctio maxime rem accusantium nemo labore nulla. Reiciendis provident qui quos velit et repellendus numquam. Enim eius eum minus explicabo in a ut. Ducimus eos sunt molestiae mollitia.'
                        tagline: 'Corporis consequuntur neque voluptates eum aut tempore.'
                        year: 2014
                        runtime: 92
                        rating: 0
                        count: 0
                        poster: null
                        still: null
                        links:
                          self: 'http://api.trovster.com/movies/4456'
                          permalink: 'http://www.trovster.com/movies/id:4456/rerum-et-expedita'
                          imdb: 'https://www.imdb.com/title/tt8623141'
                          tmdb: 'https://www.themoviedb.org/movie/4871'
                          letterboxd: 'https://boxd.it/9540'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 4455
                        title:
                          type: string
                          example: 'rerum eos est'
                        summary:
                          type: string
                          example: 'Dignissimos enim molestiae voluptas ea reprehenderit inventore et. Ipsum iusto aut delectus fugit necessitatibus veniam nam. Tenetur est non necessitatibus amet ex vel. Molestiae animi omnis maxime libero. Sunt aliquid omnis ipsam voluptatum quo illo perspiciatis. Rerum corporis reiciendis culpa molestiae atque. Alias autem fugiat voluptatum a deleniti et.'
                        tagline:
                          type: string
                          example: 'Illum eaque recusandae possimus rerum debitis esse.'
                        year:
                          type: integer
                          example: 1993
                        runtime:
                          type: integer
                          example: 184
                        rating:
                          type: integer
                          example: 0
                        count:
                          type: integer
                          example: 0
                        poster:
                          type: string
                          example: null
                        still:
                          type: string
                          example: null
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/movies/4455'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/movies/id:4455/rerum-eos-est'
                            imdb:
                              type: string
                              example: 'https://www.imdb.com/title/tt6313127'
                            tmdb:
                              type: string
                              example: 'https://www.themoviedb.org/movie/3220'
                            letterboxd:
                              type: string
                              example: 'https://boxd.it/4054'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Movies
  '/movies/{ID}':
    get:
      summary: 'Get a Movie'
      operationId: getAMovie
      description: "This endpoint allows you to get a specific movie, based on the ID.\nThe entry contains the full movie information, including director(s), writer(s),\ngenre(s) and languages(s).\nThere are also links to external services.\nThe rating and watched count is also included."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 4457
                    title: 'deleniti in fugit'
                    summary: 'Amet dolores tenetur fugit est culpa natus expedita. Vero repellat explicabo velit exercitationem. Sapiente aut provident nemo illo voluptatem at. Est ipsum et est.'
                    tagline: 'Consequatur laboriosam totam possimus minima amet consequatur inventore.'
                    year: 2020
                    runtime: 68
                    rating: 0
                    count: 0
                    poster: null
                    still: null
                    directors:
                      -
                        id: 6192
                        name: 'Jasmine Stevens'
                    writers:
                      -
                        id: 6193
                        name: 'Dennis Parker'
                    genres:
                      -
                        id: 285
                        name: ut
                    languages:
                      -
                        id: 332
                        name: vitae
                    links:
                      self: 'http://api.trovster.com/movies/4457'
                      permalink: 'http://www.trovster.com/movies/id:4457/deleniti-in-fugit'
                      imdb: 'https://www.imdb.com/title/tt3065613'
                      tmdb: 'https://www.themoviedb.org/movie/1485'
                      letterboxd: 'https://boxd.it/8398'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 4457
                      title:
                        type: string
                        example: 'deleniti in fugit'
                      summary:
                        type: string
                        example: 'Amet dolores tenetur fugit est culpa natus expedita. Vero repellat explicabo velit exercitationem. Sapiente aut provident nemo illo voluptatem at. Est ipsum et est.'
                      tagline:
                        type: string
                        example: 'Consequatur laboriosam totam possimus minima amet consequatur inventore.'
                      year:
                        type: integer
                        example: 2020
                      runtime:
                        type: integer
                        example: 68
                      rating:
                        type: integer
                        example: 0
                      count:
                        type: integer
                        example: 0
                      poster:
                        type: string
                        example: null
                      still:
                        type: string
                        example: null
                      directors:
                        type: array
                        example:
                          -
                            id: 6192
                            name: 'Jasmine Stevens'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 6192
                            name:
                              type: string
                              example: 'Jasmine Stevens'
                      writers:
                        type: array
                        example:
                          -
                            id: 6193
                            name: 'Dennis Parker'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 6193
                            name:
                              type: string
                              example: 'Dennis Parker'
                      genres:
                        type: array
                        example:
                          -
                            id: 285
                            name: ut
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 285
                            name:
                              type: string
                              example: ut
                      languages:
                        type: array
                        example:
                          -
                            id: 332
                            name: vitae
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 332
                            name:
                              type: string
                              example: vitae
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/movies/4457'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/movies/id:4457/deleniti-in-fugit'
                          imdb:
                            type: string
                            example: 'https://www.imdb.com/title/tt3065613'
                          tmdb:
                            type: string
                            example: 'https://www.themoviedb.org/movie/1485'
                          letterboxd:
                            type: string
                            example: 'https://boxd.it/8398'
      tags:
        - Movies
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the movie.'
        example: 123
        required: true
        schema:
          type: integer
  /movies/watched:
    post:
      summary: 'Watch a Movie'
      operationId: watchAMovie
      description: "This endpoint allows you to <strong>mark a movie as watched</strong>.\nThis requires the IMDB ID, a rating between 1 and 10, the date watched and the\ntype (dvd, cinema, netflix, etc).\nIf the movie doesn't already exist, information is pulled from IMDB."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2024-04-02T16:22:44.000000Z'
                    rating: 6
                    type: Disney+
                    movie:
                      id: 4454
                      title: 'ad nostrum ipsa'
                      summary: 'Et vero dolorem excepturi ut nam velit atque et. Ut fugit culpa totam ab asperiores quas. Sunt aut ut officia quae quo sint autem expedita. Ad sequi iusto autem quibusdam. Cum eos itaque sequi pariatur in est omnis. Quo ducimus nemo amet. Eum quidem itaque corrupti aut eveniet natus.'
                      tagline: 'Enim voluptatem vitae ea.'
                      year: 2022
                      runtime: 88
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'https://api.trovster.com/movies/4454'
                        permalink: 'https://www.trovster.com/movies/id:4454/ad-nostrum-ipsa'
                        imdb: 'https://www.imdb.com/title/tt8466281'
                        tmdb: 'https://www.themoviedb.org/movie/2684'
                        letterboxd: 'https://boxd.it/3034'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2024-04-02T16:22:44.000000Z'
                      rating:
                        type: integer
                        example: 6
                      type:
                        type: string
                        example: Disney+
                      movie:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 4454
                          title:
                            type: string
                            example: 'ad nostrum ipsa'
                          summary:
                            type: string
                            example: 'Et vero dolorem excepturi ut nam velit atque et. Ut fugit culpa totam ab asperiores quas. Sunt aut ut officia quae quo sint autem expedita. Ad sequi iusto autem quibusdam. Cum eos itaque sequi pariatur in est omnis. Quo ducimus nemo amet. Eum quidem itaque corrupti aut eveniet natus.'
                          tagline:
                            type: string
                            example: 'Enim voluptatem vitae ea.'
                          year:
                            type: integer
                            example: 2022
                          runtime:
                            type: integer
                            example: 88
                          rating:
                            type: integer
                            example: 0
                          count:
                            type: integer
                            example: 0
                          poster:
                            type: string
                            example: null
                          still:
                            type: string
                            example: null
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'https://api.trovster.com/movies/4454'
                              permalink:
                                type: string
                                example: 'https://www.trovster.com/movies/id:4454/ad-nostrum-ipsa'
                              imdb:
                                type: string
                                example: 'https://www.imdb.com/title/tt8466281'
                              tmdb:
                                type: string
                                example: 'https://www.themoviedb.org/movie/2684'
                              letterboxd:
                                type: string
                                example: 'https://boxd.it/3034'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Movies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2019-03-17'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 4
                type:
                  type: string
                  description: ''
                  example: vod
                  enum:
                    - dvd
                    - cinema
                    - netflix
                    - prime
                    - disney
                    - vod
                imdb_id:
                  type: string
                  description: 'Must start with one of <code>tt</code> Must be at least 6 characters. Must not be greater than 10 characters.'
                  example: tt0338013
              required:
                - date
                - rating
                - type
                - imdb_id
  /statistics:
    get:
      summary: 'Statistics Overview'
      operationId: statisticsOverview
      description: 'This endpoint shows the years which statistics are available for.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  links:
                    Y2020: 'https://api.trovster.com/statistics/2020'
                    Y2021: 'https://api.trovster.com/statistics/2021'
                    Y2022: 'https://api.trovster.com/statistics/2022'
                    Y2023: 'https://api.trovster.com/statistics/2023'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  links:
                    type: object
                    properties:
                      Y2020:
                        type: string
                        example: 'https://api.trovster.com/statistics/2020'
                      Y2021:
                        type: string
                        example: 'https://api.trovster.com/statistics/2021'
                      Y2022:
                        type: string
                        example: 'https://api.trovster.com/statistics/2022'
                      Y2023:
                        type: string
                        example: 'https://api.trovster.com/statistics/2023'
      tags:
        - Statistics
  '/statistics/{year}':
    get:
      summary: 'Yearly Statistics'
      operationId: yearlyStatistics
      description: "This endpoint shows statistics for a specific year.\nThe result is broken down into content areas; movies, activities,\nmusic, photos and blog. Each area includes a count and time where appropriate.\nMovies and photos show top items and music includes top artists and tracks.\nActivities include cycled and walked statistics and details information on the\nlongest activity in each.\n<aside class=\"notice\">View results at https://stats.trovster.com</aside>"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  movies:
                    count: 380
                    time: '668'
                    top:
                      -
                        id: 2865
                        title: ‘71
                        summary: 'In 1971, a young and disoriented British soldier is accidentally abandoned by his unit following a riot on the deadly streets of Belfast.'
                        tagline: 'Alone behind enemy lines.'
                        year: 2014
                        runtime: 99
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2865]_71.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2865]_71.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2865'
                          permalink: 'https://www.trovster.test/movies/id:2865/71'
                          imdb: 'https://www.imdb.com/title/tt2614684'
                          tmdb: 'https://www.themoviedb.org/movie/252178'
                          letterboxd: 'https://boxd.it/7nWK'
                      -
                        id: 2765
                        title: '3 Idiots'
                        summary: 'Two friends are searching for their long lost companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots".'
                        tagline: "Don't be Stupid. Be an I.D.I.O.T."
                        year: 2009
                        runtime: 170
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2765]_3-idiots.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2765]_3-idiots.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2765'
                          permalink: 'https://www.trovster.test/movies/id:2765/3-idiots'
                          imdb: 'https://www.imdb.com/title/tt1187043'
                          tmdb: 'https://www.themoviedb.org/movie/20453'
                          letterboxd: ''
                      -
                        id: 2827
                        title: 'A Quiet Place Part II'
                        summary: 'Following the events at home, the Abbott family now face the terrors of the outside world. Forced to venture into the unknown, they realize the creatures that hunt by sound are not the only threats lurking beyond the sand path.'
                        tagline: 'Silence is Not Enough'
                        year: 2020
                        runtime: 97
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2827]_a-quiet-place-part-ii.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2827]_a-quiet-place-part-ii.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2827'
                          permalink: 'https://www.trovster.test/movies/id:2827/a-quiet-place-part-ii'
                          imdb: 'https://www.imdb.com/title/tt8332922'
                          tmdb: 'https://www.themoviedb.org/movie/520763'
                          letterboxd: 'https://boxd.it/iTx0'
                      -
                        id: 2919
                        title: Calibre
                        summary: 'A shocking deed turned their weekend trip into a nightmare. Now their only hope is to swallow their paranoia and act normal.'
                        tagline: "You Can't Bury the Truth"
                        year: 2018
                        runtime: 101
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2919]_calibre.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2919]_calibre.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2919'
                          permalink: 'https://www.trovster.test/movies/id:2919/calibre'
                          imdb: 'https://www.imdb.com/title/tt6218358'
                          tmdb: 'https://www.themoviedb.org/movie/474051'
                          letterboxd: 'https://boxd.it/h0ru'
                      -
                        id: 2868
                        title: Dangal
                        summary: 'Former wrestler Mahavir Singh Phogat and his two wrestler daughters struggle towards glory at the Commonwealth Games in the face of societal oppression.'
                        tagline: 'You think our girls are any lesser than boys?'
                        year: 2016
                        runtime: 161
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2868]_dangal.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2868]_dangal.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2868'
                          permalink: 'https://www.trovster.test/movies/id:2868/dangal'
                          imdb: 'https://www.imdb.com/title/tt5074352'
                          tmdb: 'https://www.themoviedb.org/movie/360814'
                          letterboxd: 'https://boxd.it/chfU'
                      -
                        id: 2952
                        title: Dune
                        summary: "Feature adaptation of Frank Herbert's science fiction novel, about the son of a noble family entrusted with the protection of the most valuable asset and most vital element in the galaxy."
                        tagline: 'Beyond fear, destiny awaits.'
                        year: 2021
                        runtime: 155
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2952]_dune.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2952]_dune.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2952'
                          permalink: 'https://www.trovster.test/movies/id:2952/dune'
                          imdb: 'https://www.imdb.com/title/tt1160419'
                          tmdb: 'https://www.themoviedb.org/movie/438631'
                          letterboxd: 'https://boxd.it/fA7G'
                      -
                        id: 2727
                        title: 'Happy Old Year'
[...]
