openapi: 3.0.3
info:
  title: 'API Documentation for trovster.com'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.trovster.com'
paths:
  /:
    get:
      summary: Overview
      operationId: overview
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  version: 1
                  links:
                    activities: 'http://api.trovster.com/activities'
                    avatars: 'http://api.trovster.com/avatars'
                    blog: 'http://api.trovster.com/blog'
                    books: 'http://api.trovster.com/books'
                    fitness: 'http://api.trovster.com/fitness'
                    movies: 'http://api.trovster.com/movies'
                    photos: 'http://api.trovster.com/photos'
                    statistics: 'http://api.trovster.com/statistics'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  version:
                    type: integer
                    example: 1
                  links:
                    type: object
                    properties:
                      activities:
                        type: string
                        example: 'http://api.trovster.com/activities'
                      avatars:
                        type: string
                        example: 'http://api.trovster.com/avatars'
                      blog:
                        type: string
                        example: 'http://api.trovster.com/blog'
                      books:
                        type: string
                        example: 'http://api.trovster.com/books'
                      fitness:
                        type: string
                        example: 'http://api.trovster.com/fitness'
                      movies:
                        type: string
                        example: 'http://api.trovster.com/movies'
                      photos:
                        type: string
                        example: 'http://api.trovster.com/photos'
                      statistics:
                        type: string
                        example: 'http://api.trovster.com/statistics'
      tags:
        - Intro
  /activities:
    get:
      summary: ''
      operationId: getActivities
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2908
                      title: 'magnam non repudiandae'
                      date: '2015-02-25T16:51:54+00:00'
                      summary: 'Cycled for 2 seconds on 25th February 2015.'
                      speed: 102.9216094
                      distance: 0.004349598344
                      timeMoving: 0.033333333333333
                      type: 'E-Bike Ride'
                      links:
                        self: 'http://api.trovster.com/activities/7'
                        permalink: 'http://www.trovster.com/activities/7'
                    -
                      id: 2909
                      title: 'fugit molestias earum'
                      date: '2021-03-21T14:27:31+00:00'
                      summary: 'Walked for 7 seconds on 21st March 2021.'
                      speed: 70.239916
                      distance: 0.000621371192
                      timeMoving: 0.11666666666667
                      type: Walk
                      links:
                        self: 'http://api.trovster.com/activities/74776'
                        permalink: 'http://www.trovster.com/activities/74776'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2908
                        title: 'magnam non repudiandae'
                        date: '2015-02-25T16:51:54+00:00'
                        summary: 'Cycled for 2 seconds on 25th February 2015.'
                        speed: 102.9216094
                        distance: 0.004349598344
                        timeMoving: 0.033333333333333
                        type: 'E-Bike Ride'
                        links:
                          self: 'http://api.trovster.com/activities/7'
                          permalink: 'http://www.trovster.com/activities/7'
                      -
                        id: 2909
                        title: 'fugit molestias earum'
                        date: '2021-03-21T14:27:31+00:00'
                        summary: 'Walked for 7 seconds on 21st March 2021.'
                        speed: 70.239916
                        distance: 0.000621371192
                        timeMoving: 0.11666666666667
                        type: Walk
                        links:
                          self: 'http://api.trovster.com/activities/74776'
                          permalink: 'http://www.trovster.com/activities/74776'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2908
                        title:
                          type: string
                          example: 'magnam non repudiandae'
                        date:
                          type: string
                          example: '2015-02-25T16:51:54+00:00'
                        summary:
                          type: string
                          example: 'Cycled for 2 seconds on 25th February 2015.'
                        speed:
                          type: number
                          example: 102.9216094
                        distance:
                          type: number
                          example: 0.004349598344
                        timeMoving:
                          type: number
                          example: 0.033333333333333
                        type:
                          type: string
                          example: 'E-Bike Ride'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/activities/7'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/7'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Activities
  '/activities/{strava_id}':
    get:
      summary: ''
      operationId: getActivitiesStrava_id
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2910
                    title: 'et veritatis consequatur'
                    date: '2015-08-09T07:36:55+00:00'
                    summary: 'Cycled for 1 second on 9th August 2015.'
                    speed: 91.938234
                    distance: 0.00310685596
                    timeMoving: 0.016666666666667
                    html: "<p>Sunt consequuntur deserunt culpa aliquam minus. Assumenda quia sit est amet iste dolorem quia pariatur.</p>\n"
                    polyline: ''
                    type:
                      id: 313
                      name: Ride
                    links:
                      self: 'http://api.trovster.com/activities/71828903'
                      permalink: 'http://www.trovster.com/activities/71828903'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2910
                      title:
                        type: string
                        example: 'et veritatis consequatur'
                      date:
                        type: string
                        example: '2015-08-09T07:36:55+00:00'
                      summary:
                        type: string
                        example: 'Cycled for 1 second on 9th August 2015.'
                      speed:
                        type: number
                        example: 91.938234
                      distance:
                        type: number
                        example: 0.00310685596
                      timeMoving:
                        type: number
                        example: 0.016666666666667
                      html:
                        type: string
                        example: "<p>Sunt consequuntur deserunt culpa aliquam minus. Assumenda quia sit est amet iste dolorem quia pariatur.</p>\n"
                      polyline:
                        type: string
                        example: ''
                      type:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 313
                          name:
                            type: string
                            example: Ride
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/activities/71828903'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/71828903'
      tags:
        - Activities
    parameters:
      -
        in: path
        name: strava_id
        description: 'The ID of the Strava activity.'
        example: 7487429528
        required: true
        schema:
          type: integer
  /avatars:
    get:
      summary: ''
      operationId: getAvatars
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      version: 15
                      current: true
                      size: 2120
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/nihil-incidunt-modi-molestiae-fugit'
                    -
                      version: 15
                      current: true
                      size: 2120
                      url: /storage/example.jpg
                      alt: Blended
                      height: 73
                      width: 73
                      links:
                        self: 'http://api.trovster.com/avatars/sint-voluptatem-et-reprehenderit-asperiores-omnis-natus-vel'
                properties:
                  data:
                    type: array
                    example:
                      -
                        version: 15
                        current: true
                        size: 2120
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/nihil-incidunt-modi-molestiae-fugit'
                      -
                        version: 15
                        current: true
                        size: 2120
                        url: /storage/example.jpg
                        alt: Blended
                        height: 73
                        width: 73
                        links:
                          self: 'http://api.trovster.com/avatars/sint-voluptatem-et-reprehenderit-asperiores-omnis-natus-vel'
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          example: 15
                        current:
                          type: boolean
                          example: true
                        size:
                          type: integer
                          example: 2120
                        url:
                          type: string
                          example: /storage/example.jpg
                        alt:
                          type: string
                          example: Blended
                        height:
                          type: integer
                          example: 73
                        width:
                          type: integer
                          example: 73
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/avatars/nihil-incidunt-modi-molestiae-fugit'
      tags:
        - Avatars
  '/avatars/{slug}':
    get:
      summary: ''
      operationId: getAvatarsSlug
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 15
                    current: true
                    size: 2120
                    url: /storage/example.jpg
                    alt: Blended
                    height: 73
                    width: 73
                    links:
                      self: 'http://api.trovster.com/avatars/alias-labore-asperiores-aut-id-illo-quis'
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                        example: 15
                      current:
                        type: boolean
                        example: true
                      size:
                        type: integer
                        example: 2120
                      url:
                        type: string
                        example: /storage/example.jpg
                      alt:
                        type: string
                        example: Blended
                      height:
                        type: integer
                        example: 73
                      width:
                        type: integer
                        example: 73
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/avatars/alias-labore-asperiores-aut-id-illo-quis'
      tags:
        - Avatars
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the avatar.'
        example: magical-trevor
        required: true
        schema:
          type: string
  /blog:
    get:
      summary: ''
      operationId: getBlog
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      title: "Easter Holidays\n"
                      date: '2004-03-23T22:40:48+00:00'
                      summary: 'Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get mo…'
                      wordCount: 147
                      categories:
                        - General
                      links:
                        self: 'http://api.trovster.com/blog/1'
                        permalink: 'http://www.trovster.com/blog/2004/03/easter-holidays'
                    -
                      id: 1
                      title: "Easter Holidays\n"
                      date: '2004-03-23T22:40:48+00:00'
                      summary: 'Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get mo…'
                      wordCount: 147
                      categories:
                        - General
                      links:
                        self: 'http://api.trovster.com/blog/1'
                        permalink: 'http://www.trovster.com/blog/2004/03/easter-holidays'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        title: "Easter Holidays\n"
                        date: '2004-03-23T22:40:48+00:00'
                        summary: 'Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get mo…'
                        wordCount: 147
                        categories:
                          - General
                        links:
                          self: 'http://api.trovster.com/blog/1'
                          permalink: 'http://www.trovster.com/blog/2004/03/easter-holidays'
                      -
                        id: 1
                        title: "Easter Holidays\n"
                        date: '2004-03-23T22:40:48+00:00'
                        summary: 'Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get mo…'
                        wordCount: 147
                        categories:
                          - General
                        links:
                          self: 'http://api.trovster.com/blog/1'
                          permalink: 'http://www.trovster.com/blog/2004/03/easter-holidays'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        title:
                          type: string
                          example: "Easter Holidays\n"
                        date:
                          type: string
                          example: '2004-03-23T22:40:48+00:00'
                        summary:
                          type: string
                          example: 'Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get mo…'
                        wordCount:
                          type: integer
                          example: 147
                        categories:
                          type: array
                          example:
                            - General
                          items:
                            type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/blog/1'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/blog/2004/03/easter-holidays'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Blog
  '/blog/{ID}':
    get:
      summary: ''
      operationId: getBlogID
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    title: "Easter Holidays\n"
                    date: '2004-03-23T22:40:48+00:00'
                    summary: 'Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get mo…'
                    wordCount: 147
                    html: "<p>Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get more professional with a lot more information and regular updates. This is my personal blog which will probably be full of random rants if I can remember to update it. You can also view what sites I have designed and coded in the past, with other information in my CV. Finally there is a section about CSS and HTML. It has a lot of good links to resources in relation to those topics. A blogger on there which I will try and update with information about HTML related topics including accessibility, IE hacks and other stuff like that! You can also post comments to this part of the site. Out.</p>\n"
                    categories:
                      -
                        id: 1
                        name: General
                    links:
                      self: 'http://api.trovster.com/blog/1'
                      permalink: 'http://www.trovster.com/blog/2004/03/easter-holidays'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      title:
                        type: string
                        example: "Easter Holidays\n"
                      date:
                        type: string
                        example: '2004-03-23T22:40:48+00:00'
                      summary:
                        type: string
                        example: 'Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get mo…'
                      wordCount:
                        type: integer
                        example: 147
                      html:
                        type: string
                        example: "<p>Well it is the Easter holidays once again and a nice four week break for university. I have started this break by doing a redesign of Trovster.com as you can probably see! I trying to get more professional with a lot more information and regular updates. This is my personal blog which will probably be full of random rants if I can remember to update it. You can also view what sites I have designed and coded in the past, with other information in my CV. Finally there is a section about CSS and HTML. It has a lot of good links to resources in relation to those topics. A blogger on there which I will try and update with information about HTML related topics including accessibility, IE hacks and other stuff like that! You can also post comments to this part of the site. Out.</p>\n"
                      categories:
                        type: array
                        example:
                          -
                            id: 1
                            name: General
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: General
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/blog/1'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/blog/2004/03/easter-holidays'
      tags:
        - Blog
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the blog post.'
        example: 1
        required: true
        schema:
          type: integer
  /books:
    get:
      summary: ''
      operationId: getBooks
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 437
                      isbn: '9780223190108'
                      title: 'Deleniti omnis voluptas quam id.'
                      summary: "Atque consequatur dolore quia omnis quod aspernatur porro omnis. Eaque optio similique ad eaque molestiae ut. Ut error ut eveniet eos sunt asperiores. Nisi nam ab qui expedita id facilis.\n"
                      pageCount: 5
                      links:
                        self: 'http://api.trovster.com/books/9780223190108'
                        permalink: 'http://www.trovster.com/books/9780223190108/ut-exercitationem-iusto-voluptas'
                    -
                      id: 438
                      isbn: '9791009307375'
                      title: 'Reprehenderit voluptatem quaerat qui quaerat sit fugiat.'
                      summary: "Voluptatem eum rerum consequuntur earum nesciunt quam. Deleniti tempora omnis quo aspernatur. Dolore sed facere quis omnis fugit. Expedita perferendis neque aspernatur officiis qui quis amet.\n"
                      pageCount: 4
                      links:
                        self: 'http://api.trovster.com/books/9791009307375'
                        permalink: 'http://www.trovster.com/books/9791009307375/cumque-voluptas-dolorem-dicta-est-quod-iusto-voluptas'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 437
                        isbn: '9780223190108'
                        title: 'Deleniti omnis voluptas quam id.'
                        summary: "Atque consequatur dolore quia omnis quod aspernatur porro omnis. Eaque optio similique ad eaque molestiae ut. Ut error ut eveniet eos sunt asperiores. Nisi nam ab qui expedita id facilis.\n"
                        pageCount: 5
                        links:
                          self: 'http://api.trovster.com/books/9780223190108'
                          permalink: 'http://www.trovster.com/books/9780223190108/ut-exercitationem-iusto-voluptas'
                      -
                        id: 438
                        isbn: '9791009307375'
                        title: 'Reprehenderit voluptatem quaerat qui quaerat sit fugiat.'
                        summary: "Voluptatem eum rerum consequuntur earum nesciunt quam. Deleniti tempora omnis quo aspernatur. Dolore sed facere quis omnis fugit. Expedita perferendis neque aspernatur officiis qui quis amet.\n"
                        pageCount: 4
                        links:
                          self: 'http://api.trovster.com/books/9791009307375'
                          permalink: 'http://www.trovster.com/books/9791009307375/cumque-voluptas-dolorem-dicta-est-quod-iusto-voluptas'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 437
                        isbn:
                          type: string
                          example: '9780223190108'
                        title:
                          type: string
                          example: 'Deleniti omnis voluptas quam id.'
                        summary:
                          type: string
                          example: "Atque consequatur dolore quia omnis quod aspernatur porro omnis. Eaque optio similique ad eaque molestiae ut. Ut error ut eveniet eos sunt asperiores. Nisi nam ab qui expedita id facilis.\n"
                        pageCount:
                          type: integer
                          example: 5
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/books/9780223190108'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/books/9780223190108/ut-exercitationem-iusto-voluptas'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Books
  '/books/{isbn}':
    get:
      summary: ''
      operationId: getBooksIsbn
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 439
                    isbn: '9793698366671'
                    title: 'Ipsam et repellendus itaque aut.'
                    summary: "Voluptates molestiae eaque sed quam perspiciatis. Esse cum atque ex dolores eveniet aspernatur. Nihil ad voluptatem quaerat id tempore corporis voluptates unde. Ex minus enim quia.\n"
                    pageCount: 8
                    links:
                      self: 'http://api.trovster.com/books/9793698366671'
                      permalink: 'http://www.trovster.com/books/9793698366671/quaerat-ut-laboriosam-maiores-architecto-pariatur'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 439
                      isbn:
                        type: string
                        example: '9793698366671'
                      title:
                        type: string
                        example: 'Ipsam et repellendus itaque aut.'
                      summary:
                        type: string
                        example: "Voluptates molestiae eaque sed quam perspiciatis. Esse cum atque ex dolores eveniet aspernatur. Nihil ad voluptatem quaerat id tempore corporis voluptates unde. Ex minus enim quia.\n"
                      pageCount:
                        type: integer
                        example: 8
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/books/9793698366671'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/books/9793698366671/quaerat-ut-laboriosam-maiores-architecto-pariatur'
      tags:
        - Books
    parameters:
      -
        in: path
        name: isbn
        description: 'The ISBN of the book.'
        example: 9781419720178
        required: true
        schema:
          type: integer
  /books/read:
    post:
      summary: ''
      operationId: postBooksRead
      description: ''
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2015-03-25T00:00:00.000000Z'
                    rating: 5
                    book:
                      id: 436
                      isbn: '9788600647535'
                      title: 'Porro dicta sint quo et ut.'
                      summary: "Id fugiat quia ducimus dolorem vel. Et debitis dolore voluptatibus ullam ratione optio vel.\n"
                      pageCount: 8
                      links:
                        self: 'http://api.trovster.com/books/9788600647535'
                        permalink: 'http://www.trovster.com/books/9788600647535/quia-eveniet-neque-esse-temporibus-veniam-eligendi'
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2015-03-25T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 5
                      book:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 436
                          isbn:
                            type: string
                            example: '9788600647535'
                          title:
                            type: string
                            example: 'Porro dicta sint quo et ut.'
                          summary:
                            type: string
                            example: "Id fugiat quia ducimus dolorem vel. Et debitis dolore voluptatibus ullam ratione optio vel.\n"
                          pageCount:
                            type: integer
                            example: 8
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'http://api.trovster.com/books/9788600647535'
                              permalink:
                                type: string
                                example: 'http://www.trovster.com/books/9788600647535/quia-eveniet-neque-esse-temporibus-veniam-eligendi'
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '2002-03-14'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 4
                book_id:
                  type: integer
                  description: ''
                  example: 16
              required:
                - date
                - book_id
  /fitness:
    get:
      summary: ''
      operationId: getFitness
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 438
                      date: '1981-12-20T00:00:00+00:00'
                      summary: 'I took 5 steps, walked 0.00 miles and climbed 8 flights on 20/12/1981'
                      steps: 5
                      distance: 2
                      flights: 8
                      move:
                        total: 6
                        goal: 2
                        percent: 300
                        complete: true
                      exercise:
                        total: 9
                        goal: 7
                        percent: 129
                        complete: true
                      stand:
                        total: 3
                        goal: 7
                        percent: 43
                        complete: false
                      links:
                        self: 'http://api.trovster.com/fitness/1981-12-20'
                        permalink: 'http://www.trovster.com/activities/1981-12-20'
                    -
                      id: 439
                      date: '2019-06-19T00:00:00+00:00'
                      summary: 'I took 1 steps, walked 0.00 miles and climbed 4 flights on 19/06/2019'
                      steps: 1
                      distance: 5
                      flights: 4
                      move:
                        total: 4
                        goal: 8
                        percent: 50
                        complete: false
                      exercise:
                        total: 5
                        goal: 6
                        percent: 83
                        complete: false
                      stand:
                        total: 8
                        goal: 5
                        percent: 160
                        complete: true
                      links:
                        self: 'http://api.trovster.com/fitness/2019-06-19'
                        permalink: 'http://www.trovster.com/activities/2019-06-19'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 438
                        date: '1981-12-20T00:00:00+00:00'
                        summary: 'I took 5 steps, walked 0.00 miles and climbed 8 flights on 20/12/1981'
                        steps: 5
                        distance: 2
                        flights: 8
                        move:
                          total: 6
                          goal: 2
                          percent: 300
                          complete: true
                        exercise:
                          total: 9
                          goal: 7
                          percent: 129
                          complete: true
                        stand:
                          total: 3
                          goal: 7
                          percent: 43
                          complete: false
                        links:
                          self: 'http://api.trovster.com/fitness/1981-12-20'
                          permalink: 'http://www.trovster.com/activities/1981-12-20'
                      -
                        id: 439
                        date: '2019-06-19T00:00:00+00:00'
                        summary: 'I took 1 steps, walked 0.00 miles and climbed 4 flights on 19/06/2019'
                        steps: 1
                        distance: 5
                        flights: 4
                        move:
                          total: 4
                          goal: 8
                          percent: 50
                          complete: false
                        exercise:
                          total: 5
                          goal: 6
                          percent: 83
                          complete: false
                        stand:
                          total: 8
                          goal: 5
                          percent: 160
                          complete: true
                        links:
                          self: 'http://api.trovster.com/fitness/2019-06-19'
                          permalink: 'http://www.trovster.com/activities/2019-06-19'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 438
                        date:
                          type: string
                          example: '1981-12-20T00:00:00+00:00'
                        summary:
                          type: string
                          example: 'I took 5 steps, walked 0.00 miles and climbed 8 flights on 20/12/1981'
                        steps:
                          type: integer
                          example: 5
                        distance:
                          type: integer
                          example: 2
                        flights:
                          type: integer
                          example: 8
                        move:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 6
                            goal:
                              type: integer
                              example: 2
                            percent:
                              type: integer
                              example: 300
                            complete:
                              type: boolean
                              example: true
                        exercise:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 9
                            goal:
                              type: integer
                              example: 7
                            percent:
                              type: integer
                              example: 129
                            complete:
                              type: boolean
                              example: true
                        stand:
                          type: object
                          properties:
                            total:
                              type: integer
                              example: 3
                            goal:
                              type: integer
                              example: 7
                            percent:
                              type: integer
                              example: 43
                            complete:
                              type: boolean
                              example: false
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/fitness/1981-12-20'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/activities/1981-12-20'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Health
  '/fitness/{health_date}':
    get:
      summary: ''
      operationId: getFitnessHealth_date
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 440
                    date: '1986-10-18T00:00:00+00:00'
                    summary: 'I took 5 steps, walked 0.00 miles and climbed 3 flights on 18/10/1986'
                    steps: 5
                    distance: 1
                    flights: 3
                    move:
                      total: 1
                      goal: 5
                      percent: 20
                      complete: false
                    exercise:
                      total: 2
                      goal: 2
                      percent: 100
                      complete: true
                    stand:
                      total: 3
                      goal: 1
                      percent: 300
                      complete: true
                    links:
                      self: 'http://api.trovster.com/fitness/1986-10-18'
                      permalink: 'http://www.trovster.com/activities/1986-10-18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 440
                      date:
                        type: string
                        example: '1986-10-18T00:00:00+00:00'
                      summary:
                        type: string
                        example: 'I took 5 steps, walked 0.00 miles and climbed 3 flights on 18/10/1986'
                      steps:
                        type: integer
                        example: 5
                      distance:
                        type: integer
                        example: 1
                      flights:
                        type: integer
                        example: 3
                      move:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          goal:
                            type: integer
                            example: 5
                          percent:
                            type: integer
                            example: 20
                          complete:
                            type: boolean
                            example: false
                      exercise:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          goal:
                            type: integer
                            example: 2
                          percent:
                            type: integer
                            example: 100
                          complete:
                            type: boolean
                            example: true
                      stand:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 3
                          goal:
                            type: integer
                            example: 1
                          percent:
                            type: integer
                            example: 300
                          complete:
                            type: boolean
                            example: true
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/fitness/1986-10-18'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/activities/1986-10-18'
      tags:
        - Health
    parameters:
      -
        in: path
        name: health_date
        description: 'Date of the fitness activity in YYYY-MM-DD format.'
        example: '2023-12-25'
        required: true
        schema:
          type: date
  /movies:
    get:
      summary: ''
      operationId: getMovies
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 3980
                      title: 'rerum voluptatem soluta'
                      summary: 'Voluptatem neque omnis reprehenderit qui laudantium id. Ut omnis optio eos cum optio deserunt. Et id in sit culpa necessitatibus doloremque. Sit vel aut reiciendis impedit. Repellendus officia consequatur eligendi sit est. Nihil est non velit maiores ullam voluptate id. Dolores temporibus quam sed voluptatem quaerat fugit.'
                      tagline: 'Aut rerum ad quas quo voluptates.'
                      year: 2020
                      runtime: 232
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'http://api.trovster.com/movies/3980'
                        permalink: 'http://www.trovster.com/movies/id:3980/rerum-voluptatem-soluta'
                        imdb: 'https://www.imdb.com/title/tt9322501'
                        tmdb: 'https://www.themoviedb.org/movie/4439'
                        letterboxd: 'https://boxd.it/1467'
                    -
                      id: 3981
                      title: 'corrupti voluptates laborum'
                      summary: 'Expedita hic autem voluptate similique aut est. Voluptas dolores sed vel eveniet neque voluptatem numquam. Recusandae sit nulla saepe dolorem est nihil nobis aut. Et rerum dolores omnis. Quia voluptates et pariatur dignissimos dolore sequi. Laborum assumenda natus nulla delectus. Illo porro aut doloribus id porro pariatur quo.'
                      tagline: 'Non quis et nihil eius aut eos neque.'
                      year: 1974
                      runtime: 233
                      rating: 0
                      count: 0
                      poster: null
                      still: null
                      links:
                        self: 'http://api.trovster.com/movies/3981'
                        permalink: 'http://www.trovster.com/movies/id:3981/corrupti-voluptates-laborum'
                        imdb: 'https://www.imdb.com/title/tt7413230'
                        tmdb: 'https://www.themoviedb.org/movie/7572'
                        letterboxd: 'https://boxd.it/1878'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 3980
                        title: 'rerum voluptatem soluta'
                        summary: 'Voluptatem neque omnis reprehenderit qui laudantium id. Ut omnis optio eos cum optio deserunt. Et id in sit culpa necessitatibus doloremque. Sit vel aut reiciendis impedit. Repellendus officia consequatur eligendi sit est. Nihil est non velit maiores ullam voluptate id. Dolores temporibus quam sed voluptatem quaerat fugit.'
                        tagline: 'Aut rerum ad quas quo voluptates.'
                        year: 2020
                        runtime: 232
                        rating: 0
                        count: 0
                        poster: null
                        still: null
                        links:
                          self: 'http://api.trovster.com/movies/3980'
                          permalink: 'http://www.trovster.com/movies/id:3980/rerum-voluptatem-soluta'
                          imdb: 'https://www.imdb.com/title/tt9322501'
                          tmdb: 'https://www.themoviedb.org/movie/4439'
                          letterboxd: 'https://boxd.it/1467'
                      -
                        id: 3981
                        title: 'corrupti voluptates laborum'
                        summary: 'Expedita hic autem voluptate similique aut est. Voluptas dolores sed vel eveniet neque voluptatem numquam. Recusandae sit nulla saepe dolorem est nihil nobis aut. Et rerum dolores omnis. Quia voluptates et pariatur dignissimos dolore sequi. Laborum assumenda natus nulla delectus. Illo porro aut doloribus id porro pariatur quo.'
                        tagline: 'Non quis et nihil eius aut eos neque.'
                        year: 1974
                        runtime: 233
                        rating: 0
                        count: 0
                        poster: null
                        still: null
                        links:
                          self: 'http://api.trovster.com/movies/3981'
                          permalink: 'http://www.trovster.com/movies/id:3981/corrupti-voluptates-laborum'
                          imdb: 'https://www.imdb.com/title/tt7413230'
                          tmdb: 'https://www.themoviedb.org/movie/7572'
                          letterboxd: 'https://boxd.it/1878'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 3980
                        title:
                          type: string
                          example: 'rerum voluptatem soluta'
                        summary:
                          type: string
                          example: 'Voluptatem neque omnis reprehenderit qui laudantium id. Ut omnis optio eos cum optio deserunt. Et id in sit culpa necessitatibus doloremque. Sit vel aut reiciendis impedit. Repellendus officia consequatur eligendi sit est. Nihil est non velit maiores ullam voluptate id. Dolores temporibus quam sed voluptatem quaerat fugit.'
                        tagline:
                          type: string
                          example: 'Aut rerum ad quas quo voluptates.'
                        year:
                          type: integer
                          example: 2020
                        runtime:
                          type: integer
                          example: 232
                        rating:
                          type: integer
                          example: 0
                        count:
                          type: integer
                          example: 0
                        poster:
                          type: string
                          example: null
                        still:
                          type: string
                          example: null
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/movies/3980'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/movies/id:3980/rerum-voluptatem-soluta'
                            imdb:
                              type: string
                              example: 'https://www.imdb.com/title/tt9322501'
                            tmdb:
                              type: string
                              example: 'https://www.themoviedb.org/movie/4439'
                            letterboxd:
                              type: string
                              example: 'https://boxd.it/1467'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Movies
  '/movies/{ID}':
    get:
      summary: ''
      operationId: getMoviesID
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3982
                    title: 'praesentium alias voluptas'
                    summary: 'Explicabo qui repellat autem nam animi voluptatem. Illum qui quia non nulla et. Veniam dolorem facere cum nihil suscipit vitae. Omnis rem eos sed sunt nostrum. Praesentium et est eveniet quod assumenda dolores possimus. Quo perferendis nulla iusto.'
                    tagline: 'Eum fugiat facere vitae beatae eaque ipsum.'
                    year: 2011
                    runtime: 116
                    rating: 0
                    count: 0
                    poster: null
                    still: null
                    directors:
                      -
                        id: 6000
                        name: 'Isabel Edwards'
                    writers:
                      -
                        id: 6001
                        name: 'Grace Brown'
                    genres:
                      -
                        id: 189
                        name: accusamus
                    languages:
                      -
                        id: 236
                        name: at
                    links:
                      self: 'http://api.trovster.com/movies/3982'
                      permalink: 'http://www.trovster.com/movies/id:3982/praesentium-alias-voluptas'
                      imdb: 'https://www.imdb.com/title/tt9728975'
                      tmdb: 'https://www.themoviedb.org/movie/9917'
                      letterboxd: 'https://boxd.it/7604'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3982
                      title:
                        type: string
                        example: 'praesentium alias voluptas'
                      summary:
                        type: string
                        example: 'Explicabo qui repellat autem nam animi voluptatem. Illum qui quia non nulla et. Veniam dolorem facere cum nihil suscipit vitae. Omnis rem eos sed sunt nostrum. Praesentium et est eveniet quod assumenda dolores possimus. Quo perferendis nulla iusto.'
                      tagline:
                        type: string
                        example: 'Eum fugiat facere vitae beatae eaque ipsum.'
                      year:
                        type: integer
                        example: 2011
                      runtime:
                        type: integer
                        example: 116
                      rating:
                        type: integer
                        example: 0
                      count:
                        type: integer
                        example: 0
                      poster:
                        type: string
                        example: null
                      still:
                        type: string
                        example: null
                      directors:
                        type: array
                        example:
                          -
                            id: 6000
                            name: 'Isabel Edwards'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 6000
                            name:
                              type: string
                              example: 'Isabel Edwards'
                      writers:
                        type: array
                        example:
                          -
                            id: 6001
                            name: 'Grace Brown'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 6001
                            name:
                              type: string
                              example: 'Grace Brown'
                      genres:
                        type: array
                        example:
                          -
                            id: 189
                            name: accusamus
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 189
                            name:
                              type: string
                              example: accusamus
                      languages:
                        type: array
                        example:
                          -
                            id: 236
                            name: at
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 236
                            name:
                              type: string
                              example: at
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/movies/3982'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/movies/id:3982/praesentium-alias-voluptas'
                          imdb:
                            type: string
                            example: 'https://www.imdb.com/title/tt9728975'
                          tmdb:
                            type: string
                            example: 'https://www.themoviedb.org/movie/9917'
                          letterboxd:
                            type: string
                            example: 'https://boxd.it/7604'
      tags:
        - Movies
    parameters:
      -
        in: path
        name: ID
        description: 'The ID of the movie.'
        example: 123
        required: true
        schema:
          type: integer
  /movies/watched:
    post:
      summary: ''
      operationId: postMoviesWatched
      description: ''
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2006-01-04T00:00:00.000000Z'
                    rating: 6
                    type: DVD
                    movie:
                      id: 1
                      title: 'The Chronicles of Riddick'
                      summary: '5 years after Pitch Black, the wanted criminal Riddick arrives on a planet called Helion Prime, and finds himself up against an invading empire called the Necromongers, an army that plans to convert or kill all humans in the universe.'
                      tagline: "All the power in the universe can't change destiny"
                      year: 2004
                      runtime: 119
                      rating: 6
                      count: 1
                      poster: null
                      still: null
                      links:
                        self: 'https://api.trovster.com/movies/1'
                        permalink: 'https://www.trovster.com/movies/id:1/the-chronicles-of-riddick'
                        imdb: 'https://www.imdb.com/title/tt0296572'
                        tmdb: 'https://www.themoviedb.org/movie/2789'
                        letterboxd: ''
                  status: 201
                  message: Created
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2006-01-04T00:00:00.000000Z'
                      rating:
                        type: integer
                        example: 6
                      type:
                        type: string
                        example: DVD
                      movie:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          title:
                            type: string
                            example: 'The Chronicles of Riddick'
                          summary:
                            type: string
                            example: '5 years after Pitch Black, the wanted criminal Riddick arrives on a planet called Helion Prime, and finds himself up against an invading empire called the Necromongers, an army that plans to convert or kill all humans in the universe.'
                          tagline:
                            type: string
                            example: "All the power in the universe can't change destiny"
                          year:
                            type: integer
                            example: 2004
                          runtime:
                            type: integer
                            example: 119
                          rating:
                            type: integer
                            example: 6
                          count:
                            type: integer
                            example: 1
                          poster:
                            type: string
                            example: null
                          still:
                            type: string
                            example: null
                          links:
                            type: object
                            properties:
                              self:
                                type: string
                                example: 'https://api.trovster.com/movies/1'
                              permalink:
                                type: string
                                example: 'https://www.trovster.com/movies/id:1/the-chronicles-of-riddick'
                              imdb:
                                type: string
                                example: 'https://www.imdb.com/title/tt0296572'
                              tmdb:
                                type: string
                                example: 'https://www.themoviedb.org/movie/2789'
                              letterboxd:
                                type: string
                                example: ''
                  status:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: Created
      tags:
        - Movies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>now</code>.'
                  example: '1999-06-30'
                rating:
                  type: integer
                  description: 'Must be between 1 and 10 digits.'
                  example: 9
                type:
                  type: string
                  description: ''
                  example: dvd
                  enum:
                    - dvd
                    - cinema
                    - netflix
                    - prime
                    - disney
                    - vod
                imdb_id:
                  type: string
                  description: 'Must start with one of <code>tt</code> Must be at least 6 characters. Must not be greater than 10 characters.'
                  example: tt0338013
              required:
                - date
                - rating
                - type
                - imdb_id
  /photos:
    get:
      summary: ''
      operationId: getPhotos
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: null
                      title: 'Eius assumenda ratione qui eveniet mollitia. Ad autem corporis velit porro iure eum. Consequatur odio ab aliquid ab eveniet ullam earum.'
                      date: '2017-09-25T23:20:39+00:00'
                      service: instagram
                      type: Video
                      src: 'https://www.trovster.com/images/photos/thumbnails/8a547618a88d4a1a479649483d81204d8c7462d9.jpg'
                      links:
                        self: 'http://api.trovster.com/photos/f0adf5a0ae91333a89c794a7e9edf500'
                        permalink: 'http://www.trovster.com/photos/f0adf5a0ae91333a89c794a7e9edf500'
                    -
                      id: 1441
                      title: 'Eveniet numquam sit labore ratione qui eos ut. Necessitatibus quaerat nam voluptatibus exercitationem deserunt modi magni. Officia nisi dolorem nobis facilis id sed cumque. Ut sunt eos est.'
                      date: '2017-12-05T14:57:26+00:00'
                      service: strava
                      type: Video
                      src: 'https://www.trovster.com/images/photos/activities/thumbnails/09f827b9607cc67f9eb78d2087ba547b1720452e.jpg'
                      links:
                        self: 'http://api.trovster.com/photos/7c45aeead1e88527f13a1670cee3c3dc'
                        permalink: 'http://www.trovster.com/photos/7c45aeead1e88527f13a1670cee3c3dc'
                  links:
                    first: '/?page=1'
                    last: '/?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: Previous
                        active: false
                      -
                        url: '/?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: Next
                        active: false
                    path: /
                    per_page: 10
                    to: 2
                    total: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: null
                        title: 'Eius assumenda ratione qui eveniet mollitia. Ad autem corporis velit porro iure eum. Consequatur odio ab aliquid ab eveniet ullam earum.'
                        date: '2017-09-25T23:20:39+00:00'
                        service: instagram
                        type: Video
                        src: 'https://www.trovster.com/images/photos/thumbnails/8a547618a88d4a1a479649483d81204d8c7462d9.jpg'
                        links:
                          self: 'http://api.trovster.com/photos/f0adf5a0ae91333a89c794a7e9edf500'
                          permalink: 'http://www.trovster.com/photos/f0adf5a0ae91333a89c794a7e9edf500'
                      -
                        id: 1441
                        title: 'Eveniet numquam sit labore ratione qui eos ut. Necessitatibus quaerat nam voluptatibus exercitationem deserunt modi magni. Officia nisi dolorem nobis facilis id sed cumque. Ut sunt eos est.'
                        date: '2017-12-05T14:57:26+00:00'
                        service: strava
                        type: Video
                        src: 'https://www.trovster.com/images/photos/activities/thumbnails/09f827b9607cc67f9eb78d2087ba547b1720452e.jpg'
                        links:
                          self: 'http://api.trovster.com/photos/7c45aeead1e88527f13a1670cee3c3dc'
                          permalink: 'http://www.trovster.com/photos/7c45aeead1e88527f13a1670cee3c3dc'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: null
                        title:
                          type: string
                          example: 'Eius assumenda ratione qui eveniet mollitia. Ad autem corporis velit porro iure eum. Consequatur odio ab aliquid ab eveniet ullam earum.'
                        date:
                          type: string
                          example: '2017-09-25T23:20:39+00:00'
                        service:
                          type: string
                          example: instagram
                        type:
                          type: string
                          example: Video
                        src:
                          type: string
                          example: 'https://www.trovster.com/images/photos/thumbnails/8a547618a88d4a1a479649483d81204d8c7462d9.jpg'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://api.trovster.com/photos/f0adf5a0ae91333a89c794a7e9edf500'
                            permalink:
                              type: string
                              example: 'http://www.trovster.com/photos/f0adf5a0ae91333a89c794a7e9edf500'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: '/?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: Previous
                            active: false
                          -
                            url: '/?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: Next
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: Previous
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 2
      tags:
        - Photos
  '/photos/{photoPost_ShortCode}':
    get:
      summary: ''
      operationId: getPhotosPhotoPost_ShortCode
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    title: 'Molestias dolor ab aut id quisquam dignissimos. Repellat numquam eaque eos eligendi ut est.'
                    date: '2023-02-18T01:09:39+00:00'
                    service: strava
                    type: Video
                    src: 'https://www.trovster.com/images/photos/activities/thumbnails/18283399e13a5ad6fd0e3ad175f928c83fec1367.jpg'
                    html: "<p>Molestias dolor ab aut id quisquam dignissimos. Repellat numquam eaque eos eligendi ut est.</p>\n"
                    links:
                      self: 'http://api.trovster.com/photos/40e10f0b2426e8861024ce44d9971a9a'
                      permalink: 'http://www.trovster.com/photos/40e10f0b2426e8861024ce44d9971a9a'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      title:
                        type: string
                        example: 'Molestias dolor ab aut id quisquam dignissimos. Repellat numquam eaque eos eligendi ut est.'
                      date:
                        type: string
                        example: '2023-02-18T01:09:39+00:00'
                      service:
                        type: string
                        example: strava
                      type:
                        type: string
                        example: Video
                      src:
                        type: string
                        example: 'https://www.trovster.com/images/photos/activities/thumbnails/18283399e13a5ad6fd0e3ad175f928c83fec1367.jpg'
                      html:
                        type: string
                        example: "<p>Molestias dolor ab aut id quisquam dignissimos. Repellat numquam eaque eos eligendi ut est.</p>\n"
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://api.trovster.com/photos/40e10f0b2426e8861024ce44d9971a9a'
                          permalink:
                            type: string
                            example: 'http://www.trovster.com/photos/40e10f0b2426e8861024ce44d9971a9a'
      tags:
        - Photos
    parameters:
      -
        in: path
        name: photoPost_ShortCode
        description: ''
        example: CWRR-ZiotJM
        required: true
        schema:
          type: string
  /statistics:
    get:
      summary: ''
      operationId: getStatistics
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  links:
                    Y2020: 'http://api.trovster.com/statistics/2020'
                    Y2021: 'http://api.trovster.com/statistics/2021'
                    Y2022: 'http://api.trovster.com/statistics/2022'
                    Y2023: 'http://api.trovster.com/statistics/2023'
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: OK
                  links:
                    type: object
                    properties:
                      Y2020:
                        type: string
                        example: 'http://api.trovster.com/statistics/2020'
                      Y2021:
                        type: string
                        example: 'http://api.trovster.com/statistics/2021'
                      Y2022:
                        type: string
                        example: 'http://api.trovster.com/statistics/2022'
                      Y2023:
                        type: string
                        example: 'http://api.trovster.com/statistics/2023'
      tags:
        - Statistics
  '/statistics/{year}':
    get:
      summary: ''
      operationId: getStatisticsYear
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  message: OK
                  movies:
                    count: 380
                    time: '668'
                    top:
                      -
                        id: 2865
                        title: ‘71
                        summary: 'In 1971, a young and disoriented British soldier is accidentally abandoned by his unit following a riot on the deadly streets of Belfast.'
                        tagline: 'Alone behind enemy lines.'
                        year: 2014
                        runtime: 99
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2865]_71.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2865]_71.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2865'
                          permalink: 'https://www.trovster.test/movies/id:2865/71'
                          imdb: 'https://www.imdb.com/title/tt2614684'
                          tmdb: 'https://www.themoviedb.org/movie/252178'
                          letterboxd: 'https://boxd.it/7nWK'
                      -
                        id: 2765
                        title: '3 Idiots'
                        summary: 'Two friends are searching for their long lost companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots".'
                        tagline: "Don't be Stupid. Be an I.D.I.O.T."
                        year: 2009
                        runtime: 170
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2765]_3-idiots.jpg'
                        still: 'https://www.trovster.test/images/movies/still/[2765]_3-idiots.jpg'
                        links:
                          self: 'https://api.trovster.com/movies/2765'
                          permalink: 'https://www.trovster.test/movies/id:2765/3-idiots'
                          imdb: 'https://www.imdb.com/title/tt1187043'
                          tmdb: 'https://www.themoviedb.org/movie/20453'
                          letterboxd: ''
                      -
                        id: 2827
                        title: 'A Quiet Place Part II'
                        summary: 'Following the events at home, the Abbott family now face the terrors of the outside world. Forced to venture into the unknown, they realize the creatures that hunt by sound are not the only threats lurking beyond the sand path.'
                        tagline: 'Silence is Not Enough'
                        year: 2020
                        runtime: 97
                        rating: 9
                        count: 1
                        poster: 'https://www.trovster.test/images/movies/poster/[2827]_a-quiet-place-part-ii.jpg'
[...]
